{if isset($videogallery_home) && !empty($videogallery_home)}
<div class="video" style="padding: 0; float: left; width: 681px;">
<iframe width="683" height="410" frameborder="0" src="{$videogallery_home.video_url}"></iframe>
</div>
{/if}