<div class="desktop_hot_sec">
{hook h="hotProducts" category_id=2 itemlist=4}
</div> <!--/desktop_hot_sec-->

<div class="tab_hot_sec">
{hook h="hotProducts" category_id=2 itemlist=2}
</div> <!--/tab_hot_sec-->


<div class="mob_hot_sec">
{hook h="hotProducts" category_id=2 itemlist=1}
</div> <!--/mob_hot_sec-->




<div class="container">
	<div class="row">
			{hook h='displayVideoPromotion'}
			{hook h='bannerDisplayRight' section='video-section'}
	</div> <!--/row-->
</div> <!--/container-->

{hook h='VanityStaticInfo'}


