.header_user_info {
   display: inline-block;
  /*float: right;
  border-left: 1px solid #515151;
  border-right: 1px solid #515151;
    position: absolute;
    right: 152px;
    top: 33px;
    margin: 0px;
    background: #000;
	background-image:url('http://localhost/vanity_cart/themes/default-bootstrap/img/sign-in.png');
	background-repeat:no-repeat;*/
	}

  .header_user_info a {
    color: #fff;
    font-weight: bold;
    display: block;
    /* padding: 8px 9px 11px 8px; */
    cursor: pointer;
	width: 24px;
    height: 20px;
    line-height: 18px; }
    @media (max-width: 479px) {
      .header_user_info a {
        font-size: 11px; } }
		
	/* .header_user_info a{}
	.header_user_info a.account{background-image:url("../../../img/login/user-active.png");
	background-repeat:no-repeat; margin: 0px 22px -3px 0px;}
	.header_user_info a.account span{display:none;}
	.header_user_info a.login {background-image:url("../../../img/login/user.png");
	background-repeat:no-repeat; margin: 0px 0px -3px 0px;}
	.header_user_info a.logout {background-image:url("../../../img/login/logout.png");
	background-repeat:no-repeat; margin: 0px 0px -3px 0px;} */
		
    .header_user_info a:hover, .header_user_info a.active {
      /*background: #2b2b2b;*/ }
	  
/* Userinfo */

.logo-right-sec li .header_user_info  a{
	position: relative;
	display: inline;
	color:#000;
	font-family: 'Oxygen', sans-serif;
	font-size:13px;
	font-weight:700;
	color:#666;
	text-transform:uppercase;
	border: 1px solid #ededed;
    border-radius: 25px;
    padding: 10px 22px 10px 40px;
	}
.logo-right-sec li .header_user_info a.login{padding: 10px 15px 10px 45px;}
.logo-right-sec li .header_user_info a.login img{left:12px;}
.logo-right-sec li .header_user_info a img{position:absolute;top:7px;left:10px;}
.logo-right-sec li .header_user_info a sapn{padding-right: 6px;}
.logo-right-sec li .header_user_info a.account{color:#98055e;}
.logo-right-sec li .header_user_info .dropdown.open a.account{
    -webkit-box-shadow: 1px 8px 12px rgba(0,0,0,.175);
    box-shadow: 0px 0px 5px rgba(0,0,0,.175);
    background: #fff8ef;
    border: none;
    border-radius: 0px;
	}
.logo-right-sec li .header_user_info .dropdown a:hover, .logo-right-sec li .header_user_info .dropdown a:focus{text-decoration:none;}
.logo-right-sec li .header_user_info a img.dwn_arrw{position:absolute;top: 16px;right: 10px;left: auto;}
.header_user_info .dropdown .dropdown-menu {
    z-index: 9999;
    margin-top: 10px;
    border: none;
    background: #fff8ef;
	margin-top: 9px;
    border: none;
    background: #fff8ef;
    width: 115%;
    border-radius: 0px;
	padding-top: 20px;
}
.header_user_info .dropdown .dropdown-menu li{
	display: block;
	padding:0px 32px;
	border-radius: 0px;
}
.header_user_info .dropdown .dropdown-menu li a {
    display: block;
    text-transform: capitalize;
    color: #1a1a1a;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 13px;
    padding: 8px;
    margin: 0px;
    width: auto;
    height: auto;
    text-align: left;
	text-transform: uppercase;
	border-radius:0px;
	border:none;
    border-bottom: 1px solid #e9e2c4;	
}
.header_user_info .dropdown .dropdown-menu li:last-child a{border:none;}
.header_user_info .dropdown .dropdown-menu li a:hover{color:#98055e;background:none;}
.header_user_info .dropdown .dropdown-menu li a:focus{color:#1a1a1a;background:none;}
.header_user_info .dropdown .dropdown-menu li a i{
	display:none;
}


/* Login + My Account design in Mobile */

.main-navbar ul li.mob_profile{
border-top: 1px solid #e6e6e6;
display:none;
}

.main-navbar ul li.mob_profile .header_user_info{
   display:block;
}

.main-navbar ul li.mob_profile .header_user_info a{
   display:block;
   width: 100%;
   color: #000;
   font-family: 'Oswald', sans-serif;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	color: #555;
	letter-spacing: 1px;
	/* padding: 19px 10px 17px; */
	padding: 10px;
	border:none;
	height: auto;
    line-height: normal;
}


.main-navbar ul li.mob_profile .header_user_info a.account {
    color: #98055e;
}
.main-navbar ul li.mob_profile .header_user_info a img {
    /* position: absolute;
    top: 7px;
    left: 10px; */
	display:none;
}
.main-navbar ul li.mob_profile .header_user_info a.account {
    display:none;
}
/* .main-navbar ul li.mob_profile .header_user_info a img.dwn_arrw {
    position: absolute;
    top: 16px;
    right: 10px;
    left: auto;
} */
.main-navbar ul li.mob_profile .header_user_info .dropdown .dropdown-menu{
	padding: 0px;
	margin: 0px;
	background: none;
	box-shadow: none;
	display:block !important;
}
.main-navbar ul li.mob_profile .header_user_info .dropdown .dropdown-menu li {
    padding: 0px;
	border: none;
}


@media (max-width: 991px){

.header_user_info .dropdown .dropdown-menu{
	width:100%;
	padding-top: 5px;
	-webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 12px 12px rgba(0, 0, 0, 0.175);
}
.main-navbar ul li.mob_profile .header_user_info .dropdown .dropdown-menu li {
    display: block;
    padding: 0px 10px;
	border-bottom: 1px solid #f1f1f1;
}
.main-navbar ul li.mob_profile .header_user_info .dropdown .dropdown-menu li:last-child{border-bottom:none;}
}

@media (max-width: 767px) {
.main-navbar ul li.mob_profile .header_user_info .dropdown .dropdown-menu li a {
    padding: 10px 0px;
}

@media (max-width: 600px){
.main-navbar ul li.mob_profile{display:block;}
.logo-right-sec li .header_user_info a{border:none;}
.logo-right-sec li .header_user_info a.account span{display:none;}
.main-navbar ul.navbar-nav {padding: 0px 15px;}
}



/*# sourceMappingURL=blockuserinfo.css.map */
