/* lnk on detail product page */
#wishlist_button, #wishlist_button_nopop {
  font-weight: 700;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
  border-color: transparent;
  margin: auto;
  outline: 0;
  cursor: pointer; }
  #wishlist_button:before, #wishlist_button_nopop:before {
    content: "\f08a";
    font: 400 15px/31px "FontAwesome";
    color: #fff;
    background: #929292;
    width: 30px;
    text-align: center;
    display: inline-block;
    height: 30px;
    margin: 0 6px 0 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; }

/* wishlist block */
#wishlist_block #wishlist_block_list {
  margin: 0 0 20px 0; }
  #wishlist_block #wishlist_block_list dl {
    font-weight: 400; }
    #wishlist_block #wishlist_block_list dl.products.no-products {
      font-weight: 700;
      padding: 0 0 15px 0;
      border-bottom: 1px solid #d6d4d4; }
      #wishlist_block #wishlist_block_list dl.products.no-products dt {
        padding: 0;
        border-top: none; }
      #wishlist_block #wishlist_block_list dl.products.no-products dd {
        display: none; }
    #wishlist_block #wishlist_block_list dl.products {
      border-bottom: 1px solid #d6d4d4; }
      #wishlist_block #wishlist_block_list dl.products dt {
        padding: 20px 0 0;
        border-top: 1px solid #d6d4d4; }
      #wishlist_block #wishlist_block_list dl.products dd {
        padding: 0 0 20px 0; }
      #wishlist_block #wishlist_block_list dl.products dt.first_item {
        padding: 0;
        border-top: none; }
    #wishlist_block #wishlist_block_list dl dt {
      position: relative;
      padding-right: 0; }
    #wishlist_block #wishlist_block_list dl dd {
      margin: 0 0 0 24px; }
#wishlist_block .lnk .form-group {
  margin: 0 0 20px 0; }
  #wishlist_block .lnk .form-group select {
    max-width: 192px; }
    @media (max-width: 767px) {
      #wishlist_block .lnk .form-group select {
        width: 192px; } }
#wishlist_block .ajax_cart_block_remove_link {
  font-size: 14px;
  line-height: 14px;
  color: #d3d2d2;
  width: 14px;
  height: 14px;
  float: right; }
  #wishlist_block .ajax_cart_block_remove_link:hover {
    color: #515151; }
#wishlist_block .cart_block_product_name {
  width: 85%;
  display: inline-block;
  font-weight: bold; }
#wishlist_block .quantity-formated {
  float: left;
  margin: 0 5px 0 0;
  width: 15px; }

#wishlist_block_list .price {
  float: right; }

/* page in my account ************************************************************************* */
#mywishlist td.wishlist_delete a {
  font-size: 15px; }

/* wishlistLinkTop */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
  display: inline-block; }

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
  border-bottom: 1px solid #d6d4d4;
  margin-bottom: 20px; }
  #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a {
    display: inline-block;
    color: #333;
    margin: 10px 10px 10px 0px;
    font-weight: bold; }
    #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a:hover {
      color: #515151; }

#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: left; }

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: right; }

#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
  display: none; }

/* wlp_bought ****************************************** */
/* wlp_bought_list */
ul.wlp_bought_list li {
  margin: 0 0 30px 0;
  /*> 992px*/
  /*768px x 991px*/ }
  ul.wlp_bought_list li .product_image {
    padding: 9px;
    border: 1px solid #d6d4d4;
    margin: 0 0 20px 0;
    max-width: 270px; }
  ul.wlp_bought_list li .product-name {
    margin: 0 0 10px 0;
    padding: 0 20px 0 0; }
    ul.wlp_bought_list li .product-name small {
      display: block;
      font-size: 11px; }
      ul.wlp_bought_list li .product-name small a {
        font-size: 11px; }
  ul.wlp_bought_list li .product_infos {
    position: relative; }
  ul.wlp_bought_list li .btn_action .btn {
    margin: 0 0 10px 0; }
  @media (min-width: 992px) {
    ul.wlp_bought_list li.first-in-line {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    ul.wlp_bought_list li.first-item-of-tablet-line {
      clear: left; } }

.wishlistLinkTop .submit {
  margin: 0 0 30px 0; }

ul.wlp_bought_list li .lnkdel {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px; }

#wishlist_button > .btn-group {
  width: 80%; }

ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover {
  padding: 0;
  min-width: 160px; }
  ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover .popover-content {
    padding: 0;
    min-width: 158px; }
  ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table {
    margin-bottom: 2px; }
    ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table td:hover {
      background-color: #cccccc;
      cursor: pointer; }

[id=wishlist_button] + .popover,
.wishlist_change_button + .popover {
  padding: 0;
  min-width: 150px; }
  [id=wishlist_button] + .popover .popover-content,
  .wishlist_change_button + .popover .popover-content {
    padding: 0; }
  [id=wishlist_button] + .popover table,
  .wishlist_change_button + .popover table {
    margin-bottom: 2px; }
    [id=wishlist_button] + .popover table td:hover,
    .wishlist_change_button + .popover table td:hover {
      background-color: #cccccc;
      cursor: pointer; }

/*# sourceMappingURL=blockwishlist.css.map */

#wishlistData{float: left; width: 25px; height: 25px;}
#wishlistData > .icon-heart-o:before, .icon-heart-empty:before {
    font-size:18px; color:#000;
}

.add-wishlist > .icon-heart-o:before, .icon-heart-empty:before {
    font-size:18px; color:#000;}

.add-wishlist > .icon-heart-o:before, .icon-heart:before {
    font-size:18px; color:#98055E; /* color:#b79d91 */;}


/* .wishlist-info{float: right; border: thin solid red;} */
.wishlist-info i::before{display: inline-block;
    content: "\f057";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 18px; color: #fff;}
/* .wishListCnt{    
width: 20px;    
height: 20px;    
background: red;    
position: absolute;    
border-radius: 20px;    
font-weight: 600;    
text-align: center;    
line-height: 1.5em;    
color: #fff;  
left: 18px;
top: -5px;
} */
#wishlistData{position:relative;}
.wishListCnt{
	position: absolute;
	bottom: 12px;
	right: -12px;
	background: #98055e;
	color: #fff;
	width: 22px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	border-radius: 50%;
	font-size: 10px;
}

#wishlistData > img {cursor:pointer;  margin-top: 3px;}

	
/* #wishlistProducts{display:none; position: absolute;    width: 56%;    background: #484848; z-index: 1; margin:15px 0 0 -50px;}
#wishlistInfo{width: 100%; position: relative; float: left;} 
.wishlist-info{width: 98%; float: left; display: block; border: thin solid green; padding: 5px;} */
#wishlistProducts h4{float: left; margin: 5px; text-align: center; width: 99%}

/* .wishlist-prod-img{width: 20%; float: left; display: block; border: thin solid blue; margin: 0 20px 0 0;}
.wishlist-prod-img img{width: 50px; margin: 0 !important;} */

#wishlistProducts{	
	position: absolute;
    top: 30px;
    right: 0;
    z-index: 9999;
    display: none;
    height: auto;
    background: #FFF8F0;
    color: #666666;
    width: 330px;
    font-family: 'Oxygen', sans-serif;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	/* display:block !important; */
	height: auto !important;
	padding-bottom: 15px !important;
}

#wishlistProducts .products{padding: 15px 0px;margin-bottom:0px;}


.wishlist-info {
    width: 100%;
    border-bottom: 1px solid #ebe1b9;
    padding: 0px 0px 15px;
    margin-bottom: 15px;
	text-align: left;
	font-family: 'Oxygen', sans-serif;
	position:relative;
	height: 95px;
}

#wishlistProducts .products .wishlist-info:last-child{margin-bottom:0px;}

.wishlist-prod-img{width: 20%; float: left; display: block; /* margin: 0 25px 0 0; */ margin: 0 38px 0 0;}
.wishlist-prod-img img{margin: 0 !important;width: 80px;height: 80px; object-fit: contain;}
.wishlist-pick-box {
    float: left;
    display: block;
    width: 15px;
    height: 80px;
	padding-top:30px;
    margin-right: 10px;}
.wishlist-info div{display:inline-block;}

.wishlist-prod-info .cart_block_product_name {
    font-size: 11px;
    line-height: normal;
    display: inline-block;
    color: #666 !important;
    font-weight: normal;
	font-family: 'Oxygen', sans-serif;
}
.wishlist-prod-info .quantity-formated{color: #666 !important;font-size: 11px;font-weight: normal;display:block;}
.wishlist-prod-info a{font-family: 'Oxygen', sans-serif;font-size: 11px;font-style: normal;}
.get-sale-alert{background:#fff;padding:5px 15px;border:1px solid #ccc;border-radius:15px;font-size: 11px;margin-top:3px;}
.wishlist-info .ajax_cart_block_remove_link{position:absolute;right:0px;top:0px;}
.wishlist-info .ajax_cart_block_remove_link i{color:#666;}
.wishlist-info i::before{color:#666;}
#get-sale-alert{padding: 8px 20px;}
#wishlist-add-to-bag{padding: 6px 25px;border-radius: 4px;margin-left: 10px;padding: 8px 20px;}
#wishlist-add-to-bag a{color:#fff;display: block;text-transform: uppercase;}
#wishlistInfo{text-align: left;/* padding: 0px 15px; */padding: 0px 0px 0px 15px !important;}
.whishlist-error-msgs{
	font-family: 'Oxyegen', sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	padding: 15px 0px 0px !important;
	text-transform: uppercase;
}
.wishlist-active{background:url(../../../../../modules/manageboard/css/prod-wishlist-hover.png) no-repeat !important;}
.wishlist_scroll{
	max-height: 318px;
}

/* Responsive */

@media (max-width: 767px){
	#wishlistProducts{right: -140px;}
}

