<ul id="test">
{if isset($header_top_brands_list)}
{foreach from=$header_top_brands_list item=list1 key=k1 name=outer}	
	  	
	  	<li><a href="{$base_path}{$list1.id}_{$list1.urlname}" ><img src="{$base_path}img/tmp/manufacturer_mini_{$list1.id}_{$list1.shop_id}.jpg" /></a></li>
  	
{/foreach}
{/if}
</ul>

