<p>Top Brands For Women Category</p>
<ul id="test">
{foreach from=$header_top_brands_list item=list1 key=k1 name=outer}	
  	
  	{if $k1 == 3}	
	  	{foreach from=$list1 key=k2 item=list2 name=inner}
		  		{if $smarty.foreach.inner.index == 10}
					{break}
				{/if}
	  			<li><a href="{$base_path}{$list2.id}_{$list2.urlname}" ><img src="{$base_path}img/tmp/manufacturer_mini_{$list2.id}_{$list2.shop_id}.jpg" /></a></li>

	  	{/foreach}
  	{/if}
{/foreach}
</ul>


<p>Top Brands For addcustom field</p>
<ul>
{foreach from=$header_top_brands_list item=list1 key=k1 name=outer}	
  	
  	{if $k1 == 12}	
	  	{foreach from=$list1 key=k2 item=list2 name=inner}

	  			{if $smarty.foreach.inner.index == 10}
									{break}
				{/if}
	  			
	  		<li><a href="{$base_path}{$list2.id}_{$list2.urlname}" ><img src="{$base_path}img/tmp/manufacturer_mini_{$list2.id}_{$list2.shop_id}.jpg" /></a></li>
	  	{/foreach}
  	{/if}
{/foreach}
</ul>


<p>Top Brands For Fashion category</p>
<ul>
{foreach from=$header_top_brands_list item=list1 key=k1 name=outer}	
  	
  	{if $k1 == 13}	
	  	{foreach from=$list1 key=k2 item=list2 name=inner}

	  			{if $smarty.foreach.inner.index == 10}
									{break}
				{/if}
	  			
	  			<li><a href="{$base_path}{$list2.id}_{$list2.urlname}" ><img src="{$base_path}img/tmp/manufacturer_mini_{$list2.id}_{$list2.shop_id}.jpg" /></a></li>
	  	{/foreach}
  	{/if}
{/foreach}
</ul>

<p>Top Brands For Beauty Category</p>
<ul>
{foreach from=$header_top_brands_list item=list1 key=k1 name=outer}	
  	
  	{if $k1 == 14}	
	  	{foreach from=$list1 key=k2 item=list2 name=inner}

	  			{if $smarty.foreach.inner.index == 10}
									{break}
				{/if}
	  			
	  			<li><a href="{$base_path}{$list2.id}_{$list2.urlname}" ><img src="{$base_path}img/tmp/manufacturer_mini_{$list2.id}_{$list2.shop_id}.jpg" /></a></li>
	  	{/foreach}
  	{/if}
{/foreach}
</ul>

<p>Top Brands For Accessories Category</p>
<ul>
{foreach from=$header_top_brands_list item=list1 key=k1 name=outer}	
  	
  	{if $k1 == 19}	
	  	{foreach from=$list1 key=k2 item=list2 name=inner}

	  			{if $smarty.foreach.inner.index == 10}
									{break}
				{/if}
	  			
	  			<li><a href="{$base_path}{$list2.id}_{$list2.urlname}" ><img src="{$base_path}img/tmp/manufacturer_mini_{$list2.id}_{$list2.shop_id}.jpg" /></a></li>
	  	{/foreach}
  	{/if}
{/foreach}
</ul>