<div class="footer-top-brand-list">
	<ul>
		{foreach from=$footer_top_brands_list item=list name=foo}
			{if $smarty.foreach.foo.index == 9}
				{break}
			{/if}
			<li><a href="{$base_path}{$list.id}_{$list.urlname}">{$list.displayname}</a></li>	
		{/foreach}
	</ul>
</div> <!--/footer-top-brand-list-->