.tz-carousel{
    position: relative;
    /* margin-top: 40px; */
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item{

}

#owl-slider  .owl-item li.item{
    height: auto !important;
	padding:0px;
}

#owl-slider  .owl-item li.item:hover{box-shadow: 0px 0px 8px rgba(0,0,0,0.2);}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item:hover{
    
}

.owl-carousel .owl-item:hover > li .product-container{
	z-index: 10000 !important;
}

#owl-slider  .owl-item li.item.hovered .product-container{
	
}

#owl-slider  .owl-item li .product-container{
    margin: 0 auto;
}

ul.product_list.grid  .owl-item li .product-container .product-image-container {
    /*padding: 40px 0 0 0;*/
    padding: 371px 0 0 0;
    margin-bottom: 13px;
    position: relative;
}

.owl-buttons{
    /*position: absolute;
    right:0;
    top: -54px;*/
}

.owl-buttons .owl-prev, .owl-buttons .owl-next{
    /*height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 0 !important;
    font-size: 20px !important;
    line-height: 50px !important;*/
    text-align: center;
	height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #ccc;
	position: absolute;
    top: 180px;
}

.owl-prev{
    margin-right: 1px !important;
	left:-24px;
}

.owl-next{
    margin-right: 15px !important;
	right:-41px;
}

.owl-buttons .owl-prev:before{
    font-family: "FontAwesome";
    content: "\f104";
    display: inline-block;
    color: #ccc;
}

.owl-buttons .owl-next:before{
    font-family: "FontAwesome";
    content: "\f105";
    display: inline-block;
    color: #ccc;
}



#owl-slider .owl-item li .product-container{
	/*border: 1px solid #d6d4d4;*/
	background: #fafafa;
}

/* Product Slider img hover effect */

/*ul.product_list .product-image-container img:hover{transform:rotateY(360deg);}*/

#owl-slider  .owl-item li.item:hover img{/*transform:rotateY(180deg);*/}

.img-inner{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.img-inner a{display: inline-block;}

.img-inner img{
    display:inline-block;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    }

#owl-slider  .owl-item li.item:hover img {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.img-inner img.secImg {
    z-index: 7;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#owl-slider  .owl-item li.item:hover img.secImg {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/*******************************************************
Product list(Grid) Styles 
********************************************************/
ul.product_list.grid   .owl-item li {
    padding-bottom: 20px;
    text-align: center; 
    margin-left: 15px;
    margin-right: 15px;
    }
@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list.grid   .owl-item li {
        float: left; } }
ul.product_list.grid   .owl-item li .product-container {
    background: white;
    padding: 0;
    position: relative; }
ul.product_list.grid   .owl-item li .product-container .product-image-container {
    /*padding: 0px 0 0 0;*/
    margin-bottom: 13px;
    position: relative; }
@media (max-width: 767px) {
    ul.product_list.grid   .owl-item li .product-container .product-image-container {
        max-width: 290px;
        margin-left: auto;
        margin-right: auto; } }
ul.product_list.grid   .owl-item li .product-container .product-image-container .content_price {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    background: url(../img/price-container-bg.png);
    padding: 9px 0;
    display: none; }

ul.product_list.grid   .owl-item li .product-container .product-image-container .content_price span {
    color: white; }
ul.product_list.grid   .owl-item li .product-container .product-image-container .content_price span.old-price {
    color: #b1b0b0; }
ul.product_list.grid   .owl-item li .product-container h5 {
    /*padding: 10px 57px 0 57px;min-height: 53px;*/padding:0px 0px 0px 15px; margin:0px;text-align:left;
     }
@media (min-width: 1200px) {
    ul.product_list.grid   .owl-item li .product-container .comments_note {
        display: none; } }
ul.product_list.grid   .owl-item li .product-container .comments_note .star_content {
    margin: 0 3px 12px 59px; }
ul.product_list.grid   .owl-item li .product-container .product-desc {
    display: none; }
ul.product_list.grid   .owl-item li .product-container .content_price {
    /*padding-bottom: 21px;
    line-height: 21px;*/ 
	text-align: left;
    padding: 0px 0px 0px 15px;
	font-size:13px;
}
ul.product_list.grid   .owl-item li .product-container .content_price span {
	font-size:13px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	color:#000;
}
ul.product_list.grid   .owl-item li .product-container .old-price,
ul.product_list.grid   .owl-item li .product-container .price,
ul.product_list.grid   .owl-item li .product-container .price-percent-reduction {
    display: inline-block; }
ul.product_list.grid   .owl-item li .product-container .product-flags {
    display: none; }
ul.product_list.grid   .owl-item li .product-container .old-price {
    margin-right: 5px; }
ul.product_list.grid   .owl-item li .product-container .button-container {
    padding-bottom: 20px; }
@media (min-width: 1200px) {
    ul.product_list.grid   .owl-item li .product-container .button-container {
        display: none; } }
ul.product_list.grid   .owl-item li .product-container .button-container .ajax_add_to_cart_button,
ul.product_list.grid   .owl-item li .product-container .button-container span.button,
ul.product_list.grid   .owl-item li .product-container .button-container .lnk_view {
    margin: 0 6px 10px 6px; }
ul.product_list.grid   .owl-item li .product-container .functional-buttons {
    background: url(../img/functional-bt-shadow.png) repeat-x;
    padding: 11px 0 5px; }
@media (min-width: 1200px) {
    ul.product_list.grid   .owl-item li .product-container .functional-buttons {
        display: none; } }
ul.product_list.grid   .owl-item li .product-container .functional-buttons div {
    width: 50%;
    float: left;
    padding: 3px 0 4px 0; }

@media (min-width: 1200px) {
    ul.product_list.grid   .owl-item li.hovered .product-container {
        -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
        -moz-box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
        box-shadow: rgba(0, 0, 0, 0.17) 0 0 13px;
        position: relative;
        z-index: 10; }
    ul.product_list.grid   .owl-item li.hovered .product-container .out-of-stock{
        display: none;
    }
    ul.product_list.grid   .owl-item li.hovered .product-container .content_price { }
    ul.product_list.grid   .owl-item li.hovered .product-container .product-image-container .content_price {
        display: none; }
    ul.product_list.grid   .owl-item li.hovered .product-container .product-image-container .quick-view {
        display: block; }
    ul.product_list.grid   .owl-item li.hovered .product-container .functional-buttons,
    ul.product_list.grid   .owl-item li.hovered .product-container .button-container,
    ul.product_list.grid   .owl-item li.hovered .product-container .comments_note {
        display: block; } }
@media (min-width: 992px) {
    ul.product_list.grid   .owl-item li.first-in-line {
        clear: left; } }
@media (min-width: 480px) and (max-width: 991px) {
    ul.product_list.grid   .owl-item li.first-item-of-tablet-line {
        clear: left; } }
ul.product_list.grid li.hovered h5 {
    min-height: 30px; }

@media (min-width: 1200px) {
    #blockpack ul   .owl-item li.last-line {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0; } }
@media (min-width: 480px) and (max-width: 767px) {
    #blockpack ul   .owl-item li.first-item-of-tablet-line {
        clear: none; }
    #blockpack ul   .owl-item li.first-item-of-mobile-line {
        clear: left; } }
.tz-carousel{
	/* margin-top: 40px; */
}
.tz-carousel .title_block{text-align:center;text-transform:uppercase;font-size:24px;font-family: 'Oswald', sans-serif;color:#2d2d2d;font-weight:300;}
















