#enabled_filters {
  margin: 0 0 10px 0;
  /* background: #eee; */
  padding: 5px; }

#enabled_filters .layered_subtitle {
  font-weight: bold;
  font-size: 12px; }

#enabled_filters ul li {
  padding: 2px 0; }

#enabled_filters li a {
  float: right;
  margin-right: 15px;
  /*display: inline-block;
  height: 12px;
  width: 12px;
  text-indent: -5000px;*/
  /*background: url(../../../img/icon/delete.gif) no-repeat 0 0 transparent;*/
  /*background: url(./delete.gif) no-repeat 0 0 transparent;*/
  cursor: pointer; }

#layered_block_left .layered_close {
  float: right;
  padding-right: 5px; }

#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
  display: block;
  height: 13px;
  width: 13px;
  text-decoration: none;
  text-indent: -5000px;
  background: url(img/icon/less.gif) no-repeat 2px 2px; }

#layered_block_left span.closed a {
  background: url(img/icon/more.gif) no-repeat 2px 2px; }

#layered_block_left .layered_subtitle {
  display: inline-block;
  font-weight: bold;
  font-size: 12px; }

#layered_block_left ul {
  clear: both;
  padding: 5px 0; }

#layered_block_left ul li {
  padding: 2px 0; }

#layered_block_left ul li label {
  cursor: pointer; }

#layered_block_left ul {
  padding-left: 0; }

#layered_block_left ul li {
  list-style-type: none; }

#layered_block_left div > form > div > div {
  margin-top: 5px; }

#layered_block_left #enabled_filters, #layered_url_filter_block {
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 0px;
  border-bottom: 1px dotted #CCC; }

#layered_block_left #enabled_filters ul li {
  margin-left: 0;
  padding-left: 0; }

/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit; }

#layered_block_left ul li input.checkbox {
  vertical-align: middle;
  margin-left: 2px; }

#layered_block_left ul li .disabled {
  color: #666; }

#layered_block_left .color-option {
  border: 1px solid #666666;
  height: 16px;
  margin-left: 0;
  padding: 0;
  width: 16px; }

#layered_block_left .color-option.disable {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5; }

#layered_block_left .nomargin a {
  display: inline; }

#layered_form .select {
  width: 165px; }

#layered_form .color-option {
  margin-left: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 1px solid #666; }

#layered_form .color-option.on {
  border: 1px solid red; }

#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle; }

.layered_price_range {
  margin-left: 7px; }

.layered_price_range_unit {
  margin-right: 7px; }

.layered_slider_container {
  margin: 6px 0 6px 10px;
  width: 91%; }

.layered_slider {
  margin-top: 5px; }

.layered_input_range_min {
  width: 30px; }

.layered_input_range_max {
  width: 40px; }

.layered_list_selected {
  font-weight: bold; }

.layered_list {
  display: block;
  cursor: pointer; }

.layered_list:hover {
  font-weight: bold; }

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center; }

.hide-action {
  text-align: center;
  text-align: right;
  display: block;
  cursor: pointer; }

.hide-action:hover {
  font-weight: bold; }

#layered_form div div ul {
  max-height: 200px;
  overflow-x: auto; }

.layered_filter, .layered_price {
  border-bottom: 1px solid #eee; }
  .layered_filter label {
    font-weight: normal; }
  .layered_filter layered_subtitle {
    font-size: 1.2 em; }

#layered_block_left ul li {
  min-width: 50%;
  width: auto; }
 
/* Catalog Page CSS */

.catalog_top_bor{border-top:1px solid #e9e9e9;}
.catalog_block .title_block{
	font-family: 'Oswald', sans-serif;
	color: #1a1a1a;
	font-size: 16px;
	font-weight: 400;
	background:none;
	padding:10px 10px;
	padding: 12px 0px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	}
.catalog_block .layered_subtitle_heading{margin:20px 0px;}
.catalog_block .layered_subtitle{font-family: 'Oswald', sans-serif;color: #1a1a1a;font-size: 16px !important;font-weight: 400 !important;}

/* Price Slider */

.ui-widget-content{border:none;background: #a7a7a7;}
.ui-widget-header{background:#98055e;}
.ui-slider-horizontal {height: .3em;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border: 2px solid #98055e;background: #fff;border-radius: 50%;cursor:pointer;}
.ui-slider-horizontal .ui-slider-handle{top: -.5em;}
.layered_slider_container {margin: 6px 0 6px 10px;width: 92%;}
#layered_price_range{
	 display: block;
	color: #1a1a1a;
	font-family: 'Oswald', sans-serif;
	font-size: 11px;
	font-weight: 400;
	margin-bottom:20px;
	}
 #layered_block_left .nomargin a {
    display: inline;
	font-family: 'Oxygen', sans-serif;
    color: #1a1a1a;
    font-size: 13px;    
    font-weight: 400;
} 
div.checker span{top:0px;}

/* loader */

#center_column{position:relative;}

.loader_sec {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.5);
    z-index: 999999;
}

.loader_sec img {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}



/* Responsive */

@media (max-width: 767px){
.catalog_block .layered_subtitle_heading {margin: 8px 0px;}
#enabled_filters li a{margin-right:8px;}
#layered_block_left #enabled_filters, #layered_url_filter_block{padding:8px 0px;}

/* loader */

.loader_sec {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.5);
    z-index: 999999;
}

.loader_sec img {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

}

/*# sourceMappingURL=blocklayered.css.map */



