.top_brand_title {
    color: #1a1a1a!important;
    display: inline-block!important;
    letter-spacing: 1px!important;
    font-family: 'Oswald', sans-serif!important;
    font-size: 12px!important;
    font-weight: 400!important;
    width: 100%;
    padding-bottom: 1px!important;
    margin-bottom: 1px!important;
    text-transform: capitalize!important;
    position: relative!important;
	margin-bottom: 10px !important
}