/*** ESSENTIAL STYLES ***/
.sf-contener {
  clear: both;
  float: left;
  width: 100%; }

.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu {
  position: relative;
  padding: 0;
  width: 100%;
  /*border-bottom: 3px solid #e9e9e9;*/
  /*background: #f6f6f6;*/ text-align:center;}
.sf-menu li ul{text-align:left;}
  @media (max-width: 767px) {
    .sf-menu {
      display: none; } }

.sf-menu ul {
  position: absolute;
  top: -999em;
  background: #fff; }
  @media (max-width: 767px) {
    .sf-menu ul {
      position: relative; } }

.sf-menu ul li {
  /* width: 100%; */ }

.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */ }

.sf-menu > li {
  /*float: left;
  border-right: 1px solid #d6d4d4;
  margin-bottom: -3px;*/ display:inline-block;float:none;}
  @media (max-width: 767px) {
    .sf-menu > li {
      float: none;
      position: relative;
      border-right: none; }
      .sf-menu > li span {
        position: absolute;
        right: 6px;
        top: 20px;
        width: 30px;
        height: 30px;
        z-index: 2; }
        .sf-menu > li span:after {
          font-family: "FontAwesome";
          content: "\f067";
          font-size: 26px; }
        .sf-menu > li span.active:after {
          content: "\f068"; } }
		  
	.sf-menu > li{padding: 0px 20px 0px;}
		  
  .sf-menu > li > a {
    /*font: 300 13px/22px 'Oswald', sans-serif;*/
	font-family: 'Oswald', sans-serif;
	font-size:13px;
	font-weight:500;
    text-transform: uppercase;
    color: #555;
    display: block;
    /*padding: 17px 20px;*/
	padding: 22px 0px 15px;
    /*border-bottom: 3px solid #e9e9e9;*/ 
	position:relative;
	letter-spacing:1px;
	-webkit-transition:300ms ease;
	-moz-transition:300ms ease;
	transition:300ms ease;
	}
	
	.sf-menu > li > a:hover, .sf-menu > li > a:focus {color:#000;text-decoration:none;}
	
 .sf-menu > li > a:after{
	 /*content:"";
	 position:absolute;
	 bottom:12px;
	 left:0px;
	 padding:1px;
	 width:80%;
	 margin:0 auto;
	 background:#000;*/
	 
	/*content: "";
    padding: 1px;
    width: 100%;
    margin: 5px auto 0px;
    background: #000;
    display: block;
	opacity:0;
	display:none;*/
	
 }
 
/*.sf-menu > li > a:hover:after{display:block;}
.sf-menu > li.sfHover > a:hover:after{display:block;}*/

/*.sf-menu > li.sfHover > a:after,
  .sf-menu > li > a:hover:after, .sf-menu > li.sfHoverForce > a:after {
    opacity:0;
    }*/
	
.sf-menu > li.sfHover > a:after,
  .sf-menu > li > a:hover:after, .sf-menu > li.sfHoverForce > a:after {
	left: 0;
  right: 0;
    }
	

.sf-menu li li li a {
  font-family: 'Oxygen', sans-serif;
  display: inline-block;
  position: relative;
  color: #555555;
  font-size: 10px;
  line-height: 16px;
  /*font-weight: 300;*/
  padding-bottom: 10px; 
  -webkit-transition:300ms ease;
  -moz-transition:300ms ease;
  transition:300ms ease;
  
  }
  .sf-menu li li li a:before {
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 10px; }
  .sf-menu li li li a:hover {
    color: #000; padding-left:8px;font-weight:600; }

.sf-menu > li > ul {
	display:none;
  /* display: block !important; */
  background-color:#fff8ef;
  left: 0;
  top: 58px;
  /* match top ul list item height */
  z-index: 99;
  padding: 12px 0px 5px 0px;
 /* -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 13px;*/ }
  @media (max-width: 767px) {
    .sf-menu li ul {
      top: 0; } }

.sf-menu li li ul {
  position: static;
  display: block !important;
  opacity: 1 !important;
  background: none;
  -moz-box-shadow: transparent 0px 0px 0px;
  -webkit-box-shadow: transparent 0px 0px 0px;
  box-shadow: transparent 0px 0px 0px; }

.sf-menu li li li ul {
  padding: 0 0 0 20px; }

.sf-menu li li li ul {
  width: 220px; }

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

.sf-menu > li > ul {
  padding: 26px 30px 31px;
  width: 100%; }
  .sf-menu > li > ul > li > a {
    text-transform: uppercase;
    font: 700 10px/20px 'Oxygen', sans-serif;
    color: #333; 
	border-bottom:1px solid #cccccc;
	display:block;
	padding-bottom: 5px;
	}
    .sf-menu > li > ul > li > a:hover {
      color: #555555; }

.sf-menu > li > ul > li {
  float: left;
  /*width: 20%;*/
  width: 14%;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .sf-menu > li > ul > li {
      width: 50%; } }
  @media (max-width: 479px) {
    .sf-menu > li > ul > li {
      width: 100%;
      padding-bottom: 20px; } }
  @media (min-width: 768px) {
    .sf-menu > li > ul > li.first-in-line-lg {
      clear: left; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .sf-menu > li > ul > li.first-in-line-xs {
      clear: left; } }

.sf-menu > li > ul > li.category-thumbnail {
  width: 100% !important;
  float: none;
  clear: both;
  overflow: hidden;
  padding-right: 0; }
  .sf-menu > li > ul > li.category-thumbnail > div {
    float: left;
    padding-left: 10px;
    width: 33.333%; }
    @media (max-width: 479px) {
      .sf-menu > li > ul > li.category-thumbnail > div {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        text-align: center; } }
    .sf-menu > li > ul > li.category-thumbnail > div:first-child {
      padding-left: 0; }
    .sf-menu > li > ul > li.category-thumbnail > div img {
      max-width: 100%;
      display: block; }

.cat-title {
  display: none; }
  @media (max-width: 767px) {
    .cat-title {
      display: block;
      font: 600 18px/22px "Open Sans", sans-serif;
      text-transform: uppercase;
      color: #484848;
      display: block;
      padding: 17px 20px;
      border-bottom: 3px solid #e9e9e9;
      background: #f6f6f6;
      position: relative; }
      .cat-title:hover {
        background: #333;
        border-bottom-color: #666666;
        color: #fff; }
      .cat-title:after {
        display: block;
        font-family: "FontAwesome";
        content: "\f067";
        position: absolute;
        right: 15px;
        top: 18px;
        font-size: 26px; }
      .cat-title.active:after {
        content: "\f068"; } }

.sf-menu li.sf-search {
  border: none; }
  .sf-menu li.sf-search input {
    display: inline;
    padding: 0 13px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    margin: 13px 10px 0 0;
    font-size: 13px;
    color: #9c9b9b;
    border: 1px solid #d6d4d4; }

#block_top_menu .category-thumbnail {
  clear: both;
  width: 100%;
  float: none; }
  #block_top_menu .category-thumbnail div {
    float: left;
    width: 33.33333%; }
    #block_top_menu .category-thumbnail div img {
      max-width: 100%; }
#block_top_menu li.category-thumbnail {
  padding-right: 0; }
  
/* Responsive */

@media (max-width: 991px){
.sf-menu > li{padding:0px 10px;}
.sf-menu > li > a{font-size:12px;}
}	

/* For Vertical Menu */

/* .sf-menu > li > ul.second-level-menu > li{display:block;float:none;}
.sf-menu > li > ul.second-level-menu > li > a{padding:10px 15px;}
.sf-menu > li > ul > li > .menu-wrap-container {display:none !important;}
.sf-menu > li > ul > li > .menu-wrap-container > .third-level-menu > li {}
.sf-menu > li > ul > li > .menu-wrap-container{
    position: absolute;
    top: 26px;
    left: 15%;
    width: 85%;
    padding: 0px 30px 31px 0px;
	height:94%;
	}
.sf-menu > li > ul > li:hover .menu-wrap-container{display:block !important;}
.sf-menu > li > ul > li:first-child .menu-wrap-container{display:block !important;} */
	

/*# sourceMappingURL=superfish-modified.css.map */
