/**********************************************************
				Authentication Styles
**********************************************************/
#account-creation_form .id_state,
#account-creation_form .dni,
#account-creation_form .postcode {
  display: none; }

#create-account_form {
  min-height: 297px; }
  #create-account_form p {
    margin-bottom: 8px; }
  #create-account_form .form-group {
    margin: 0 0 20px 0; position: relative;}

#login_form {
  min-height: 297px; }
  #login_form .form-group {
    margin: 0 0px 20px 0px; position: relative;}
    #login_form .form-group.lost_password {
     margin: 0px 0 15px 0; }
#login_form .form-group.lost_password a {
	text-decoration: none;
	color: #9e9e9e;
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	font-size: 10px; 
	}
        #login_form .form-group.lost_password a:hover {
          text-decoration: none; }

#login_form .form-control, #create-account_form .form-control {
  /* max-width: 271px; */}
#authentication .form-group .form-control {
     max-width: 100%;
}
.create_account_link{font-family: 'Oswald', sans-serif;font-size: 15px;font-weight: 300;color:#777777;letter-spacing:1px;text-align:center;margin:15px 0px 0px;}
.create_account_link span{color:#0f0f0f;cursor:pointer;} 
.create_account_link span:hover{color:#98055e;}
#SubmitLogin, #SubmitCreate{width:100%;border-radius:3px;} 

.login-page-heading{font-family: 'Oswald', sans-serif;font-size: 22px;font-weight: 300;color:#666666;letter-spacing:1px;border:none;padding-bottom:0px;display:none;}
#login_form h3, #create-account_form h3{font-family: 'Oswald', sans-serif;font-size: 18px;font-weight: 400;color:#444444;letter-spacing:1px;border:none;}
#login_form .form-group label, #create-account_form .form-group label{
	position: absolute;
    top: 13px;
    left: 10px;
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 10px;
	color:#1a1a1a;
	display: block;
	transition:300ms ease;
	-webkit-transition:300ms ease;
	-moz-transition:300ms ease;
}
 
#login_form .form-group label.label-top, #create-account_form .form-group label.label-top{top:0px;}

#login_form .form-group input, #create-account_form .form-group input{height: 47px;border-radius: 3px;padding: 25px 30px 10px 10px;border:1px solid #d4d4d4;font-family: 'Oxygen', sans-serif;font-weight: 400;font-size: 11px;color:#1a1a1a;}
#login_form .form-group input:focus, #create-account_form .form-group input:focus{border-color:#6c6c6c;}

 
 
#login_form .form-group.form-ok input, #login_form .form-group.form-ok textarea, #create-account_form .form-group.form-ok input, #create-account_form .form-group.form-ok textarea {
    border: 1px solid #46a74e;
    color: #35b33f;
    background: url(../img/icon/form-ok.png) 98% 14px no-repeat #ddf9e1;
}

#login_form .form-group.form-error input, #login_form .form-group.form-error textarea, #create-account_form .form-group.form-error input, #create-account_form .form-group.form-error textarea {
    border: 1px solid #f13340;
    color: #f13340;
    background: url(../img/icon/form-error.png) 98% 14px no-repeat #fff1f2;
}


 
/*#login_form .form-group input:focus ~ label{
    font-size: .9em;
    color: #2fdab8;
    top: -1.3em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s; 
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
}*/
 
  
.login_block{}
.register_block{display:none;}
  
.login_block, .register_block{float:none;margin:0 auto;}

@media (max-width: 767px){
.login_block, .register_block{padding:0px;}
}
  

/*# sourceMappingURL=authentication.css.map */
