.jcarousel-wrapper {
    /* margin: 20px auto; */
	margin: 0px auto;
    position: relative;
    /*border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;*/
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    /* border: 1px solid #fff; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	text-align:center;
}

.jcarousel img {
    /* display: block; */
	display: inline-block;
    /* max-width: 100%;
    height: auto !important; */
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 40px;
    height: 40px;
	line-height:40px;
	border: 1px solid #ccc;
    text-align: center;
    color: #ccc;
    text-decoration: none;
	-webkit-transition:300ms ease;
	-moz-transition:300ms ease;
	transition:300ms ease;
}


.jcarousel-control-prev:focus,
.jcarousel-control-next:focus {color:#ccc;border-color:#ccc;}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {color:#000;border-color:#000;}

.jcarousel-control-prev.inactive:focus,
.jcarousel-control-next.inactive:focus {color:#ccc;border-color:#ccc;}
.jcarousel-control-prev.inactive:hover,
.jcarousel-control-next.inactive:hover {color:#ccc;border-color:#ccc;}




.jcarousel-control-prev {
    left: -35px;
}

.jcarousel-control-next {
    right: -35px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    /* position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0; */
	margin: 15px 0px 0px;
    text-align: center;
	display:none;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #f43b67;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

.jcarousel-centered ul{width:100%;text-align:center;left: 0px !important;}
.jcarousel-centered ul li{float:none;display:inline-block;}

.jcarousel-control-prev.inactive, .jcarousel-control-next.inactive {
    cursor: default;
	border-color:#f1f1f1;
}

.jcarousel-control-prev.inactive:hover, .jcarousel-control-next.inactive:hover {
    cursor: default;
	border-color:#f1f1f1;
}

.jcarousel-control-prev.inactive:focus, .jcarousel-control-next.inactive:focus {
    cursor: default;
	border-color:#f1f1f1;
}

.jcarousel-control-prev.inactive > i, .jcarousel-control-next.inactive > i{color:#f1f1f1;}

.jcarousel li .col-md-3 {padding: 0px 8px;}

/* Responsive */

@media (max-width: 1250px){
	.jcarousel-control-prev, .jcarousel-control-next{background:#fff;}
	.jcarousel-control-prev {
		left: 0px;
	}
	.jcarousel-control-next {
		right: 0px;
	}
	
	
	#recommended-products .jcarousel-control-prev {
		left: 7px;
	}
	#recommended-products .jcarousel-control-next {
		right: 7px;
	}
}


