@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i');

/* product desc */
/* primary_block ***************************************************************************** */
/* .primary_block {
  margin-bottom: 40px; } */

.top-hr {
  background: #C4C4C4;
  height: 5px;
  margin: 2px 0 31px; }

.product-heading-h5 {
  color: #999999;
  font-weight: 200;
  margin: 3px 0 8px;
  font-size: 19px;
  font-family: "Open Sans", sans-serif; }

.box-security .product-heading-h5 {
  margin: 3px 0 -8px; }
  @media (max-width: 1199px) {
    .box-security .product-heading-h5 {
      margin-bottom: 8px; } }

.primary_block .pb-left-column img {
	max-width: 100%;
	height: auto;
	/* max-width: 100%;
	height: auto; 
	height:450px;
	object-fit:contain; */
  }
  
.zoomWrapperImage img{height:auto !important;}

a.fancybox-nav {
  outline: 0; }

/* .pb-left-column ***************************************************************************** */
.pb-left-column #image-block {
  position: relative;
  display: block;
  cursor: pointer;
  /*padding: 5px;
  border: 1px solid #dbdbdb;*/
  background: #fff; }
  @media (max-width: 767px) {
    .pb-left-column #image-block {
      /* width: 280px; */
	  width: 100%;
      margin: 0 auto; } }
  .pb-left-column #image-block img {
    background: #fbfbfb;
    /*width: 100%; */}
  .pb-left-column #image-block #view_full_size .span_link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -68px;
    display: block;
    padding: 10px 0;
    text-align: center;
    line-height: 22px;
    color: #777676;
    width: 136px;
    text-align: center;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16); }
    .pb-left-column #image-block #view_full_size .span_link:after {
      font-family: "FontAwesome";
      color: #c0c0c0;
      font-size: 20px;
      line-height: 22px;
      content: "\f00e";
      font-weight: normal;
      margin: 0 0 0 4px; }
    .pb-left-column #image-block #view_full_size .span_link:hover:after {
      color: #333; }
  .pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px; }
	
	
	
.zoomWindow {width:100% !important;}
	
  .pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none; width:100% !important;}
  .pb-left-column #image-block .zoomPad {
    z-index: auto !important;float:none; }
  .pb-left-column #image-block .new-box,
  .pb-left-column #image-block .sale-box {
    z-index: 5002; }

/* miniatures */
.pb-left-column #views_block {
  /*margin-top: 10px; */}
  @media (max-width: 767px) {
    .pb-left-column #views_block {
      /* width: 280px;
      margin: 10px auto 0px auto; */
	      width: 100%;
		  }
	}

#thumbs_list {
  overflow: hidden;
  float: left;}
  @media (min-width: 992px) and (max-width: 1199px) {
    #thumbs_list {
      /* width: 294px; */ } }
  @media (min-width: 768px) and (max-width: 991px) {
    #thumbs_list {
     /*  width: 164px;  */} }
  @media (max-width: 767px) {
    #thumbs_list {
     /*  width: 196px; */ } }
  #thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    /*overflow: hidden;
    height: 90px;*/ 
    width: auto !important;
    margin-bottom: 0px;
  }
  #thumbs_list li {
    height: 70px;
    width: 70px;
    cursor: pointer;
    /*border: 1px solid #dbdbdb;*/
    /*margin-bottom: 8px;*/
    line-height: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    display: inline-block;
    }

    #thumbs_list li:last-child{margin-bottom: 0px;}

    @media (min-width: 768px) and (max-width: 991px) {
      #thumbs_list li {
       /*  width: 76px;
        height: 76px;  */
        margin-right: 6px; } }
    #thumbs_list li a {
      display: block;
      /*border: 1px solid #fff;*/
      border: 1px solid #dbdbdb;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #fbfbfb; }
      /*#thumbs_list li a:hover, #thumbs_list li a.shown {border-color: #f4456c;}
      #thumbs_list li a:hover, #thumbs_list li a.zoomThumbActive {border-color: #f4456c;}*/
      /*#thumbs_list li a:hover, #thumbs_list li a.active {border-color: #f4456c;}*/
    #thumbs_list li img {
      border: 1px solid #fff;
      width: 100%;
      height: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media (min-width: 768px) and (max-width: 991px) {
        #thumbs_list li img {
          width: 68px;
          height: 68px; } }

.show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list {
  width: 294px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list {
      width: 194px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list {
      width: 82px; } }
  @media (max-width: 767px) {
    .show-right-column.hide-left-column #thumbs_list, .hide-right-column.show-left-column #thumbs_list {
      width: 196px; } }

span.view_scroll_spacer {
  width: 39px;
}
  @media (min-width: 992px) and (max-width: 1199px) {
    span.view_scroll_spacer {
      width: 45px;} }
  @media (min-width: 768px) and (max-width: 991px) {
    span.view_scroll_spacer {
      width: 30px;} }
  @media (max-width: 767px) {
    span.view_scroll_spacer {
      width: 45px; } }

.show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer {
  width: 27px;
  padding-left: 2px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer {
      width: 44px;
      padding-left: 16px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer {
      width: 41px;
      padding-left: 13px; } }
  @media (max-width: 767px) {
    .show-right-column.hide-left-column span.view_scroll_spacer, .hide-right-column.show-left-column span.view_scroll_spacer {
      width: 45px;
      padding-left: 14px; } }

#view_scroll_left,
#view_scroll_right {
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;text-decoration: none; }
  @media (min-width: 768px) and (max-width: 991px) {
    #view_scroll_left,
    #view_scroll_right {
      margin-top: 28px; } }
  #view_scroll_left:before,
  #view_scroll_right:before {
    padding-left: 2px;
    color: #c0c0c0;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 22px; }
  #view_scroll_left:hover:before,
  #view_scroll_right:hover:before {
    color: #333; }

#view_scroll_right {margin-top: 5px;margin-left: -25px;}
  #view_scroll_right:before {
    content: "\f13A"; }

#view_scroll_left {
	margin-top: 0;
	margin-bottom: 0px;
	margin-left: -25px;
	display: inline-block;
	}

  #view_scroll_left:before {
    content: "\f139";
    padding-right: 2px; }

.resetimg {
  padding: 10px 0 0; display: none;}
  .resetimg #resetImages i {
    margin-right: 6px; }

.view_scroll_spacer {
  margin-top: 38px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .view_scroll_spacer {
      margin-top: 28px; } }

/* link list */
#usefull_link_block {
  list-style-type: none; }
  #usefull_link_block li {
    margin: 0 0 8px 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      #usefull_link_block li {
        float: none !important; } }
    #usefull_link_block li:first-child {
      margin: 0 0 8px 0;
      border: none;
      padding: 0; }
    #usefull_link_block li a {
      color: #777676;
      font-weight: 700;
      position: relative;
      padding-left: 30px;
      line-height: 22px;
      display: inline-block; }
      #usefull_link_block li a:before {
        font-family: "FontAwesome";
        color: #333;
        font-size: 19px;
        line-height: 24px;
        position: absolute;
        top: -2px;
        left: 0;
        font-weight: normal; }
      #usefull_link_block li a:hover {
        color: #000; }
    @media (min-width: 768px) and (max-width: 991px) {
      #usefull_link_block li.print {
        margin: 8px 0 0;
        padding: 0;
        border: none; } }
    #usefull_link_block li.print a:before {
      content: "\f02f"; }
    #usefull_link_block li.sendtofriend a:before {
      content: "\f003"; }
    #usefull_link_block li#left_share_fb {
      clear: both;
      float: none; }
      #usefull_link_block li#left_share_fb a {
        padding-left: 18px; }
      #usefull_link_block li#left_share_fb a:before {
        content: "\f09a"; }
    #usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
      cursor: pointer;
      font-weight: 700;
      clear: both;
      float: none;
      margin: 0 0 8px 0;
      border: none;
      padding: 0;
      position: relative; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
        font-family: "FontAwesome";
        color: #333;
        font-size: 19px;
        line-height: 24px;
        position: absolute;
        top: -2px;
        left: 0;
        font-weight: normal;
        content: "\f08a"; }
      #usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
        color: #000; }
    #usefull_link_block li#favoriteproducts_block_extra_removed:before {
      content: "\f004"; }

/* pb-left-column ****************************************************************************** */
.pb-center-column {
  margin-bottom: 0px;
  /* form */ }
  .pb-center-column h1 {
    padding-bottom: 16px;
    font-size: 20px;
    color: #3a3939; }
  .pb-center-column p {
    margin-bottom: 10px; }
  .pb-center-column #product_reference {
    margin-bottom: 6px; }
  .pb-center-column #short_description_block {
    color: #666; }
    .pb-center-column #short_description_block .buttons_bottom_block {
      display: none; }
    .pb-center-column #short_description_block #short_description_content {
      /* padding: 0 0 15px; */
      word-wrap: break-word; }
      .pb-center-column #short_description_block #short_description_content p {
        line-height: 18px; }
  .pb-center-column #buy_block {
    margin-top: 10px; }
    .pb-center-column #buy_block label {
      display: inline-block;
      width: 125px;
      font-weight: 700;
      font-size: 12px;
      text-align: right; }
    .pb-center-column #buy_block p.price {
      padding: 0; }
  .pb-center-column #color_picker p {
    padding-bottom: 5px;
    font-weight: 700; }

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-top: 1px solid #d6d4d4;
  border-bottom: 1px solid #d6d4d4;
  margin: 10px 0 -5px;
  position: relative; }
  #product p#loyalty b {
    color: #333; }
  #product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0; }

#page .rte {
  /*padding: 0 20px 20px;*/
  word-wrap: break-word; }
  #page .rte p {
    margin-bottom: 1em;
    min-height: 1px; }

#attributes fieldset {
  padding-bottom: 3px; margin-bottom: 10px;}
#quantity_wanted_p {margin-bottom: 10px;}
  #attributes fieldset label {
    vertical-align: top;
    display: block; }
#attributes .attribute_list {
  width: 100%; }
  #attributes .attribute_list .form-control {
    max-width: 230px; }

    #attributes .attribute_list .form-control option {
      background: #fff;
      color: #666; }
  #attributes .attribute_list ul {
    clear: both; }
    #attributes .attribute_list ul li {
      float: left;
      margin-right: 10px; }
  #attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px; }
  #attributes .attribute_list div.radio,
  #attributes .attribute_list div.radio span,
  #attributes .attribute_list div.radio input {
    float: none;
    display: inline-block; }
  #attributes .attribute_list #color_to_pick_list {
    list-style-type: none; margin:0px;}
    #attributes .attribute_list #color_to_pick_list li {
      float: left;
      margin: 0 10px 5px 0;
      padding: 1px;
      border: 1px solid #d6d4d4;
      clear: none;
      width: 26px;
      height: 26px; 
      border-radius: 50%;
      transition: all 200ms ease-in;
    
    }
    #attributes .attribute_list #color_to_pick_list li:hover{-webkit-transform: scale(1.3);-moz-transform: scale(1.3);transform: scale(1.3);border: 1px solid #4d4d4d;}
      #attributes .attribute_list #color_to_pick_list li a.color_pick {
        display: block;
        height: 22px;
        width: 22px;
        cursor: pointer; 
        border-radius: 50%;
      }
        #attributes .attribute_list #color_to_pick_list li a.color_pick img {
          display: block;
          height: 22px;
          width: 22px; }
      #attributes .attribute_list #color_to_pick_list li.selected {
        border: 1px solid #98055e; 
        transform: scale(1.3);
      }

.product_attributes,
.box-cart-bottom {
  /*-moz-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.05);
  padding: 19px 19px 17px;*/ }

.box-cart-bottom {
  padding: 0; width: 85%;}

#short_description_content a,
.page-product-box .rte a {
  color: #333333;
  text-decoration: underline; }
#short_description_content a.btn,
.page-product-box .rte a.btn {
  text-decoration: none; }

.box-info-product {
  /*background: #f6f6f6;
  border: 1px solid #d2d0d0;
  border-top: 1px solid #b0afaf;
  border-bottom: 1px solid #b0afaf;*/}
  .box-info-product p {
    margin-bottom: 7px; }
  .box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWFkMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwN2FiNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background-image: -moz-linear-gradient(#009ad0, #007ab7);
    background-image: -webkit-linear-gradient(#009ad0, #007ab7);
    background-image: linear-gradient(#009ad0, #007ab7);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 ); }
    .box-info-product .exclusive:before {
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      color: #fff;
      font-size: 25px;
      line-height: 47px;
      text-shadow: 0 1px #015883;
      content: "\f07a";
      z-index: 2;
      width: 51px;
      text-align: center;
      border: 1px solid #06b2e6;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px 0 0 5px; }
      @media (max-width: 991px) {
        .box-info-product .exclusive:before {
          display: none; } }
    .box-info-product .exclusive.added:before {
      content: "\f00c"; }
    .box-info-product .exclusive.added.disabled:before, .box-info-product .exclusive.disabled:before {
      height: 51px;
      content: "\f110";
      animation: 2s linear 0s normal none infinite spin;
      -webkit-animation: 2s linear 0s normal none infinite spin;
      -moz-animation: 2s linear 0s normal none infinite spin;
      border: none; }
    .box-info-product .exclusive:after {
      background: url(../img/border-1.gif) repeat-y 0 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 51px;
      content: "";
      width: 1px;
      z-index: 2; }
      @media (max-width: 991px) {
        .box-info-product .exclusive:after {
          display: none; } }
    .box-info-product .exclusive span {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      border-top: 1px solid #06b2e6;
      border-right: 1px solid #06b2e6;
      border-left: 1px solid #06b2e6;
      border-bottom: 1px solid #06b2e6;
      text-shadow: 0 1px #015883;
      padding: 12px 36px 14px 60px;
      color: #fff;
      display: block !important;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 1199px) {
        .box-info-product .exclusive span {
          padding: 12px 22px 14px 55px;
          font-size: 14px; } }
      @media (max-width: 991px) {
        .box-info-product .exclusive span {
          padding: 8px 12px 10px;
          text-align: left; } }
    .box-info-product .exclusive:hover {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwN2FiNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWFkMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
      background-image: -moz-linear-gradient(#007ab7, #009ad0);
      background-image: -webkit-linear-gradient(#007ab7, #009ad0);
      background-image: linear-gradient(#007ab7, #009ad0);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
      background-position: 0 0; }

#center_column.col-sm-9 .col-md-3 .box-info-product {
  background: #f6f6f6;
  border: 1px solid #d2d0d0;
  border-top: 1px solid #b0afaf;
  border-bottom: 1px solid #b0afaf; }
  #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #0079b6;
    border-right: 1px solid #006fa8;
    border-left: 1px solid #006fa8;
    border-bottom: 1px solid #012740;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWFkMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwN2FiNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
    background-image: -moz-linear-gradient(#009ad0, #007ab7);
    background-image: -webkit-linear-gradient(#009ad0, #007ab7);
    background-image: linear-gradient(#009ad0, #007ab7);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7',GradientType=0 ); }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
      font-family: "FontAwesome";
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      color: #fff;
      font-size: 25px;
      line-height: 47px;
      text-shadow: 0 1px #015883;
      content: "\f07a";
      z-index: 2;
      width: 51px;
      text-align: center;
      border: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:before {
          display: none; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added:before {
      content: "\f00c"; }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.added.disabled:before, #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive.disabled:before {
      content: "\f110";
      animation: 2s linear 0s normal none infinite spin;
      -webkit-animation: 2s linear 0s normal none infinite spin;
      -moz-animation: 2s linear 0s normal none infinite spin;
      border: none; }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
      background: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 51px;
      content: "";
      width: 1px;
      z-index: 2; }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:after {
          display: none; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      border: none;
      border-top: 1px solid #006fa8;
      text-shadow: 0 1px #015883;
      padding: 12px 16px 14px;
      color: #fff;
      display: block !important;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 1199px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
          font-size: 16px; } }
      @media (max-width: 991px) {
        #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive span {
          padding: 8px 12px 10px;
          text-align: center; } }
    #center_column.col-sm-9 .col-md-3 .box-info-product .exclusive:hover {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwN2FiNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWFkMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007ab7), color-stop(100%, #009ad0));
      background-image: -moz-linear-gradient(#007ab7, #009ad0);
      background-image: -webkit-linear-gradient(#007ab7, #009ad0);
      background-image: linear-gradient(#007ab7, #009ad0);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ab7', endColorstr='#009ad0',GradientType=0 );
      background-position: 0 0; }

/* table_data_sheet */
.table-data-sheet {
  border-bottom: 1px solid #d6d4d4;
  width: 100%;
  margin: 0 0 20px;
  background: #fff; }
  .table-data-sheet tr {
    border-top: 1px solid #d6d4d4; }
    .table-data-sheet tr.even {
      background: #fdfdfd; }
    .table-data-sheet tr td {
      padding: 10px 20px 11px; }
      .table-data-sheet tr td:first-child {
        border-right: 1px solid #d6d4d4;
        width: 30%;
        font-weight: 700;
        color: #333; }

/* table product-discounts */
table.table-product-discounts {
  border: none;
  border-bottom: 1px solid #d6d4d4;
  border-right: 1px solid #d6d4d4;
  width: 50%;
  margin: 0 0 20px;
  background: #fff; }
  @media (max-width: 767px) {
    table.table-product-discounts {
      width: 100%; } }
  table.table-product-discounts tr th {
    background: #fbfbfb;
    color: #333;
    font-weight: 700;
    border: none;
    font-weight: 700; }
  table.table-product-discounts tr td,
  table.table-product-discounts tr th {
    border-left: 1px solid #d6d4d4;
    width: 33%;
    padding: 10px 20px 11px;
    border-top: 1px solid #d6d4d4;
    border-right: none;
    text-shadow: none;
    text-transform: none;
    font-weight: 13px;
    line-height: 18px;
    border-bottom: none; }

/* accessories  */
.accessories-block .block_description {
  display: none; }
.accessories-block .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  .accessories-block .exclusive span:focus, .accessories-block .exclusive span:active {
    text-decoration: none; }
.accessories-block .product-name {
  margin-bottom: 5px; }
  .accessories-block .product-name a {
    font-size: 15px;
    line-height: 18px;
    color: #3a3939; }
    .accessories-block .product-name a:hover {
      color: #515151; }
.accessories-block div ul li a {
  display: inline-block; }
.accessories-block div ul li.s_title_block a,
.accessories-block div ul li.s_title_block span {
  font-weight: 700; }

/* quantity_wanted */
#quantity_wanted_p input {
  width: 78px;
  height: 27px;
  padding: 0 6px;
  float: left;
  border: 1px solid #d6d4d4;
  line-height: 27px; }
#quantity_wanted_p .btn {
  float: left;
  margin-left: 3px; }
#quantity_wanted_p label {
  display: block;
  margin-bottom: 7px; }

/* availability_statut */
#availability_statut span#availability_label,
#availability_date_label {
  display: inline-block;
  width: 125px;
  font-weight: 700;
  font-size: 12px;
  text-align: right; }

#quantityAvailable {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700; }

#availability_value,
#last_quantities {
 /*  color: #fff;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  padding: 3px 8px 4px;
  margin-left: 5px;  */
  
  display: inline-block;
  color:#98055e;
  font-family: 'Oxygen', sans-serif;
  font-weight:400;
  font-size:12px; 
  background-color:transparent;
  border:none;
  padding:0px;
  }

#last_quantities {
  /* background: #fe9126;
  border: 1px solid #e4752b;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px; */
  margin-left: 0px; 
  
  border:none;
  background:none;
  padding:0px;
  top:0px;
  color:#98055e;
  font-family: 'Oxygen', sans-serif;
  font-weight:400;
  font-size:12px;   
  }

#availability_statut,
#pQuantityAvailable {
  display: inline-block; }

#pQuantityAvailable span {
  /* font-weight: 700;
  color: #333;  */
  color:#98055e;
  font-family: 'Oxygen', sans-serif;
  font-weight:400;
  font-size:12px;  
  }

/* box-security */
.box-security {
  border-top: 1px solid #dfdede;
  padding: 19px 19px 6px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fbfbfb));
  background-image: -moz-linear-gradient(#ffffff, #fbfbfb);
  background-image: -webkit-linear-gradient(#ffffff, #fbfbfb);
  background-image: linear-gradient(#ffffff, #fbfbfb);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fbfbfb',GradientType=0 ); }

/* prices */
.content_prices {
  }

.discount {
  display: none; }

.our_price_display {
  font-weight: 600;
  font-size: 29px;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
  color: #333; }
  @media (max-width: 991px) {
    .our_price_display {
      font-size: 26px;
      line-height: 28px; } }
  .our_price_display .price {
	font-family: 'Oxygen', sans-serif!important;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 400;

  }
  .currency-sym{
    font-family: 'Oxygen', sans-serif!important;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 400;
	display:none;
  }
    @media (max-width: 991px) {
      .our_price_display .price {
        font-size: 26px;
        line-height: 28px; } }

#old_price {
  padding-bottom: 15px;
  font-size: 13px;
  text-decoration: line-through;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  line-height: 23px; }

#reduction_percent,
#reduction_amount {
  margin-right: 10px;
  padding: 1px 2px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  line-height: 23px;
  color: #fff;
  background: #f13340;
  border: 1px solid #d02a2c; }
  #reduction_percent span,
  #reduction_amount span {
    display: block; }
  .hide-left-column.hide-right-column #reduction_percent, .hide-left-column.hide-right-column
  #reduction_amount {
    display: inline-block; }

/* online_only */
.pb-center-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left; 
  display:none !important;
  }

.buttons_bottom_block {
  clear: both;
  padding: 0px; }
  .buttons_bottom_block #wishlist_button {
    font-weight: 700; }

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
  width: 555px;
  overflow: hidden; }
  @media (max-width: 767px) {
    #send_friend_form {
      width: 280px; } }
  #send_friend_form .product img {
    margin: 0 0 10px 0;
    border: 1px solid #d6d4d4; }
  #send_friend_form .product p {
    padding: 0;
    color: #333; }
    #send_friend_form .product p .product_name {
      font-size: 12px;
      color: #000; }
  #send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid #d6d4d4;
    background: #fbfbfb; }
    #send_friend_form .form_container p.intro_form {
      padding-bottom: 6px;
      font-weight: 700;
      font-size: 13px;
      color: #333; }
    #send_friend_form .form_container p.txt_required {
      padding-bottom: 0;
      color: #666; }
    #send_friend_form .form_container .text {
      padding-bottom: 10px; }
      #send_friend_form .form_container .text label {
        display: block;
        padding: 0;
        width: 100%;
        font-size: 12px; }
      #send_friend_form .form_container .text input {
        padding: 0 5px;
        height: 22px;
        width: 100%;
        border: 1px solid #d6d4d4;
        font-size: 12px;
        color: #666; }
  #send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right; }

/* PERSONNALISATION ##################################################################### */
p.infoCustomizable {
  margin-bottom: 30px; }

ul#uploadable_files,
ul#text_fields {
  list-style-type: none; }

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d4d4; }

.customizationUploadLine {
  padding-bottom: 10px; }
  .customizationUploadLine label {
    display: block;
    vertical-align: top; }
  .customizationUploadLine textarea {
    width: 50%;
    border: 1px solid #d6d4d4;
    color: #777777; }

.customizationUploadBrowse img + a {
  position: relative;
  top: -51px; }

#customizedDatas {
  float: right; }

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only div.primary_block {
  margin-bottom: 0; }
  @media (max-width: 991px) {
    #product.content_only div.primary_block {
      margin-right: 0; } }
  #product.content_only div.primary_block div.pb-left-column {
    /* padding: 20px 20px 5px 35px; */
    /* width: 47%; */ 
	/* padding: 12px 20px 5px 35px; */
	padding: 12px 20px 5px 0px;
	width: 63%; }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-left-column {
        width: 100%;
        float: none; } }
    #product.content_only div.primary_block div.pb-left-column span.view_scroll_spacer {
      width: 38px;
      padding-left: 10px; }
    #product.content_only div.primary_block div.pb-left-column #thumbs_list {
      width: 392px; }
  #product.content_only div.primary_block div.pb-center-column {
    /*padding: 20px 20px 60px 0px;*/
    /*width: 27.5%;
    width: 47%;
    min-height: 623px;
    height: 100%;*/
    padding: 20px 20px 0px 0px;
	margin-bottom: 0;
     }


    @media (max-width: 991px) {
      #product.content_only div.primary_block div.pb-center-column {
        min-height: 440px; } }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-center-column {
        width: 100%;
        float: none; } }
    #product.content_only div.primary_block div.pb-center-column .product_comments_block_extra {
      padding-right: 0; }
    @media (max-width: 479px) {
      #product.content_only div.primary_block div.pb-center-column .comments_advices li {
        display: block; }
      #product.content_only div.primary_block div.pb-center-column .comments_advices a.reviews {
        margin: 0;
        padding: 0;
        border: none; } }
    #product.content_only div.primary_block div.pb-center-column #ShareDiv {
      position: absolute;
      bottom: 8px; }
  #product.content_only div.primary_block div.pb-right-column {
    /*width: 25.5%;
    padding-right: 15px;*/
    padding-left: 0; }
    #product.content_only div.primary_block div.pb-right-column .box-info-product {
      border-top-width: 0px;
      border-right: none;
      border-bottom: none;
      /*min-height: 623px;
      height: 100%;
      padding-bottom: 125px;*/ 
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0;
      border-radius: 0 4px 4px 0;
      position: relative;
      }
      @media (max-width: 991px) {
        #product.content_only div.primary_block div.pb-right-column .box-info-product {
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;
          border: 1px solid #d6d4d4; } }
      #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive {
        display: block;
        width: 100%; }
        #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:before, #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive:after {
          display: block; }
        #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
          font-size: 20px;
          text-align: center; }
          @media (max-width: 1199px) {
            #product.content_only div.primary_block div.pb-right-column .box-info-product #add_to_cart .exclusive span {
              padding: 12px 22px 14px 70px;
              font-size: 20px; } }
      #product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom {
        right: 0;
        left: 0; }
    #product.content_only div.primary_block div.pb-right-column #attributes .attribute_list .form-control {
      width: 230px; }
    #product.content_only div.primary_block div.pb-right-column .product_attributes,
    #product.content_only div.primary_block div.pb-right-column .box-cart-bottom {
      -moz-box-shadow: transparent 0px 0px 0px;
      -webkit-box-shadow: transparent 0px 0px 0px;
      box-shadow: transparent 0px 0px 0px; }
    #product.content_only div.primary_block div.pb-right-column .product_attributes {
      padding-top: 0; }

.addsharethisinner .stButton .stArrow {
  display: none !important; }

@media (max-width: 1050px) {
  #product.content_only div.primary_block div.pb-left-column,
  #product.content_only section.primary_block div.pb-left-column {
    width: 100%;
    padding-right: 15px; }
    #product.content_only div.primary_block div.pb-left-column #image-block, #product.content_only div.primary_block div.pb-left-column #views_block,
    #product.content_only section.primary_block div.pb-left-column #image-block,
    #product.content_only section.primary_block div.pb-left-column #views_block {
      max-width: 470px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
    #product.content_only div.primary_block div.pb-left-column #thumbs_list li,
    #product.content_only section.primary_block div.pb-left-column #thumbs_list li {
      width: 90px;
      height: 90px; }
      #product.content_only div.primary_block div.pb-left-column #thumbs_list li img,
      #product.content_only section.primary_block div.pb-left-column #thumbs_list li img {
        width: 82px;
        height: 82px; }
  #product.content_only div.primary_block div.pb-center-column,
  #product.content_only section.primary_block div.pb-center-column {
    width: 50%;
    float: left;
    padding-left: 35px; }
  #product.content_only div.primary_block div.pb-right-column,
  #product.content_only section.primary_block div.pb-right-column {
    width: 50%;
    float: left; }
    #product.content_only div.primary_block div.pb-right-column .box-info-product,
    #product.content_only section.primary_block div.pb-right-column .box-info-product {
      border-top-width: 1px;
      min-height: 1px; } }
/***** IE code ****/
.ie8 .pb-left-column #image-block #view_full_size .span_link {
  background: #fff;
  border: 1px solid #d6d4d4; }
.ie8 .box-security {
  filter: none; }
  
/* Custom */

#product.content_only div.primary_block div.pb-center-column .content_prices{/*padding:13px 0px;*/}
#product.content_only div.primary_block div.pb-center-column .pb-center-column h1{margin:0px;}
#product.content_only div.primary_block div.pb-center-column #product_reference{display:none !important;}
#product.content_only div.primary_block div.pb-center-column #product_condition{display:none;}
#product.content_only div.primary_block div.pb-center-column #pQuantityAvailable{display:none !important;}
#product.content_only div.primary_block div.pb-center-column #availability_statut{display:none !important;}
#product.content_only div.primary_block div.pb-center-column .socialsharing_product{display:none !important;}
.pb-center-column #quantity_wanted_p label, .pb-center-column #attributes fieldset label{display:block;text-align:left;

font-family: 'Oxygen', sans-serif!important;
    color: #a7a7a7;
    font-size: 11px;
    font-weight: 400;
    padding: 0 0 0px;
    text-transform: uppercase;
}
  
#product.content_only div.primary_block div.pb-center-column #buy_block .box-info-product{background:none;border:none;}
#product.content_only div.primary_block div.pb-center-column #buy_block .box-info-product .product_attributes{padding:0px 0px 15px;}
#product.content_only div.primary_block div.pb-center-column #buy_block .box-info-product .box-cart-bottom p#add_to_cart{padding:0px;margin:0px 0px 15px;}
#product.content_only div.primary_block div.pb-center-column #buy_block .box-info-product .box-cart-bottom #product_payment_logos{display:none;}
.no-pay-show #product_payment_logos{display: none;}

/* Custom CSS */

.product-details h6 {
    font-family: 'Oxygen', sans-serif!important;
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 0px;
	margin:0px;
}

.product-details h1 {
    font-family: 'Oswald', sans-serif!important;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 300;
    padding: 0px;
    margin: 12px 0px;
}

.get_alert {
    position: relative;
    background: #f4dc86;
    padding: 3px 20px 3px 10px;
    font-family: 'Oxygen', sans-serif!important;
    font-size: 11px;
    font-weight: 600;
    margin: 10px 0px 15px;
    display: inline-block;
    color: #000;
}
.get_alert:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0px;
    width: 0;
    height: 0;
    border-right: 14px solid transparent;
    border-top: 14px solid #f4dc86;
    border-left: 14px solid #f4dc86;
    border-bottom: 14px solid #f4dc86;
}
.info-icon {
    padding: 0px 20px;
    position: relative;
    top: 2px;
}

.review-box {
    display: inline-block;
    border: 1px solid #dddddd;
    font-family: 'Oxygen', sans-serif!important;
    font-size: 11px;
    margin: 2px 0px 5px;    
}

.review-box div:nth-child(1) {
    display: inline-block;
    border-right: 1px solid #dddddd;
    padding: 5px 15px;
    text-transform: uppercase;
    color: #1a1a1a;
    font-weight: 700;
    font-family: 'Oxygen', sans-serif!important;
}
.review-box div:nth-child(2) {
    padding: 0px 10px 0px;
    display: inline-block;
    color: #98055e!important;
    font-family: 'Oxygen', sans-serif!important;
    font-size: 11px;
    font-weight: 700;
}
.review-box a {
    font-size: 11px;
    font-family: 'Oxygen', sans-serif!important;
    font-weight: 700;
	color:#000;	
	-webkit-transition:300ms ease;
	-moz-transition:300ms ease;
	transition:300ms ease;
}
.review-box a:hover{
    color:#98055e;
	text-decoration:none;
}
.review-box div .fa-star {
    color: #98055e;
}

.product-details .btn.black {
    margin: 0px;
    width: 100%;
    padding: 15px;
}
.product-details .btn.black span {
    color: #fff!important;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif!important;
}

.row.services-details {
    /*display: inline-block;*/
    list-style: none;
    margin: 18px 0px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 8px 0px;
    width: 85%;
}
.services-details li {
    display: inline-block;
    font-family: 'Oxygen', sans-serif!important;
    color: #868686;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    padding: 0px 0px;
}

.services-details > li:nth-child(1){text-align: left;}
.services-details > li:nth-child(2){text-align: center;}
.services-details > li:nth-child(3){text-align: right;}

.services-details li ul li{text-align: left;}

.services-details li ul {
    padding: 0;
    margin: 0;
}
.services-details li ul li {
    vertical-align: top;
    padding: 0;
    margin: 0;
    float: left;
}
.services-details li ul li img {
    vertical-align: top;
    display: inline-block;
    margin-right: 4px;
}

/* share icons */

.sharelinks-sec{margin:0px 0px 10px;position: relative;}
.share-details {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.share-details li {
    border: 1px solid #b5b5b5;
    padding: 7px 20px;
    display: inline-block;
    height: 38px;
    cursor: pointer;    
}


/*.share-block {
    position: absolute;
    left: 0px;
    z-index: 1;
    bottom: -45px;
    width: 100%;    
    padding: 5px 5px;
    border: 1px solid #ccc;
    background: #e6e6e6;
    display: none;
    margin:8px 0px;
    position: relative;
}
.share-block p{margin-bottom: 0px;}
.share-block p button{margin-bottom: 0px;}

.share-block:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 20px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #cccccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
}*/


/* arrow */

.social-link-block {
    /*position: relative;
    margin: 8px 0px;
    float: left;*/
    background: #fffced /* #e6e6e6 */;
    border: 1px solid #ccc;
    padding: 5px;    
    display: none;
    position: absolute;
    left: 0px;
    bottom: -58px;
    float: none;
    margin: 0px;
	z-index:9;
}
.social-link-block .socialsharing_product {margin: 0px 0px -5px;}
.social-link-block .socialsharing_product button{margin-bottom: 0px;}
.social-link-block:after, .social-link-block:before {
    bottom: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.social-link-block:after {
    border-color: rgba(213, 21, 40, 0);
    border-bottom-color: #fffced /* #e6e6e6 */;
    border-width: 6px;
    left: 22px;
}
.social-link-block:before {
    border-color: rgba(43, 43, 255, 0);
    border-bottom-color: #ccc;
    border-width: 8px;
    left: 20px;
}


/* Description Tab */

#short_description_block .buttons_bottom_block{display: none;}
#exTab2 {margin-top: 15px;/*margin-top: 40px;*/}

#exTab2 .nav-tabs > li {
    margin-bottom: -1px;
}
#exTab2 .nav-tabs > li > a {font-family: 'Oswald', sans-serif !important;font-size: 18px;font-weight: 400;text-transform: uppercase;color:#000;transition:300ms ease;padding: 10px 45px;}
#exTab2 .nav-tabs > li > a:hover{background-color: #eee;color: #98055e;}
#exTab2 .nav-tabs > li.active > a {
    color: #98055e !important;
}
#exTab2 .tab-content {
    padding: 35px 0px;
    background: url(../img/tabcontent_bg.jpg) bottom repeat-x;
    margin-top: 0px;
}
.tab-title {
    font-family: 'Oxygen', sans-serif !important;
    color: #555555;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}
.tab-text {
    color: #868686;
    font-family: 'Oxygen', sans-serif !important;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
}
.tab-title2 {
    font-family: 'Oxygen', sans-serif;
    color: #555555;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}
.details-care {
    font-family: 'Oxygen', sans-serif!important;
    color: #868686;
    font-size: 13px;
    margin: 0px;
    line-height: 25px;
    list-style-type: none;
}


 /* Vertical Thumbnail CSS */
 
 #image-block {
width:85%;
float:right;
text-align: center;
height: 500px;
}
 
#views_block {
  float: left;
  width: 15%;
  margin-top: 0px;
  text-align:center;
}
 
 
 
#thumbs_list {
max-width:100% !important; 
height:444px;
margin:0px;
text-align: left;
}
 
#thumbs_list ul#thumbs_list_frame {
max-width:100% !important; 
height:442px;
/* overflow:visible !important; */
}
 
.view_scroll_spacer, .carousel-controls {
top: 0px !important;
}
 
span.view_scroll_spacer .carousel-control.left {
  left: 55px !important;
   top: -25px !important;
   -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
}
 
span.view_scroll_spacer .carousel-control.right {
  left: 55px !important;
  top: 295px !important;
  -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
}


/* Product Page */

#thumbs_list_frame li:first-child{display: inline-block;line-height: 70px;text-align: center;/*border: 1px solid #dbdbdb;*/}
#thumbs_list_frame li:first-child a:hover{/*border-color: #dbdbdb;*/}
#thumbs_list_frame li:first-child img{border: none;}
#thumbs_list_frame li:first-child a{position: relative;}
#thumbs_list_frame li:first-child a:before{content:"";position:absolute; top:0px; left:0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6);color: #fff;background-image: url(../img/360-view.png);background-repeat: no-repeat;background-position: center;display:none;}


/* #thumbs_list_frame li:first-child a span.overlay{position:absolute; top:0px; left:0px; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6);color: #fff;background-image: url(../img/360-view.png);background-repeat: no-repeat;background-position: center;} */
.dnt-display{display: none !important;}

/* 360 Degree View */

.gallary_360{position: relative;background: #f6f6f6;padding: 15px;}
.gallary_360 .zoom-360 {
    width: 81%;
    height: 450px;
    border: 0px solid #ccc;
    margin: 0px auto;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 0px;
    text-align: center;
    visibility: hidden;
	background: #fff;
    margin: 15px;
}


body.content_only .primary_block .img-view-sec .gallary_360 .zoom-360{height: 95%;}

.gallary_360 .zoom-360 ul {
    width: 100%;
    height: 100%;
}
.gallary_360 .zoom-360 ul li img {
   /*  display: block;
    width: 100%;
    height: 100%;
    margin-top: -12px; */
	display: block;
    object-fit: contain;
    width: 100%;
    height: 450px;
}

.simplegallery {
    width: 100%;
    height: 100%;
   /*  overflow: hidden; */
}

.simplegallery .content {
    background: #f7f7f7;
    position: relative;
    width: 80%;
    height: 540px;
    overflow: hidden;
    float: right;
}

.size-list{
  position: relative;
  margin: 0px 25px 0px 0 !important;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: #1a1a1a;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition:all 200ms ease-in;
  -moz-transition:all 200ms ease-in;
  transition:all 200ms ease-in;
  transform: scale(1);
  cursor: pointer;
}

.size-list > .radio{
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

.size-list > .radio:hover{cursor: pointer;}

.size-list > .radio > span{
  display: block;
  height: 100%;
  top: 0px;
  margin: 0px;
  width: 100%;
  background: none;
}

.size-list > .radio > span > input{
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;  
  cursor: pointer;
  position: relative;
}
.size-txt{cursor: pointer;}
.size-list:hover{    
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
}

.size-list:hover .size-txt{color: #98055e;cursor: pointer;}

.size-list.selected {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
}

.size-list.selected .size-txt{color: #98055e;}


/* Quick View */

#product.content_only div.primary_block div.img-view-sec .gallary_360 .simplegallery #views_block{
    height: auto;
  }
/* #product.content_only div.primary_block div.img-view-sec .gallary_360 .simplegallery #views_block #thumbs_list{
  height: auto;
} 
#product.content_only div.primary_block div.img-view-sec .gallary_360 .simplegallery #views_block #thumbs_list_frame{
  height: auto;
} */
#product.content_only div.primary_block div.pb-center-column .sharelinks-sec .share-details{width:100%;}
#product.content_only div.primary_block div.pb-center-column .sharelinks-sec .share-details li:first-child{width: 80%;float: left;}
.more-info{
    color: #1a1a1a;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}
.more-info a{color: #1a1a1a;text-decoration:none;outline:none;}
.more-info a:hover{text-decoration:none;color: #98055e;}
.share-details li.quick_wishlist {
    padding: 8px 0px 0px 0px !important;
    text-align: center;
}
#product.content_only div.primary_block div.pb-center-column .sharelinks-sec .share-details li:last-child{width: 16%;float: right;}
#product.content_only div.primary_block div.pb-center-column .pb-right-column #buy_block .box-info-product .box-cart-bottom{width:100%;}

.prod-short-descp {
    margin: 0px 0px 15px;   
}

.pb-center-column .prod-short-descp #short_description_block{color: #868686; font-family: 'Oxygen', sans-serif;font-size: 12px;font-weight: 400;}

.prod-short-descp p {
    margin: 0px 0px 2px !important;
    color: #868686;
    font-family: 'Oxygen', sans-serif!important;
    font-size: 13px;
    font-weight: 400;
}

.tab-content>.tab-pane {
	/* padding: 0px 135px; */
	    padding: 0px 45px;
	}
	
.spec_name, .spec_value{font-family: 'Oxygen', sans-serif;font-size:13px;font-weight:400;}
.spec_name{color:#868686;}
.spec_value{color:#555555;}


/* Hidden Fields */

#quantity_wanted_p{display:none !important;}

.quick_sec_more li {
    border: 1px solid #b5b5b5;
    padding: 7px 20px;
    display: inline-block;
    height: 38px;
    cursor: pointer;
    width: 100% !important;
    float: none!important;
}

.header_middle_sec {
    position: static;
}

/* Responsive */

@media (max-width: 1330px){

.tab-content>.tab-pane {
	padding: 0px 0px;
	}

}

@media (max-width: 991px){
#image-block {width: 80%;}
#views_block {width: 18%;}
#exTab2 .tab-content{background:none;padding:0px;}
.tab-section {padding: 30px 0px 0px;}
#exTab2{margin-top:0px;}

}

@media (max-width: 870px){

#image-block {width: 100%;height:335px;}
#views_block{width:100%;}
#thumbs_list {width: 100%; height: 70px;}
#thumbs_list ul#thumbs_list_frame{height: 70px;}
#thumbs_list li {margin-right: 6px; } 

}

@media (max-width: 767px){

#image-block {width: 100%;height:320px;}
#views_block{width:100%;}
.pb-center-column{padding:0px 30px;}
.box-cart-bottom{width:100%;}
#thumbs_list li {
    margin-right: 0px;
}
.leave-review {
    margin-top: 15px;
    display: block;
}

.pb-left-column #image-block img {
    max-width: 100%;
    height: 320px;
    object-fit: contain;
}

.row.services-details{width:100%;}
.row.services-details ul{margin-bottom:0px;}
.services-details li{padding:0px 5px;}

.share-details{width:100%;}
.share-details li{width:49%;text-align:center;line-height: 24px;}
.share-details li:first-child{line-height:25px;}
.tab-section {
    padding: 5px 0px 0px;
}

}
   


/* Social Share */

/* .social-link-block p:first-child{display:none;} */

/*#product.content_only div.primary_block div.pb-center-column #buy_block .box-info-product .product_attributes{text-align: center;}
#product.content_only div.primary_block div.pb-center-column #quantity_wanted_p label, #product.content_only div.primary_block div.pb-center-column #attributes fieldset label{text-align: center;width:auto;}
#product.content_only div.primary_block div.pb-center-column #attributes .attribute_list ul li {
    display: inline-block;
    float: none;
    margin: 0px !important;
}
#product.content_only div.primary_block div.pb-center-column #attributes .attribute_list ul li.size-list{
  padding: 0px 10px;
}
#product.content_only div.primary_block div.pb-center-column #attributes .attribute_list #color_to_pick_list li{margin-right: 10px !important;}
#product.content_only div.primary_block div.pb-center-column #attributes .attribute_list #color_to_pick_list li:last-child{margin-right: 0px !important;}
*/
/*# sourceMappingURL=product.css.map */