/* Responsive CSS */

@media (min-width: 1600px){
.container{ min-width:1600px;}
}

@media (max-width: 1200px){
.slider-right-sec {right: 30px;}
}

@media (max-width: 1199px){
.main-navbar ul.navbar-nav > li > a{padding: 19px 10px 17px;}
.sort-by-sec{text-align:right;}
.sort-by-sec span.sort-txt{float:none;margin-bottom: 2px;}
.product_result_count {
    padding-top: 32px;
}

/* reviews */

.rank .icon-star {
    font-size: 14px;
}
.rank span b{font-size:16px;}
.cust_reviews{}


}

@media (max-width: 1026px){
.nav-top-block > .col-md-4 > p{font-size:10px;}
.shop-phone, .trackOrder{font-size:10px;}

}

@media (max-width: 991px){
body{padding-top:92px;}
.navbar-header{text-align:right;}
.navbar-brand{padding:10px 15px 10px 0px;}
.hdr-patch-left{padding-top:5px;}
.wishlist_cart_sec{display:inline-block;margin-right: 40px;}
.navbar-toggle{padding:0px;margin: 22px 0px 0px 0px;}
.navbar-brand{display:block;}
.nav-top-block > .col-md-4{text-align:center;display:none;}
.nav-top-block > .col-md-4:last-child{display:block;}
.nav-top-block > .col-md-4 > p{padding:5px 0px;}
.shop-phone, .trackOrder{padding:5px 0px !important;}
.nav-top-block > .col-md-4 > span{margin-right:10px;float:none;display:inline-block;}
.nav-top-block > .col-md-4 > span.trackOrder{margin-left:0px;}
.container{max-width:100%;width:auto;}
.logo-right-sec-outer .logo-right-sec{padding-top:24px;}
header > .nav nav{padding:2px 0px;}
.scroll > .nav{display:none;}
/* .scroll .header-top-middle{display:none;} */
.scroll #search_block_top {
    padding-top: 0px;
}
.scroll .header-top-middle {
    margin-bottom: 0px;
}

/* apply collapse */
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
/* apply collapse */

.navbar-collapse{padding:0px;border-top: 1px solid #eee;}
.main-navbar ul.navbar-nav {padding:0px;/* border-bottom: 2px solid #98055e; */}
.main-navbar ul.navbar-nav > li{display:block;position:relative;text-align:left;border-bottom: 1px solid #f1f1f1;}
.main-navbar ul.navbar-nav > li:nth-last-child(2){border-bottom:none;}
.logo-right-sec li{vertical-align:top;}
.mobile_search_sec{display:none;clear:both;}
.mobile_search_sec .logo-right-sec-outer{display:none;}
.header-top-middle{padding:0px 15px;margin:0px;}
.mobile_search_sec .header_middle_sec {width:100%;padding:0px 0px 10px;}
.header_user_info a {-webkit-box-shadow::none;box-shadow:none;}
.header-top-middle .logo-right-sec-outer .logo-right-sec{}
.main-navbar-default{border-top:none !important;}
.logo-right-sec li {
    padding: 0px 5px;
}
.logo-right-sec > li.mob-search-icon{display:inline-block;}
.wishlist_cart_sec .logo-right-sec {
    padding-top: 20px;
}
/* Hot Products */
.desktop_hot_sec{display:none;}
.tab_hot_sec{display:block;}
.mob_hot_sec{display:none;}

/* .header-top-middle{display:none;} */
.header_middle_sec {
    display: none;
    padding: 10px 15px 0px;
}
header .row #header_logo{display:none;}
.logo-right-sec-outer{display:none;}

.main-navbar ul.navbar-nav > li > a::after{display:none;}
.main-navbar ul.navbar-nav > li > a:hover{color:#98055e;}
.main-navbar ul.navbar-nav > li > a {
    padding: 10px 10px 10px;
}

/* Related Article Banner */

.article_banner_block{width:100%;}


/* Moddboard First */

.mood-board-sec .container .row .col-md-3{padding-left:5px;}
.moodfirst-first .col-md-4:first-child{display:none;}
.slider-right-sec {width: 200px;}
.showcase-row-first{padding-right: 8px;}
.showcase-row-third{padding-left: 8px;}


/* Video + Image Section */

.home_img_sec{display:none;}


/* Static Section */

.sectionbg1 {padding: 82px 0px 100px;}
.showcase-sec{padding:30px 0px 0px;}
.desktop_flower{display:none;}
.mob_flower{display:block;}

/* Newsletter */
#footer .newsletterSec {padding: 25px 0px 12px;}
.newsletterSec ..container .row .col-md-5{display:none;}
.newsletter_section_outer{padding:0px;}
.newsletter_signup_txt p span{display:inline-block;}
.newsletter-ip{margin-top:0px;}

/* Footer */

.footer-sec {
    background: url(../img/footerbg-tab.jpg);
    padding: 15px 0px 0px;
}

.footer-container #footer #social_block{text-align:left !important;}
.footer-container #footer #social_block h4{float:none;text-align:left;margin-bottom:10px;}
.footer-container #footer #social_block ul{float:none;}
.footer-container #footer #social_block ul li:first-child{margin-left:0px;}
.footer-btm .container {padding: 5px 15px 0px;}
.footer-container #footer .custom-footer h4{margin-bottom:10px;}
.footer-container #footer #block_contact_infos > div ul li > span a{padding-left:5px;}

.related_product_sec {padding: 15px 0px 30px;}
.home_video_sec{margin-bottom:15px;}

/* Video + Image Section ( For Online ) */

.video_banner_sec{display:none;}
.btm_video_sec{
	width: 100%;
    padding: 0px 15px;
    margin-bottom: 15px;
}

/* Product Page */

/* Review Section */

.slider_title {margin-bottom: 30px;}
#recommendedProducts{padding:30px 0px;}


/* menu start */
.menu_banner_sec{display:none;}
.cust_tab_sec ul.third_menu li{padding:0px;}
.cust_tab_sec .active + ul.third_menu{padding: 0px 0px;margin:0px;/* background-color: #FFE9CC; */}
.cust_tab_sec .active::after {display:none;}
.third_menu > li:nth-child(2), .third_menu > li:nth-child(3){display:none;}
.cust_tab_sec{height:auto !important;padding:0px;}
.menu-show{/* width:100%;z-index: 99999; */background: #FFF8EF;position: static;margin: 0px;padding: 0px 5px;display:none;}
.main-navbar ul.navbar-nav > li > span{display:inline-block;}
.main-navbar ul.navbar-nav > li.menu-open > span > i{color:#fff;}
.main-navbar ul.navbar-nav > li.menu-open > span > .icon-plus {display:none;}
.main-navbar ul.navbar-nav > li.menu-open > span > .icon-minus {display:inline-block;}
.main-navbar ul.navbar-nav > li.menu-open > a{background: #98055e !important;color:#fff;}
.main-navbar ul.navbar-nav > li.menu-open > span > i{color:#fff;}
.main-navbar ul.navbar-nav li.dropdown .dropdown-menu{padding:5px;}
.cust_tab_sec h4{padding:0px !important;position: relative;border-bottom: 1px solid #fdd2d5;}
.cust_tab_sec h4 span{display:none !important;}
.cust_tab_sec h4.hassubmenu span{display:inline-block !important;}
.cust_tab_sec h4.active .menu-plus .icon-plus{display:none;}
.cust_tab_sec h4.active .menu-plus .icon-minus{display:block;margin-top: 2px;}
.cust_tab_sec h4.active {
    background-color: transparent !important;
    color: #000 !important;
}
.cust_tab_sec h4.active a, .cust_tab_sec h4.active span i {color:#98055e;}
.third_level_menu li a{font-size:11px;padding: 0px 5px;border-bottom-color: #fbe8d0}
.main-navbar ul.navbar-nav > li > a{display: block;}
.cust_tab_sec h4 a{display:block;padding: 10px 4px;}
/* menu end */

/* category page */

.sort-by-sec span.sort-txt {display: inherit;}
.product_result_count {
    padding-top: 40px;
}

}




@media (max-width: 930px){
.slider-right-sec{width:200px;}
.hdr-patch-left{padding-top:5px;}
}

@media (max-width: 778px){
.footer-container #footer #block_contact_infos > div ul li > span a{padding-left:1px;}
}

@media (max-width: 768px){
.page_loading_overlay{display:block;}
.slider-right-sec{width:150px;}
.sectionbg1 {
    padding: 45px 0px 110px;
}
.section-title h2 span{font-size:32px;}
.h3-title{font-size:14px;}

/* Hot products */

.related_product_sec {padding: 15px 0px;}

.home_video_sec{margin-bottom:15px;}

}

@media (max-width: 767px){
.mobile_search_sec{padding: 0px 15px;}
.mobile_search_sec .header_middle_sec {
    padding: 0px 0px 5px;
}
.wishlist_cart_sec .logo-right-sec {
    padding-top: 16px;
}
.logo-right-sec-outer{text-align:center;margin: 0px 0px 5px;}
.logo-right-sec{padding-top:0px;}
.nav-top-block > .col-md-4:last-child{text-align:right;}
.hdr-patch-left{display:none;}
#search_block_top {
    padding-bottom: 20px;
	/* padding-top: 12px !important; */
}
.navbar-brand{padding:10px 5px 10px 15px;}
.navbar-toggle {
    margin-top: 18px;
    margin: 20px 15px 0px 0px;
}
.slider-right-sec{display:none;}
#homepage-slider .homeslider-description{display:none;}
#wishlistProducts{
	/* width: 300px !important;
	right: -125px !important; */
}

header > .nav nav{padding:5px 0px;display:none;}
.contact_sec_list span{font-size:12px;}

/* banner */
body{padding-top: 52px;}
#homepage-slider{padding-top:0px !important;}


.policy_section_outer{display:none;}
.newsletter_section_outer{padding:0px;}
#footer .newsletterSec{padding:15px 0px;}
.footer-container #footer .custom-footer h4{margin: 0px 0px 15px;padding-bottom: 0px;}
.footer-container #footer #social_block{float: none;text-align: left;}
.footer-container #footer #social_block ul li:first-child{margin-left:0px;}
.footer-container #footer .footer-block {
    margin-top: 0px;
}
.footer-container #footer #block_contact_infos{padding:0px 15px;}
.footer-container #footer #block_contact_infos .contact-info-sec{display:block !important;margin: 0px;}
.footer-container #footer #block_contact_infos > div ul li{line-height:normal;}
.copyrightSec{text-align:center;line-height: normal;padding: 0px;margin: 5px 0px 15px;padding: 0px 15px;}
.paymentSec{text-align:center;padding-top: 0px;line-height: normal}
.paymentSec img{float:none;margin-left:0px;}
.footer-btm{padding:0px 15px;}
.btn.btn-member {padding: 15px 20px;font-size: 12px;}
.article_banner_block{width:100%;}
.showcase-row-second {
    padding: 0px 15px !important;
}
#header .cart_block{width:280px !important;}

/* video section */

/* .video{
	width: 100% !important;
	height: 200px;
	padding: 0px !important;
	} */
.btm_video_sec{
	height: 200px;
}
.video iframe {
    width: 100%;
    height: 100%;
}
.video_banner_sec{display:none;}

/* Hot Products */
.desktop_hot_sec{display:none;}
.tab_hot_sec{display:none;}
.mob_hot_sec{display:block;}


.navbar-brand img {
    width: 120px;
}
/* Mood Board First */

.mood-block-second {
    padding-right: 15px;
	margin-bottom: 15px;
}
.mood-block-third {
    padding-left: 15px;
}
.moodfirst-first{margin-bottom:15px;}
.mood-board-sec .container .row .col-md-3 {
    padding-left: 15px;
}

/* Mood Board Second */

.showcase-row-first {padding-right: 15px;margin: 15px 0px;}
.showcase-row-third {padding-left: 15px;}



/* Showcase */

.sectionbg1 {padding: 115px 0px 100px;}

.footer-btm .container {padding: 15px 0px;}
#block_contact_infos{text-align:center;}
.footer-container #footer #block_contact_infos > div ul li{line-height:20px;}
.footer-container #footer #block_contact_infos > div ul li > span a {
    padding-left: 15px;
}

.header_middle_sec {
    padding: 10px 15px 4px;
}

.vanity_static_block .col-md-4{margin-bottom:15px;}
.vanity_static_block .col-md-4:last-child{margin-bottom:0px;}

/* Product Page */

.breadcrumb a{padding: 0 10px 0 15px;}
.breadcrumb a.home{padding: 0px 4px 0px 10px;}

/* category page */
#left_column{padding-right:15px;margin-bottom:15px;margin-bottom: 15px;border-right:0px;}
div#left_column > div.block{
    margin-top: 5px;
    border: 1px solid #eaeaea;
}
div#left_column > div.block:first-child{
    margin-top: 0px;
}
div#left_column > div.block > .block_content {
    margin-bottom: 20px;
    padding: 0px 10px 0px;
}
div#left_column > div.block > p {
    padding: 8px 8px;
    margin: 0px;
    background: #f5f5f5;
    font-size: 14px;
    border: none;
	letter-spacing:1px;
}

div#left_column > div.block > p.active{border-bottom: 1px solid #eaeaea;}
.catalog_top_border{/* border:none; */}
.product_result_count {padding-top: 0px;}
.sort-by-sec {text-align: left;}
.stock_label{left:0px !important;}
.sort-by-sec-in-stock{padding-left:2px;}
.catalog_top_bar {margin: 0px;}
ul.product_list.grid > li .product-container .functional-buttons{display:none;}

}

@media (max-width: 600px){
	
.logo-right-sec li .header_user_info a{border:none;}
.navbar-toggle {
    margin-top: 18px;
    margin: 14px 15px 0px 0px;
}
.navbar-toggle .icon-bar{width: 4px;height: 4px;border-radius: 50%;}
.wishlist_cart_sec .logo-right-sec > li{margin-left:10px;}
.wishlist_cart_sec .logo-right-sec > li:first-child{display:none;}
.wishlist_cart_sec{margin-right:30px;}
.wishlist_cart_sec .logo-right-sec {
    padding-top: 14px;
}
.navbar-nav{margin-top:0px;}
.mobile_search_sec .header_middle_sec {
    width: 100%;
    padding: 5px 0px 10px;
}
.search-autocomplete{top: 55px;}
}




@media (max-width: 324px){
.nav-top-block > .col-md-4 > p{font-size:9px;}
.shop-phone, .trackOrder{font-size:9px;}
}