
<!-- MODULE GETSALEALERT -->
<li class="lnk_wishlist">
	<a href="{$link->getModuleLink('getsalealert', 'managesalealert', array(), true)|escape:'html':'UTF-8'}" title="{l s='Manage Sale Alert' mod='getsalealert'}">
		<!-- <img src="{$module_template_dir}img/gift.gif" alt="{l s='My wishlists' mod='blockwishlist'}" class="icon" /> -->
		<i class="icon-envelope"></i>
		<span>
		{l s='Manage Sale Alert' mod='getsalealert'}
		</span>
	</a>
</li>
<!-- END : MODULE GETSALEALERT -->