
.news-title-static {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Oswald', sans-serif!important;
    color: #323232;
    font-size: 18px;
    padding: 10px 0px 10px;
    margin: 20px 0;
}
#cms #center_column .news-title-static img {
    position: relative;
    top: -3px;
    padding-right: 10px;
	margin:0px;
}
.articleContent {
    background-color: #ffeee6;
    border: 1px solid #dddddd;
    font-family: 'Oswald', sans-serif!important;
}
.nonebdr {
    border: 0px solid!important;
}
.news-section .articleContent {
    background: #fff;
    padding: 0 0px;
}
.articleContent h5 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    line-height: 24px;
    font-weight: 300;
}
.news-section .articleContent h5 {
    font-size: 20px;
}
.articleContent h5 a {
    color: #000;
    font-family: 'Oswald', sans-serif!important;
    font-weight: 300;
    font-size: 18px;
}

.articleContent h5 a:hover {
    color: #98055e!important;
}

.box-wrapper hr {
    background-color: #ebebeb;
}

a.btn.btn-primary {
    font-family: 'Oswald', sans-serif!important;
    padding: 8px 35px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0px;
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #252525;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}
















