<p class="socialsharing_product list-inline no-print">
		
			<!-- <button data-type="twitter" type="button" class="btn btn-default btn-twitter social-sharing">
				<i class="icon-twitter"></i> {l s="Tweet" mod='socialsharing'}				
			</button>
		
			<button data-type="facebook" type="button" class="btn btn-default btn-facebook social-sharing">
				<i class="icon-facebook"></i> {l s="Share" mod='socialsharing'}				
			</button>
		
			<button data-type="google-plus" type="button" class="btn btn-default btn-google-plus social-sharing">
				<i class="icon-google-plus"></i> {l s="Google+" mod='socialsharing'}				
			</button>
		
			<button data-type="pinterest" type="button" class="btn btn-default btn-pinterest social-sharing">
				<i class="icon-pinterest"></i> {l s="Pinterest" mod='socialsharing'}				
			</button> -->

			<a href="javascript:void(0);"  class="socialsharebtn" id="facebookbtn" title="Facebook">
				
			</a>
			<a href="javascript:void(0);" class="socialsharebtn" id="twitterbtn" title="Twitter">
				
			</a>
			<a href="javascript:void(0);" class="socialsharebtn" id="googleplusbtn" title="Google Plus">
				
			</a>
			<a href="javascript:void(0);" class="socialsharebtn" id="pinterestbtn" title="Pinerest">
				
			</a>
		
</p>