.templateBG{display: block;width: 200px; height: 200px; border:thin solid #efefef; margin-left:5px; float:left;}
.templateLeftAlign{display: block;float:left; margin-top: 10px;}
/* #pos_cms_1_chosen{display: none;} */
.manageboard-wrapper{border: thin solid red;}
.getAllColor{padding: 5px;background-color: #dedede;}
.prodColorOpt{width:60%; height:150px; position:relative;l/* eft: 25%;  */margin-top: 2%; overflow-x: auto; padding: 5px; box-shadow: 1px 4px 8px #aaa; border-radius: 5px;}
.prodColorOpt img{width: 100%;float: left; border: 1px solid #ccc; margin:0px 2px 0px 0px; border-radius: 5px;}
.prodColorOpt .prodName{float: left; font-weight: 600;}
.img-wrap {display: block;    float: left;    width: 95px;    height: 120px;
     margin: 0 2px 0 0;}
.img-wrap input{margin:0 0 0 42%;} .layout{margin-top: 3%} .layout div{margin-top: 1%}
.modal-dialog{width: 95% !important;}
.templateBG input::before{display: inline-block;width:200px; height:155px; content: ""; /* content: url(../temp2.jpg); */display: inline-block; margin-top: 2em;}
#temp1::before{ background: url("../temp1.jpg") no-repeat 0 0;  background-size: 100%;}
#temp2::before{ background: url("../temp2.jpg") no-repeat 0 0;  background-size: 100%;}
.viewList i::before{font-size: 30px !important;}

/* Custom CSS */

.mood-board-sec{padding:30px 0px 0px;}

.moodfirst-first .product-item-vote{
	
	background-color: #ffeee6;
}

.moodfirst-first .product-item-vote:last-child{margin-bottom:0px;}

.product-item-vote {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 15px;
}

.product-item-vote .product-content {
    border: 0;
    padding: 20px;
}
.product-content {
    background-color: #ffeee6;
    border: 1px solid #dddddd;
    font-family: 'Oswald', sans-serif !important;
}
.product-content span {
    color: #000;
    display: block;
}
.product-content span.tagline {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 300 !important;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Oxygen', sans-serif !important;
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.tagline {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f53a6f;
    display: block;
    font-family: 'Oxygen', sans-serif !important;
}

.product-content h5 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    line-height: 24px;
    font-weight: 300;
	width:100%;
	height:50px;
	
	/* width:100%;
	display: block;
    display: -webkit-box;
	height:50px;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */	
}
.product-content h5 a {
    color: #000;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300;
    font-size: 18px;
	display:block;
	
}
.product-content h5 a:hover {
    color: #98055e;
}

.prod-first-img{width:100%;height:558px; background: #ffeee6;}
.prod-first-img img{width:100%;height:100%;object-fit: contain;}
.prod-others-img{width:100%;height:215px; background: #ffeee6;}
.prod-others-img img{width:100%;height:100%;object-fit: contain;}

/* .moodfirst-first{padding:0px 15px;}
.moodfirst-first .col-md-4{padding:0px;margin-right:15px;}

.col-md-4.col-sm-6:last-child {
    margin-right: 0px;
} */

/* .col-md-4.col-sm-6:nth-child(2), .col-md-4.col-sm-6:nth-child(3){
    padding-left: 0px;
}  */


/* Showcase CSS */

.showcase-sec{padding:30px 0px;}

.btn.discoverBtn{padding:12px 35px;margin: 20px;}

.parent {
    width: 100%;
    /* margin: 20px; */
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
	background:#ffede7;
}
.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.product-item-1 {
    margin-bottom: 15px;
}
.product-item-1 .product-thumb {
    overflow: hidden;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.overlay-icon {
    position: absolute;
    z-index: 9;
    right: 10px;
    top: 10px;
	width:20px;
}
.show-icon1 {
    text-align: right;
    margin: 0px 0px 8px;
    width: 100%;
    float: right;
}
.show-icon1 a {
    height: 17px;
    display: block;
	background: url('prod-wishlist.png') no-repeat;
}
.show-icon2 {
    text-align: right;
    margin: 0px;
    width: 100%;
    float: right;
}
.show-icon2 a {
    /* margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-size: inherit;
    font-weight: normal;
    vertical-align: middle; */
	height: 12px;
    display: block;
	background: url('view-btn.png') no-repeat;
}
.show-icon2 img {
    margin: 0;
    padding: 0;
    vertical-align: top;
    position: relative;
    top: 5px;
}
.show-icon1 a:hover {
    height: 17px;
    display: block;
    background: url('prod-wishlist-hover.png') no-repeat;
}

.show-icon2 a:hover {
    height: 12px;
    display: block;
    background: url('view-btn-hover.png') no-repeat;
}

.product-item-2 {
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
	/* background: #ffede7; */
}
.product-item-2 .product-thumb {
    float: left;
    width: 100%;
	height:371px;
}
.product-item-2 .product-thumb img {
    
}
.product-item-2 .product-content.nonepad {
    padding: 0;
}

.product-item-2 .product-content {
    /* float: right; */
    border-left: 0;
    padding: 20px;
    overflow: hidden;
}

.nonebdr {
    border: 0px solid!important;
}

.white {
    background: #fff!important;
}

.product-content {
    background-color: #ffeee6;
    border: 1px solid #dddddd;
    font-family: 'Oswald', sans-serif!important;
}
.product-content h2 {
    font-size: 60px;
    color: #1a1a1a!important;
    text-transform: uppercase;
    margin: 0;
    line-height: 70px;
    text-align: center;
    font-weight: 300;
    padding: 0 0 30px;
	font-family: 'Oswald', sans-serif!important;
}
p.tagline {
    text-align: center;
    color: #9d857b;
    line-height: 20px;
    font-family: 'Oxygen', sans-serif!important;
    font-weight: 400;
	height:40px;
}
.tagline {
    margin-bottom: 10px;
    float: left;
    width: 100%;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f53a6f;
    display: block;
    font-family: 'Oxygen', sans-serif!important;
}
.product-item-3 {
    margin-bottom: 15px;
}
.text-lowercase{text-transform:lowercase;}
.product-thumb {
	/* width:100%;
	height: 350px; */
}
.product-thumb img {
    /* width: 100%;
    height: 100%;
	object-fit:contain; */
}
.product-item-1 .product-thumb, .product-item-3 .product-thumb {
	/* padding:30px 0px; */
}

.product-item-1 .product-thumb, .product-item-2 .product-thumb, .product-item-3 .product-thumb {
	width:100%;
	height:371px;
	text-align: center;
}

.product-item-1 .product-thumb, .product-item-3 .product-thumb {
	
	line-height:371px;
}


/* .showcase-row-first .product-item-1:first-child .product-thumb{width:100%;height:371px;}

.showcase-row-first .product-item-1:last-child .product-thumb{width:100%;height:371px;}

.showcase-row-first .product-item-1:first-child .product-thumb{width:100%;height:371px;}

.showcase-row-first .product-item-1:last-child .product-thumb{width:100%;height:371px;}

.showcase-row-third .product-item-3:first-child .product-thumb{width:100%;height:371px;}

.showcase-row-third .product-item-3:last-child .product-thumb{width:100%;height:371px; */}

.product-item-1 .product-thumb > img, .product-item-2 .product-thumb > img, .product-item-3 .product-thumb > img {
	width:auto;
	height:auto;
	display:inline-block;
	/* object-fit:contain; */
}


/* .showcase-row-first .product-item-1:first-child .product-thumb > img {height:300px;}
.showcase-row-first .product-item-1:last-child .product-thumb > img {height:465px;}

.showcase-row-third .product-item-3:first-child .product-thumb > img{height:465px;}
.showcase-row-third .product-item-3:last-child .product-thumb > img{height:300px;} */

.showcase-row-second{padding:0px;}

.product-item-1 .product-thumb > img, .product-item-3 .product-thumb > img {
	height:320px;
	vertical-align:middle;
	padding:20px 0px;
}

.showcase-row-first .product-item-1:first-child .product-thumb, .showcase-row-third .product-item-3:last-child .product-thumb{width:100%;height:300px;line-height:300px;}
.showcase-row-first .product-item-1:first-child .product-thumb > img, .showcase-row-third .product-item-3:last-child .product-thumb > img{height:300px;}

.showcase-row-first .product-item-1:last-child .product-thumb, .showcase-row-third .product-item-3:first-child .product-thumb{width:100%;height:400px;line-height:400px;}
.showcase-row-first .product-item-1:last-child .product-thumb > img, .showcase-row-third .product-item-3:first-child .product-thumb > img{height:380px;}

.showcase-row-first .product-item-1:last-child, .showcase-row-third .product-item-3:last-child{margin-bottom:0px;}

.mood-block-first{padding-right:8px;}
.mood-block-second{padding:0px 8px;}
.mood-block-third{padding-left:8px;}

/* Responsive */

@media (max-width: 991px){
	.product-content h2 {font-size: 36px;}
.showcase-sec {
    padding: 30px 0px 0px;
}
.showcase-row-second {
   padding: 0px 15px;
}
.mood-block-second{padding: 0px 15px;}
.mood-block-third{padding:0px 15px}
}

@media (max-width: 768px) {

.mood-board-sec {padding: 15px 0px 0px;}
.showcase-sec {
    padding: 15px 0px 0px;
}
.btn.discoverBtn {margin: 15px 0px 0px;}
.product-item-2 {margin-bottom: 15px;}
}

@media (max-width: 767px) {

.product-content h2{font-size: 20px;line-height:normal;padding: 0 0 10px;}
p.tagline{line-height:18px;margin-bottom:0px;}

.product-item-2 {margin-bottom: 0px;}
}






