.templateBG{display: block;width: 250px; height: 220px; border:thin solid #efefef; margin-left:5px; float:left;}
.templateLeftAlign{display: block;float:left; margin-top: 10px;}
/* #pos_cms_1_chosen{display: none;} */
.manageboard-wrapper{border: thin solid red;}
.getAllColor{padding: 5px;background-color: #dedede;}
.prodColorOpt{width:60%; height:160px; position:relative;l/* eft: 25%;  */margin-top: 2%; overflow-x: auto; padding: 5px; box-shadow: 1px 4px 8px #aaa; border-radius: 5px;}
.box-img-cms{height: auto !important;}
.prodColorOpt img{width: 100%;float: left; border: 1px solid #ccc; margin:0px 2px 0px 0px; border-radius: 5px;}
.prodColorOpt .prodName{float: left; font-weight: 600;}
.img-wrap {display: block;    float: left;    width: 95px;    height: auto;
     margin: 0 5px 10px 0; text-align: center;}
.img-wrap label{margin: 0 0 0 0;}
.img-wrap input{margin:0 0 0 42%;} .layout{margin-top: 3%} .layout div{margin-top: 1%}
.modal-dialog{width: 95% !important;}
.templateBG label:after{display: inline-block;width:250px; height:192px; content: ""; /* content: url(../temp2.jpg); */display: inline-block;}
.mb-temp1:after{background: url("../temp1.jpg") no-repeat 0 0;  background-size: 100%; margin: 5px 0 0 -1.7em}
.mb-temp2:after{background: url("../temp2.jpg") no-repeat 0 0;  background-size: 100%; margin: 5px 0 0 -1.7em}
.viewList i::before{font-size: 30px !important;}
.chosen-container-single .chosen-drop{width: 450px !important;}
.chosen-container.chosen-with-drop .chosen-drop{width: 450px !important;}
.chosen-container-single .chosen-single{width: 450px !important;}
.cms-data-wrap{width: 500px;}