
.socialsharing_product a{width:38px;height:38px;display:inline-block;background-size: auto 50px;}
.socialsharing_product a:nth-child(1){background-image:url('../../img/sharing_icons.png');background-position: -5px -5px;}
.socialsharing_product a:nth-child(2){background-image:url('../../img/sharing_icons.png');background-position: -67px -5px;}
.socialsharing_product a:nth-child(3){background-image:url('../../img/sharing_icons.png');background-position: -130px -5px;}
.socialsharing_product a:nth-child(4){background-image:url('../../img/sharing_icons.png');background-position: -319px -5px;}