
::selection {background-color: #999999; color: #ffffff }
::-moz-selection {background-color: #999999; color: #ffffff }
html {margin: 0 !important; padding: 0 !important }
body{font-family: 'Oswald', sans-serif; }
a{/*-webkit-transition-timing-function: ease; transition-timing-function: ease; -webkit-transition-duration: 200ms; transition-duration: 200ms;*/color: #000!important; }
* {box-sizing: border-box;margin: 0;padding: 0;}
textarea:focus, input:focus{outline: none;}
*:focus {outline: none;}
input:focus {outline: 0 none;}
.input-group .form-control:focus{border: transparent;outline: none; border-color: inherit;-webkit-box-shadow: none;box-shadow: none;}
a:hover{color: #f43b67!important}
.bottomMenu a.active-breadcrumb{color: #f43b67!important;font-weight: 400;font-family: 'Oswald', sans-serif;font-size: 12px;}
.bottomMenu {display: none; position: fixed; top: 0; margin-top: 124px; width: 93%; /*background:#ffeee6;*/ background-image: url(../images/tophdr-patch3.jpg); background-repeat: repeat-x; padding:.6% 14%; z-index: 9999999; text-align: left; font-size: 12px; border-bottom: 0px solid #fbd7c6; /*box-shadow: 0px 0px 10px 0px #e7d4d1;*/ }
.bottomMenu span {position: absolute; left: 5%; width: 108px; top: -2px; }
#header-stick-sticky-wrapper.sticky-wrapper{height: auto!important;}
.is-sticky .mid-hdr{padding:5px 0 0px; margin-bottom: 0px; display: inline-block; width: 100%; border-bottom: 1px solid #f1f1f1; }
.is-sticky .mid-hdr img.sitelogo{width: 40%;display: block;margin-top: 0px;}
.is-sticky .main-navigation {padding-top: 3px; box-shadow: 0px 0px 0px 0px #e7d4d1; border-bottom: 1px solid #e7d4d1; }
.is-sticky .main-navigation .nav>li>a {padding: 0px 4px 5px!important; }
.is-sticky .navbar-form{margin-top: 4px;}
#leftnav-stick {box-sizing:border-box; z-index: 99999!important; }
#leftnav-stick-sticky-wrapper.is-sticky{width: auto!important;margin-top: 14%;background: transparent!important; height: auto!important;}
#leftnav-stick-sticky-wrapper.sticky-wrapper{width: auto!important;background: transparent!important; height: auto!important}
.leftSidebarSec{width: auto!important;}
#header-stick-sticky-wrapper.sticky-wrapper.is-sticky{background: transparent!important;}
#header-stick {background: #fff; width:100%; box-sizing:border-box; box-shadow: 0px 0px 0px #000; z-index: 99999999!important; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu-container {width: 100%; margin: 0 auto; background: #fff; text-align: center; position: relative; z-index: 99999; }
.menu-mobile {display: none; padding: 20px; }
.menu-mobile:after {content: "\f394"; font-family: "Ionicons"; font-size: 2.5rem; padding: 0; float: right; position: relative; top: 50%; -webkit-transform: translateY(-25%); -ms-transform: translateY(-25%); transform: translateY(-25%); }
.menu-dropdown-icon:before {content: "\f489"; font-family: "Ionicons"; display: none; cursor: pointer; float: right; padding: 1.5em 2em; background: #fff; color: #333; }
.menu > ul {margin: 0 auto; width: 100%; list-style: none; padding: 0 0em; text-align: center; position: relative; /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */ box-sizing: border-box; border-bottom: 0px solid #c2c2c2; }
.menu > ul:before,
.menu > ul:after {content: ""; display: table; }
.menu > ul:after {clear: both; }
.menu > ul > li {/* float: left;*/ /* background: #fff;*/ padding: 0; margin: 0; display: inline-block; font-family: 'Oswald', sans-serif;color: #1a1a1a; font-size: 14px; font-weight: 400; }
/*****left drop-down menu side bar***********/
/*  section tab */
div.section-tab-container{z-index: 10; background-color: #ffffff; padding: 0 !important; border-radius: 4px; -moz-border-radius: 4px; border:0px solid #ddd; /*margin-top: 20px; margin-left: 50px;*/ /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175); -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/ background-clip: padding-box; opacity: 0.97; filter: alpha(opacity=97); }
div.section-tab-menu{padding-right: 0; padding-left: 0; padding-bottom: 0; width: 11%; margin-right: 2%; margin-left: 3%; }
div.section-tab-menu div.list-group{margin-bottom: 0; }
div.section-tab-menu div.list-group>a{margin-bottom: 0; }
div.section-tab-menu div.list-group>a .glyphicon,
div.section-tab-menu div.list-group>a .fa {color: #5A55A3; } div.section-tab-menu div.list-group>a:first-child{border-top-right-radius: 0; -moz-border-top-right-radius: 0; } div.section-tab-menu div.list-group>a:last-child{border-bottom-right-radius: 0; -moz-border-bottom-right-radius: 0; }
div.section-tab-menu div.list-group>a.active,
div.section-tab-menu div.list-group>a.active .glyphicon,
div.section-tab-menu div.list-group>a.active .fa{background-color: #fff1e0; background-image: #fff1e0; color: #ffffff; }
div.section-tab-menu div.list-group>a.active:after{content: ''; position: absolute; left: 100%; top: 50%; margin-top: -5px; border-left: 0; border-bottom:5px solid transparent; border-top: 5px solid transparent; border-left: 8px solid #f43b67; }
div.section-tab-content{background-color: #fff8f0; border-left: 1px solid #fee5e2; padding-left: 0px; padding-top: 0px; }
div.section-tab div.section-tab-content:not(.active){display: none;}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{border: none!important;background-color: #f43b67!important;color: #fff!important;}
.list-group-item{border: none!important;background-color: transparent!important}
.list-group a{padding:10px 30px !important;margin:0!important;text-align:left;font-family: 'Oswald', sans-serif;font-size: 13px!important;font-weight: 400;color: #1a1a1a}
.list-group-item:first-child{border-top-left-radius: 0px!important;}
.listbox-col{margin-right:1%;text-align: left; font-family: 'Oswald', sans-serif;font-size: 13px;font-weight: 400; vertical-align: top; clear: both; color: #444444; }
.listbox-col .colhead{color: #1a1a1a; font-family: 'Oswald', sans-serif;font-size: 12px;font-weight: 400; border-bottom: 1px solid #fdd2d5; width: 80%; padding-bottom: 1px; margin-bottom: 1px; text-transform: capitalize; }
.listbox-col ul{display: inline-block;width: 100%;list-style: none;margin-bottom: 10px;}
.listbox-col li{color: #444444;letter-spacing: 0; font-family: 'Oxygen', sans-serif;font-size: 11px;font-weight: 400;line-height: 20px;}
li.col-title > a{text-transform: uppercase!important; color: #1a1a1a!important; }
li.col-title-2 ul li > a{text-transform: uppercase!important; color: #1a1a1a!important; font-family: 'Oswald', sans-serif; font-size: 14px; font-weight: 400; }
.menu > ul > li a {text-decoration: none; padding: 1.6em 1.4em; display: block; text-transform: uppercase; color: #1a1a1a; }
.menu > ul > li:hover {background:#fff8ef; color: #f43b67!important; box-shadow: 0px  -4px 10px #d9d4cf; }
.menu > ul > li a:hover {color: #f43b67!important; }
.menu > ul > li > ul {display: none; width: 100%; background:#fff8ef; padding: 20px; position: absolute; /* z-index: 99999;*/ z-index: -1; left: 0; margin: 0; list-style: none; box-sizing: border-box; box-shadow: 1px  1px 10px #d9d4cf; /* box-shadow: 0px 5px 10px #84685e;*/ font-family: 'Oxygen', sans-serif; font-weight: 400; font-size: 12px; letter-spacing: 1px; margin-top: 0px; }
.menu > ul > li > ul:before,
.menu > ul > li > ul:after {content: ""; display: table; }
.menu > ul > li > ul:after {clear: both; }
.menu > ul > li > ul > li {margin: 0; padding-bottom: 0; list-style: none; width: 14.15%; background: none; float: left; text-align: left; }
.menu > ul > li > ul > li a {color: #4b0e6c; padding: .2em 0; width: 95%; display: block; border-bottom: 1px solid #ccc; text-transform: none; }
.menu > ul > li > ul > li > ul {display: block; padding: 0; margin: 10px 0 0; list-style: none; box-sizing: border-box; }
.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {content: ""; display: table; }
.menu > ul > li > ul > li > ul:after {clear: both; }
.menu > ul > li > ul > li > ul > li {float: left; width: 100%; padding: 5px 0; margin: 0; font-size: .8em; }
.menu > ul > li > ul > li > ul > li a {border: 0;}
.menu > ul > li > ul.normal-sub {/* width: 300px; left: auto; padding: 10px 20px; border: 1px solid red;*/ }
.menu > ul > li > ul.normal-sub > li {width: 100%; }
.menu > ul > li > ul.normal-sub > li a {border: 0; padding: 1em 0; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
    .menu-container {width: 100%; }
    .menu-mobile {display: block; }
    .menu-dropdown-icon:before {display: block;}
    .menu > ul {display: none; }
    .menu > ul > li {width: 100%; float: none; display: block;}
    .menu > ul > li a {padding: 1.5em; width: 100%; display: block;}
    .menu > ul > li > ul {position: relative; }
    .menu > ul > li > ul.normal-sub {width: 100%; }
    .menu > ul > li > ul > li {float: none; width: 100%; margin-top: 20px;}
    .menu > ul > li > ul > li:first-child {margin: 0; }
    .menu > ul > li > ul > li > ul {position: relative;}
    .menu > ul > li > ul > li > ul > li {float: none;}
    .menu .show-on-mobile {display: block;}
}

.navbar-default .navbar-nav>li>a:hover{color:#9d857b }
.navbar-default .navbar-nav>li>a:before{position:absolute;bottom:-2px; left:0; visibility:hidden; width:100%;height:0px; content:''; /*-webkit-transition:all .3s ease-in-out 0s; transition:all .3s ease-in-out 0s;*/ /*-webkit-transform:scaleX(0); transform:scaleX(0);*/ background-color:#9d857b }
.navbar-default .navbar-nav>li>a:hover:before{visibility:visible;/*-webkit-transform:scaleX(1);transform:scaleX(1)*/ }
.is-sticky  .main-navigation .navbar-brand{height: auto;}
.is-sticky  .main-navigation .navbar { min-height: auto;}
.overlay-box{position: absolute; right: 5%; bottom: 0%; z-index: 10; width: 295px; }
.slidebox-1{height: 100%;margin-bottom: 2px;}

/* Left Sidebar */
.leftSidebarSec{position:absolute;top:1px;left:0px;z-index:9999;}
.leftSidebarSec ul{list-style-type:none;margin:0px;padding: 0;}
.leftSidebarSec ul li .categoryImg{background: #fff;}
.leftSidebarSec ul li .categoryImg a{padding:0;border-bottom:1px solid #d2d2d2;transition:300ms ease;display:inline-block;}
.leftSidebarSec ul li .categoryImg a:hover{border-color:#fff;}
.leftSidebarSec ul li .categoryImg a img{width:82px;}
.leftSidebarSec ul li a{color:#fff;}
.leftSidebarSec ul li:last-child a.hvr-underline-from-left:before{bottom: 3px;height: 3px;}
.leftSidebarSec li.beauty-nav a{background: url(../images/beauty2.png) no-repeat; width: 82px;height: 82px;display: block; position: relative;z-index: 100}
.leftSidebarSec li.active.beauty-nav a{background: #f43b67 url(../images/leftnav_active.jpg) no-repeat; width: 82px;height: 82px;display: block;}
.leftSidebarSec li.beauty-nav a.active{ position:absolute;z-index:9999;background: #612b7e url(../images/leftnav_active.jpg) no-repeat; width: 82px;height: 82px;display: block;}
.leftSidebarSec li.active.beauty-nav{background: #f43b67 url(../images/leftnav_active.jpg) no-repeat;}
.leftSidebarSec li.active.beauty-nav a>.leftnav-btmtitle{color: #fff!important;}
.leftnav-btmtitle{position: absolute; bottom: 12%; text-align: center; width: 100%; font-family: 'Oswald', sans-serif; font-weight: 400; text-transform: uppercase; font-size: 10px; left: -5px; right: 0; margin: 0 auto; letter-spacing: 1px; }
.hvr-underline-from-left {display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; overflow: hidden; /*background: #c8232c;*/ }
.hvr-underline-from-left:before {content: ""; position: absolute; z-index: -1; left: 0; right: 100%; bottom: 0; background:#f43b67/*#38aa38*/; height: 2px; -webkit-transition-property: right; transition-property: right; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.hvr-underline-from-left:hover:before,.hvr-underline-from-left:focus:before,.hvr-underline-from-left:active:before {right: 0; }
.mid-hdr{padding: 25px 0 15px; margin-bottom: 0px; display: inline-block; width: 100%; border-bottom: 1px solid #f1f1f1 }
.top-header{padding: 0px 0 0px; margin-bottom: 0px; display: inline-block; width: 100%;}
.hdr-patch{ background-image: url(../images/tophdr-patch2.jpg); background-repeat: repeat-x;width: 100%;height: 35px;font-family: 'Oxygen', sans-serif; font-weight: 600;font-size: 11px;padding: 0 20px;text-transform: uppercase;line-height: 3em;color: #1a1a1a!important; }
.top-header .form-control{border: 1px solid #fff;outline: none;box-shadow: none;font-size: 16px; color: #aaa;font-family: 'Oswald', sans-serif; font-weight: 100;}
.top-header .btn-default{border: 1px solid #fff;}
.pull-right li{ display: inline-block; text-transform:uppercase;color: #9d857b;font-family: 'Oxygen', sans-serif; font-weight: 400;font-size: 11px;
 padding-right: 30px }
.pull-right.topmargin{ margin: 8px 33px 3px }
.pull-right li img{ padding-right: 5px;}
.pull-right li span{font-size: 11px;font-family: 'Oxygen', sans-serif; font-weight: 600;color: #1a1a1a!important;}
.pull-right li.track-o{font-size: 11px;color: #1a1a1a!important; font-family: 'Oxygen', sans-serif; font-weight: 600;}
ul.mega-menu{float:left;display: inline-block;padding: 0;margin: 0; width: 13.88%;font-family: 'Oxygen', sans-serif; font-weight: 600;
 text-align: left;}
ul.mega-menu .nav-header{font-size: 10px;color: #9d857b;font-family: 'Oxygen', sans-serif; font-weight: 600;border-bottom: 1px solid #cccccc;text-transform: uppercase;
  padding-bottom: 0px;margin-bottom: 10px; letter-spacing: normal;}
.mega-menu li {margin-right: 20px;letter-spacing: normal;line-height: 28px;text-transform: none; display: inline-block; text-align: left;
    width: 80%;list-style: none;font-family: 'Oxygen', sans-serif; font-weight: 400;color: #1a1a1a; font-size: 10px;}
.mega-menu li a{color: #1a1a1a;}
.mega-menu a.btn.btn-primary{font-family: 'Oswald', sans-serif;padding:8px 35px;
background: #fff;border: 1px solid #000;border-radius: 0px;margin: 10px;font-size: 12px;font-weight: 400;color: #000000;
 text-transform: uppercase;text-align: center;}
.carousel-caption{right: 50%; left: 20%; padding-bottom:0px; top: 30%; width: 400px; height: 200px; }
.carousel-caption span{ text-shadow: none;color: #1a1a1a;font-family: 'Oxygen', sans-serif;
font-size: 13px;font-weight: 300;text-transform: uppercase; }
.carousel-caption span img{padding-left: 5px;}
.carousel-inner{border-top: 1px solid #cfd5d3;}
.carousel-caption span a{color: #1a1a1a;text-decoration:none;}
.carousel-caption p{ text-shadow: none;color: #1a1a1a;padding: 0;margin: 0;font-family: 'Oxygen', sans-serif;font-size: 18px;font-weight:300;text-transform: uppercase; }
.carousel-caption h3{margin: 0; padding-bottom: 20px; font-family: 'Oswald', sans-serif;font-size: 60px!important;font-weight: 300;color: #000000; text-transform: uppercase; text-shadow: none; }
.carousel-fade .carousel-inner .item {opacity: 0; transition-property: opacity; }
.carousel-fade .carousel-inner .active {opacity: 1; }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {left: 0; opacity: 0; z-index: 1; }
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1; }
.carousel-fade .carousel-control {z-index: 2; }
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-caption {text-shadow: 0 1px 4px rgba(0,0,0,.9); font-size:17px }
.carousel-caption h3 {font-size: 30px;}
    html,
    body,
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
      height: 506px;
    } 
/*.box-shadow-overlay .carousel { height:447px;}*/
   .item:nth-child(1) {
      background: url('../images/banner1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }
    .item:nth-child(2) {
      background: url('../images/banner2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }
    .item:nth-child(3) {
      background: url('../images/banner3.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
     .item.item4:nth-child(1) {
      background: url('../images/banner5.jpg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

.container, .jumbotron .container { width: auto; max-width: 1170px; }
.jumbotron {margin:0!important; padding:0!important; background: none!important }
.jumbotron.intro {margin-top: 0;}
.jumbotron .navbar {font-size: 13px; line-height: 1.6; font-family: 'Oswald', sans-serif; font-weight: 300; text-transform: uppercase; letter-spacing: 2px; }
.nav>li>a{margin: 10px!important;padding: 0!important;}
.navbar-default .navbar-nav>li>a:hover{color: #6f4c3d!important}
.navbar-nav>li>a{line-height: 0!important;}
.navbar {position: relative; min-height: 50px; margin:0 auto; margin-bottom: 0px!important; border: 0px solid transparent!important; }
/* menu styes */
.list-unstyled,
.list-unstyled ul { min-width: 120px }

@media (min-width: 768px){
.navbar-nav {float: none!important; text-align: center!important; margin: 0 auto!important; /* max-width:700px;  */font-weight: 600; color: #2d2d2d; }
.navbar-nav>li{margin: 8px 5px;padding:0;float: none!important; display: inline-block!important}
}

@media ( min-width: 767px ) {.panel-group { width: 400px;} .thumbnail { margin: 0;} }

/* Grid demo styles */
.grid-demo {padding: 10px 30px; }
.grid-demo [class*="col-"] {margin-top: 5px; margin-bottom: 5px; font-size: 1em; text-align: center; line-height: 2; background-color: #e5e1ea; border: 1px solid #d1d1d1; }
 
#search-form { display: none; }
.main-navigation{padding-top: 5px; box-shadow: 0px 0px 0px 0px #e7d4d1;border-bottom: 1px solid #e7d4d1 }
#header-stick{box-shadow: 1px 1px 10px #e6cecf;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color: #fff!important;color: #9d857b!important;/*border-bottom: 2px solid #9d857b;*/}
.navbar-default .navbar-nav>li>a{color: #555555!important; font-family: 'Oswald', sans-serif;font-weight: 400;text-transform: uppercase;}
#navbar-collapse-grid{ background: #fff }
.box-wrapper { background: #fff;margin: 0px auto; overflow: hidden; border-top: 1px solid #f1f1f1; position: relative; padding:30px 0px 0px; }
.col-left{width: 68%; display: inline-block; margin-right: 6%; vertical-align: text-top; }
.col-right{width: 24%; display: inline-block; vertical-align: text-top; }
.product-content {background-color: #ffeee6; border: 1px solid #dddddd; font-family: 'Oswald', sans-serif; }
.white{background: #fff!important;}
.nonebdr{border: 0px solid!important;}
.product-item-2 .product-content.nonepad{padding: 0;}
.btn.black:hover{color: #fff;background: #393939}
p.tagline{ text-align: center;color: #9d857b; line-height: 20px; font-family: 'Oxygen', sans-serif; font-weight: 400;}
.btn.black{ background: #1a1a1a; color: #fff!important;padding:8px 35px;font-family: 'Oswald', sans-serif;font-weight: 300; border-radius: 0px; margin:20px;text-transform: uppercase; }
.btn.black.margin0{ margin: 0; }
.margin-btm0{ margin-bottom: 0!important; }
.product-content h2 {font-size:60px; color: #1a1a1a!important; text-transform: uppercase; margin: 0; line-height:70px; text-align: center; font-weight: 300; padding:0 0 30px; }
.product-content h5 {font-size:18px; text-transform: uppercase; margin: 0; line-height: 24px; font-weight: 300; }
.product-content h5 a {color: #000; }
.product-content h5 a:hover {color: #e84c3d; }
.product-content span {color: #f43b67; display: block; }
.product-content span img{ vertical-align: bottom; display: inline; margin-right: 5px }
.product-content span.tagline {margin-bottom: 5px; font-size: 13px; font-weight: 300; text-transform: uppercase; text-align: left; }
.product-thumb img {width: 100%; height: 100%; }
.product-item-1 {margin-bottom: 25px; }
.product-item-1 .product-content {border-top: 0; padding: 20px 20px 15px 20px; }
.product-item-1 .product-thumb {overflow: hidden; }
.product-item-2 {margin-bottom: 25px; overflow: hidden; position: relative; }
.product-item-2.bg-beachproof{background:url(../images/beach-proof.png) no-repeat top center; background-size: cover; display: block; position: relative; height: 320px; }
.sectionbg1{ position: relative; }
.sectionbg1 .flower-icon1{position: absolute; margin: 0 auto; left: 0; right: 0; top: -20px; display: block; width: 90px; text-align: center; }
.sectionbg1 .flower-icon2{position: absolute; left: 5%; top: 0px;}
.sectionbg1 .flower-icon3{position: absolute; right: 0%; bottom:  0px;}
.product-item-2.bg-beachproof > .product-content{background-color: transparent!important;float: left;width: 100%;margin-top: 30px;}
.product-item-2 .product-thumb {float: left; width: 100%; }
.product-item-2 .product-thumb img {width: 100%; height: 100%; }
.product-item-2 .product-content {float: right; border-left: 0; padding: 20px; overflow: hidden; }
.product-item-2 .product-content.overlay {position: absolute; width: 100%; height: 100%; background-color: rgba(255, 245, 243, 0.9); color: white; opacity: 0; filter: alpha(opacity=0); transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -webkit-transform: scale(0); -ms-transform: scale(0); -webkit-transition: all 250ms ease-in-out; -moz-transition: all 250ms ease-in-out; -ms-transition: all 250ms ease-in-out; -o-transition: all 250ms ease-in-out; transition: all 250ms ease-in-out; }
.product-item-2 .product-content.overlay a {color: #e84c3d; }
.product-item-2:hover .product-content.overlay {opacity: 1; filter: alpha(opacity=100); transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -webkit-transform: scale(1); -ms-transform: scale(1); }
.product-item-3 {margin-bottom: 18px; }
.product-item-3 .product-thumb {overflow: hidden; }
.product-item-3 .product-thumb img {width: 100%; }
.product-item-3 .product-content {border-top: 0; padding: 20px 20px 0 20px; }
.product-item-3 .button-holder {width: 70%; height: 26px; text-align: center; background-color: #e84c3d; margin: 0 auto; display: block; margin-top: 30px; -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */ backface-visibility: hidden; }
.product-item-3 .button-holder a {color: white; display: block; width: 100%; height: 100%; line-height: 26px; font-size: 24px; }
.product-item-3 label {width: 60px; font-weight: normal; }
.product-item-3 select, .product-item-3 option {color: #a3a7aa; border: 1px solid #c4c4c4; }
.product-item-3 select:focus, .product-item-3 option:focus {outline: 0; }
.product-item-4 {overflow: hidden; position: relative; }
.product-item-4 .product-thumb {float: left; width: 100%; }
.product-item-4 .product-content {float: right; border-left: 0; padding: 20px; overflow: hidden; }
.product-item-4 .product-content.overlay {position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); color: white; opacity: 0; filter: alpha(opacity=0); transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -webkit-transform: scale(0); -ms-transform: scale(0); -webkit-transition: all 250ms ease-in-out; -moz-transition: all 250ms ease-in-out; -ms-transition: all 250ms ease-in-out; -o-transition: all 250ms ease-in-out; transition: all 250ms ease-in-out; }
.product-item-4 .product-content.overlay a {color: #e84c3d; }
.product-item-4:hover .product-content.overlay {opacity: 1; filter: alpha(opacity=100); transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -webkit-transform: scale(1); -ms-transform: scale(1); }
.product-item {-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */ backface-visibility: hidden; margin-bottom: 25px; }
.product-item .product-content {border: 0; margin-top: 20px; }
.product-item-vote {-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */ backface-visibility: hidden; margin-bottom: 18px; }
.product-item-vote .product-content {border: 0; padding: 20px; }
.news-title{border-bottom: 1px solid #e0e0e0; text-align: left; text-transform: uppercase; font-weight: 500; font-family: 'Oswald', sans-serif; color: #323232; font-size: 16px; padding:0 0px 10px; margin-bottom: 20px; }
.news-section .product-content {background: #fff; padding: 0 0px; }
.news-section .product-content h5{font-size:20px; }
.news-section hr {margin-top: 18px; margin-bottom: 17.5px; border: 0; border-top: 1px solid #e0e0e0; }
.content-section {margin: 60px 0; border-bottom: 0px solid #dddddd; padding-bottom: 0px; }
.content-section.video-section{margin: 60px 0 0; padding-top: 40px; display: block; border-top: 1px solid #eee; }
.overlay-icon{ position: absolute;z-index: 10;right: 10px;top: 10px; }
.play-vid{ display:table;position: absolute;width: 100%;height: 100%;left: 0;right: 0;background: url(../images/play-icon.png) no-repeat;}
.show-icon1{text-align: right; margin:0px; width: 100%; float: right; }
.show-icon1 a{height: 17px;display: block; background: url(../images/icon1.png) no-repeat;}
.show-icon1 a:hover{height: 17px;display: block;background: url(../images/icon9_over.png) no-repeat;}
.show-icon2{text-align: right; margin:0px; width: 100%; float: right; }
.demo .item-carousel{margin-bottom: 0px; }
.content-slider li{width: 100%; text-align: center; color: #FFF; }
.content-slider h3 {margin: 0; padding: 0px 0; }
.subscribe-container{background: #fff8f0; padding: 0px; }
.card-content{background: #fafafa; padding:5px 20px 10px; }
.card-content h4{color: #252525; font-size: 15px; text-transform: uppercase; font-weight: 500;font-family: 'Oswald', sans-serif; }
.card-content h5{color: #9d857b;font-size: 12px; font-family: 'Oxygen', sans-serif; font-weight: 400; }
.card-content p{font-family: 'Oxygen', sans-serif; font-weight: 400; color: #000;font-size: 13px }
.sectionbg1{background: url(../images/curveline.png) repeat-x top; width: 100%; padding-top: 20px;margin-top: 30px; padding-bottom: 100px; }
.section-title h2{margin: 0; font-size: 20px; line-height: 40px; padding-bottom: 50px; color: #1a1a1a; text-align: center; text-transform: lowercase; font-weight: 300;font-family: 'Oswald', sans-serif; }
.section-title h2 span{color: #f43b67; font-weight: 300; font-family: 'Oswald', sans-serif; font-size: 40px; text-transform: uppercase; }
.main-footer {background: #db9fa7 url(../images/footerbg2.jpg) repeat-x; padding: 50px 0 0 0; height: 287px; }
.footer-widget {margin-bottom: 30px; }
h3.widget-title {font-weight: 600; color: #1a1a1a; margin: 0 0 20px 0; font-size: 14px;text-transform: uppercase; font-family: 'Oswald', sans-serif; letter-spacing: 2px; }
.main-footer ul {padding: 0; margin: 0; list-style: none;}
.main-footer li{font-family: 'Oxygen', sans-serif; font-weight: 600; font-size: 12px; color: #1a1a1a;line-height: 25px; }
.main-footer li a{color: #1a1a1a; text-decoration: none;font-weight: 600; font-size: 12px;}
.main-footer ul.col-three{ display: inline-block;width: 31.5%;}
.bottom-footer {/*background-color: #fff;*/ border-top: 1px solid #aa7a9f; padding: 20px 0 0; font-size: 12px; }
.copyright{ font-size: 11px; color: #1a1a1a;font-family: 'Oxygen', sans-serif; font-weight: 300; line-height: 40px; }
.phone{ width: 16px; height: 16px; display: inline-block; vertical-align: top; padding:0 0px; }
.contact-details{ display: inline-block; padding-left: 10px; text-transform: uppercase;color: #9d857b }
.black{color: #000;}
.mail{ text-transform: none;} .mail a{color: #612b7e }
.h3-title{ font-size: 18px;letter-spacing: 1px; color: #1a1a1a; text-align: center; text-transform: uppercase; font-weight: 500;font-family: 'Oswald', sans-serif; }
.content-section .small{ color: #7f7f7f; font-weight: 400; font-weight: 12px; padding-top: 10px;font-family: 'Oxygen', sans-serif;}
.slider-title{ text-align: center;text-transform: uppercase;font-family: 'Oswald', sans-serif;color: #2d2d2d; font-size: 24px; margin-top:50px;}
.slider-title .h5{font-family: 'Oswald', sans-serif;color: #f43b67; font-size: 15px;text-align: center; padding-bottom: 0px; font-weight: 300;}
.slider-title h5 span{font-family: 'Oswald', sans-serif;color: #2d2d2d; font-size: 24px;font-weight: 500}
.slider-title h5{list-style: none; display: inline-block; float: right; margin: 0; padding:0; font-weight: 300; font-size: 24px;font-family: 'Oswald', sans-serif;}
.slider-title li.deactive{display: none;list-style: none;}
.slider-title .h5 span.f1{margin-right: 20px;}
.slider-title .h5 span.f2{margin-left: 20px;}
.slider-title .h5 .slide-text-f{ position: relative;top: -10px;font-family: 'Oswald', sans-serif!important;font-weight: 400; }
.text-animated-row{height:65px;position: relative;top: -25px;overflow: hidden;}
.data-text{ position: relative;top: 12px; }
.slider-title ul{list-style: none;margin: 0; padding:0;}
.slider-title li{list-style: none;display: inline-block; line-height: normal;padding: 0;margin: 0;/*float:left;*/
text-transform: uppercase; font-weight: 300;color: #292929; font-size:30px;text-align:center;font-family: 'Oswald', sans-serif;
 position: relative;top:0px;/*left: -25px;*/}

.slider-title2 .h5{font-family: 'Oswald', sans-serif;color: #f43b67; font-size: 15px;text-align: center; padding-bottom: 0px; font-weight: 300;}
.slider-title2 h5 span{font-family: 'Oswald', sans-serif;color: #2d2d2d; font-size: 24px;font-weight: 500}
.slider-title2 h5{list-style: none; display: inline-block; float: right; margin: 0; padding:0; font-weight: 300; font-size: 24px;font-family: 'Oswald', sans-serif;}
.slider-title2 li.deactive{display: none;list-style: none;}
.slider-title2 .h5 span.f1{margin-right: 20px;}
.slider-title2 .h5 span.f2{margin-left: 20px;}
.slider-title2 .h5 .slide-text-f{ position: relative;top: -10px;font-family: 'Oswald', sans-serif!important;font-weight: 400;text-transform: uppercase;}
.slider-title2 .text-animated-row{height:65px;position: relative;top: -25px;overflow: hidden;}
.slider-title2 .data-text{ position: relative;top: 12px; }
.slider-title2 ul{list-style: none;margin: 0; padding:0;}
.slider-title2 li{list-style: none;display: inline-block; line-height: normal;padding: 0;margin: 0;/*float:left;*/
text-transform: uppercase; font-weight: 300;color: #292929; font-size:30px;text-align:center;font-family: 'Oswald', sans-serif;
 position: relative;top:0px;/*left: -25px;*/}

.accounts-details{ position: absolute;right: 3.3%;margin-top: 1px}
.accounts-details ul{ list-style: none;display: block; }
.accounts-details li{float: right; vertical-align: middle; display: table;}
.accounts-details li a{vertical-align: top; display: inline-block;}
.accounts-details li img{margin-right: 15px; vertical-align: top; display: inline-block;}
.input-group{ border: 1px solid #eeeeee; width: 330px;padding:0 10px;}
.input-group-btn .btn.btn-default{ padding: 0;margin: 0;}
.input-group-btn .btn.btn-default:hover{border: 1px solid #fff;background: none;padding: 0;margin: 0!important;}
.navbar-form .input-group>.form-control{padding: 0;color: #555555!important}
/*popup*/
#pop-quick-view-wrapper{position: fixed; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.8); /*opacity: 0.7;*/ top: 0; left: 0; right: 0; margin: 0 auto; z-index:111111111 }
#pop-quick-view{position:fixed; height: auto; margin: 0 auto; top: 10%; left: 0%; right: 0%; width:700px; background: #000; opacity: 1;z-index:11111111}
#pop-close {height: 20px; width: 20px; font-weight: bold; padding: 2px; text-align: center; position: absolute;right:20px; top: 20px; color: #fff; font-family: cursive; float: right;cursor:pointer; }
#pop-content{width:100%;padding:5px;margin:0 auto;}
.icon-wrapper {position: absolute; right: 6%; top: 1.6%; width: 20px; z-index: 1; }
@font-face {font-family: 'flexslider-icon'; src:url('../fonts/flexslider-icon.eot'); src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg'); font-weight: normal; font-style: normal; }
/* zoom effect***/
.parent {width: 100%; /* margin: 20px;*/ height: 100%; overflow: hidden; position: relative; /* float: left; display: inline-block;*/ cursor: pointer; }
.child {height: 100%; width: 100%; background-size: cover; background-repeat: no-repeat; -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s; }
.parent:hover .child, .parent:focus .child {-ms-transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2); }
.parent:hover .child:before, .parent:focus .child:before {display: block; }
.parent:hover a, .parent:focus a {display: block; }
.child:before {content: ""; display: none; height: 100%; width: 100%; position: absolute; top: 0; left: 0; /* background-color: rgba(255,238,230,0.75);*/ }
/* Media Queries */
@media screen and (max-width: 960px) {.parent {width: 100%;}}

/************ article styles*************/
.tagline{margin-bottom: 10px; float: left; width: 100%; text-align: left; font-size: 13px; font-weight: 400; text-transform: uppercase; color: #f53a6f; display: block; font-family: 'Oxygen', sans-serif;}
.h2-article{font-size:55px!important; color: #1a1a1a!important; text-transform: uppercase; margin: 0!important; line-height:60px; text-align: left; font-weight: 400!important; padding:0 0 20px; font-family: 'Oswald', sans-serif!important; } h2 {
 font-size:60px; color: #1a1a1a!important; text-transform: uppercase; margin: 0!important; line-height:normal; text-align: left; font-weight: 300; padding:0 0 20px; font-family: 'Oswald', sans-serif!important; }
 .mid-grey{font-size: 24px; color: #868686!important; text-transform: uppercase; margin: 0!important; line-height: 30px; text-align: left; font-weight: 400; padding: 0 0 30px; font-family: 'Oswald', sans-serif; letter-spacing: 2px; }
.social-icons-wrap{border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; padding: 20px 0px; display: inline-block; width: 100%; }
.small-title{ color: #1a1a1a;font-family: 'Oxygen', sans-serif; font-weight: 600;text-transform: uppercase;font-size:13px; }
.date-title{color: #818181;font-family: 'Oxygen', sans-serif; font-weight: 600;text-transform: uppercase;font-size:13px;}
.normal-content{margin-bottom:30px;color: #1a1a1a;font-family: 'Oxygen', sans-serif; font-weight: 400;text-transform: none;font-size:14px;list-style: 25px; }
.img-margin{ margin: 35px 0px }
.fancy-title{color: #b3b587; font-family: 'Oxygen', sans-serif; font-weight: 300; text-transform: none; font-size: 27px; border-left: 2px solid #dbdf82; padding: 0px 10px; margin: 0px 25px 40px; font-style: italic; line-height: 35px; display: block; }
.news-title-static {border-bottom: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0; text-align: left; text-transform: uppercase; font-weight: 400; font-family: 'Oswald', sans-serif; color: #323232; font-size: 18px; padding: 10px 0px 10px; margin: 20px 0; }
.news-title-static img{ position: relative;top: -3px; padding-right: 10px; }
.news-title-stati span.news-title-inside {text-align: left; text-transform: uppercase; font-weight: 500; font-family: 'Oswald', sans-serif; color: #323232!important; font-size: 16px; padding: 0 0px 10px; }
a.btn.btn-primary {font-family: 'Oswald', sans-serif; padding: 8px 35px; background: #fff; border: 1px solid #000; border-radius: 0px; margin: 0px; font-size: 12px; font-weight: 400; color: #252525; text-transform: uppercase; text-align: center; width: 100%; }
.group-container{ padding:80px 0px 0; }
.group-container h2{font-family: 'Oswald', sans-serif;color: #868686!important;font-size: 55px; font-weight: 300;padding: 0; margin-bottom: 30px;text-transform: uppercase;}
.group-container h3{font-family: 'Oswald', sans-serif;color: #1a1a1a!important;font-size: 22px; font-weight: 600;text-transform: uppercase;}
.group-container h4{font-family: 'Oxygen', sans-serif;color: #1a1a1a!important;font-size: 18px; font-weight: 400; text-transform: uppercase;}
.group-container p{font-family: 'Oxygen', sans-serif;color: #868686!important;font-size: 12px; font-weight: 400; width: 95%;line-height: 20px}
.group-container2{padding: 35px 0px 35px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;margin-top: 50px; }
.group-container .btn.black{ margin-left: 0; }
.bottom-comments{display: none;margin-top: 50px;}
.margin-top0{margin-top: 0;}

/***** Product details page style ***********/
.gallary_360{background:#f6f6f6; height:600px; display: block; padding:50px 30px; margin-top: 0px; }

.simplegallery{width:100%;height:100%;overflow:hidden;}
.simplegallery .content{background:#f7f7f7;position:relative;width:80%;height:540px;overflow:hidden;float:right}
.simplegallery .content img{width:100%;border:0px solid #9c9c9c}.simplegallery .thumbnail{float:left}
.simplegallery .thumbnail .thumb{width:61px;height:71px;margin:0 0 5px 0;cursor:pointer;display:block}
.simplegallery .thumbnail .thumb img:hover{border:1px solid #fff}
.simplegallery .thumbnail .thumb img{border:1px solid #dbdbdb;width:100px}
.simplegallery .thumbnail .last{margin:0}
.breadcrumb{font-family: 'Oxygen', sans-serif!important;padding: 25px 30px!important; text-transform:uppercase;color: #1a1a1a!important;font-size: 10px; font-weight: 400;margin-top: 5px;margin-bottom: 0px!important; }
.breadcrumb>li+li:before{padding: 0 1px!important}
.simplegallery .thumbnail{background-color:transparent;border:0px solid #ddd;}


.gallary_360 .zoom-360 {
width: 64%;
height:80%;
border: 0px solid #ccc;
margin: 0px auto;
overflow: hidden;
position: absolute;
z-index: 100;
top:10%;
left:23%;
visibility: hidden;
}
.gallary_360 .zoom-360 ul {
width: 100%;
height: 100%;
}
.gallary_360 .zoom-360 ul li img {
display: block;
width: 100%;
height: 100%;
}

.simplegallery .thumbnail .view_360{border:1px solid #dbdbdb;margin:0 0 5px 0;}





.product-details{
  padding: 50px 0px 0px;
  display: inline-block;
  text-align: left;
}
.product-details h6{font-family: 'Oxygen', sans-serif;color: #a7a7a7;font-size: 12px; font-weight: 400; padding: 0 0 0px;}
.product-details h2{font-family: 'Oswald', sans-serif;color: #1a1a1a;font-size: 18px; font-weight: 400; padding: 0 0 15px;}
.product-details .normal{font-family: 'Oxygen', sans-serif;color: #1a1a1a;font-size: 18px; font-weight: 400; }
.product-details b{font-family: 'Oxygen', sans-serif;color: #1a1a1a;font-size: 18px; font-weight: 600;}
.review-box{ display: inline-block;border: 1px solid #dddddd;font-family: 'Oxygen', sans-serif;font-size: 11px; }
.review-box div:nth-child(1){ display: inline-block;border-right: 1px solid #dddddd; padding:6px 9px; text-transform: uppercase;color: #1a1a1a; font-weight: 600;}
.review-box div:nth-child(2){padding:0px 6px 0px; display: inline-block;color: #f43b67!important;font-family: 'Oxygen', sans-serif;font-size: 11px; font-weight: 600;  }
.review-box div .fa-star{color: #f43b67 }
.price-details{ display: inline-block;margin-right: 1.5% }


.product-details .btn.black{margin:20px 10px 10px;width: 26%}
.blue{background:#b0c5d6;display: inline-block;width: 25px;height: 25px;border-radius: 50%;margin-right: 5px;}
.blue a{background:#b0c5d6;-webkit-transition: all 200ms ease-in;display: block;width: 25px;height: 25px;border-radius: 50%;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
}
.blue a:hover
{   
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 200ms ease-in;
    transform: scale(1.3); border: 1px double #000;box-shadow: 0px 0px 2px #fff inset;
}

.blue a.active{   
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 200ms ease-in;
    transform: scale(1.3); border: 1px double #000;box-shadow: 0px 0px 2px #fff inset;
}

.blue.beige a.active{   
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 200ms ease-in;
    transform: scale(1.3); border: 1px double #000;box-shadow: 0px 0px 2px #fff inset;
}

.blue.beige a{background-color: #f7d9c1}
.blue.pinklight a{background-color: #ffe2e2}
.blue.greylight a{background-color: #eaeaea}
.blue.purplelight a{background-color: #f7deff}
.size-text{margin-top: 15px;}
.size{font-family: 'Oxygen', sans-serif;color: #1a1a1a;font-size: 18px;position:relative;top:-8px;text-transform: uppercase; font-weight: 600;display: inline-block;margin:0px 10px 10px 0; padding: 0;}
.size a{color:#1a1a1a;text-decoration:none!important;
     -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); font-family: 'Oxygen', sans-serif;color: #1a1a1a;font-size: 11px; font-weight: 600; line-height:20px;
}
.size a:hover
{   
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);font-size: 22px; font-weight: 600;
}
.size a.active
{   
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);font-size: 22px; font-weight: 600;
}

.check{ font-family: 'Oxygen', sans-serif;color: #1a1a1a; text-transform:uppercase;font-size: 10px; font-weight: 400;border: 1px solid #dddddd; padding:6px 9px;display:inline-block;width:auto; }
.check a{ text-decoration: none!important; }
.services-details{ display:inline-block;list-style: none;margin: 10px 0px 20px; border-top: 1px solid #e8e8e8;border-bottom:  1px solid #e8e8e8; padding: 10px 0px}
.services-details li{margin-right:10px;display: inline-block;font-family: 'Oxygen', sans-serif;color: #868686; text-transform:uppercase;font-size: 10px; font-weight: 400;}
.services-details li ul{ padding: 0;margin: 0; }
.services-details li ul li{ vertical-align: top;padding: 0;margin: 0; }
.services-details li ul li img{ vertical-align: top;display: inline-block; margin-right: 5px; }
.share-details {display: inline-block;list-style: none;padding: 0;margin:0;}
.share-details li{border:1px solid #b5b5b5;padding: 10px 63px;display: inline-block;}
.share-details li.fa-heart-o{font-weight: bold;}
#exTab2{margin-top: 40px;}
#exTab2 .nav-tabs{padding-left: 8%;}
#exTab2 .nav>li>a {padding: 10px 45px!important;text-transform: uppercase;}
#exTab2 .nav-tabs>li{ margin-bottom: -1px;font-family: 'Oswald', sans-serif;font-size: 18px; font-weight: 600;}
#exTab2 .nav-tabs>li.active>a{color: #f43b67!important;}
#exTab2 .nav>li>a{margin:0!important;}
.tab-title{font-family: 'Oxygen', sans-serif;color: #555555; text-transform:uppercase;font-size: 14px; font-weight: 400; padding-bottom: 10px;}
#exTab2 .tab-content{padding: 35px 0px; background:url(../images/tabcontent_bg.jpg) bottom repeat-x;}
.tab-text{color: #868686;font-family: 'Oxygen', sans-serif;font-size: 13px; font-weight: 400;line-height: 23px;}
.tab-title2{font-family: 'Oswald', sans-serif;color: #555555; text-transform:uppercase;font-size: 12px; font-weight: 600; padding-bottom: 15px;}
.code-details{ list-style: none;line-height:25px;font-family: 'Oxygen', sans-serif;color: #868686;font-size: 13px; font-weight: 400; }
.code-details li span{width: 60%;display: inline-block;}
.code-details li span:first-child{width: 15%;display: inline-block;}
.details-care{font-family: 'Oxygen', sans-serif;color: #868686; font-size: 13px; margin-left:15px;line-height:25px;}
.rank .fa-star{ color: #f43b67;font-size: 20px; }
.rank .fa-star.grey{ color: #bdbdbd;font-size: 20px;margin: 0px 15px 0px 0px; }
.rank span b{color: #1a1a1a;font-family: 'Oxygen', sans-serif;font-size: 14px;font-weight: 600;}
.rank span.rating{color: #bdbdbd;font-family: 'Oxygen', sans-serif;font-size: 14px;font-weight: 400;}
.rank{text-transform: uppercase;margin: 20px 0px 40px;}

.rank2 .fa-star{ color: #f43b67;font-size: 14px; }
.rank2 .fa-star.grey{ color: #bdbdbd;font-size: 14px;margin: 0px 0px 0px 0px; }
.rank2 span b{color: #1a1a1a;font-family: 'Oxygen', sans-serif;font-size: 14px;font-weight: 600;}
.rank2 span.rating{color: #bdbdbd;font-family: 'Oxygen', sans-serif;font-size: 14px;font-weight: 400;}
.rank2{text-transform: uppercase;margin: 0px 0px 5px;}

.leave-review{margin-left: 70px;}
.leave-review a{padding: 10px 70px!important;font-family: 'Oswald', sans-serif;font-size: 13px; font-weight: 600;border:1px solid #b5b5b5;}
.box-wrapper hr{background-color: #ebebeb;}
.review-title{color: #868686;font-family: 'Oxygen', sans-serif;font-size: 16px;font-weight: 400;padding-bottom: 5px;}
.review-header{font-family: 'Oswald', sans-serif;color: #505050; text-transform:capitalize;font-size: 14px; font-weight: 400; padding-bottom: 5px;}
.review-content{font-family: 'Oxygen', sans-serif;color: #868686;font-size: 12px; font-weight: 400; padding-bottom: 5px;}
.review-date{font-family: 'Oxygen', sans-serif;color: #999999;font-size: 11px; font-weight: 400;}
.bg-odd{background-color: #fbfbfb;border-bottom: 1px solid #eeeeee; border-top: 0px solid #eeeeee; padding: 2% 20%;}
.topbdr{border-top: 1px solid #eeeeee;}
.bg-even{background-color: #fff;border-bottom: 1px solid #eeeeee; border-top: 0px solid #eeeeee; padding: 2% 20%;}
.divider{color: #cacaca; display: inline-block;margin-left: 10px;}
.loadmore{font-family: 'Oxygen', sans-serif;color: #1a1a1a;font-size: 14px; font-weight: 600; text-transform: uppercase;}







/************ overlay page layout style***********************/
body{ overflow-x: hidden; }
/* Overlay style */
.overlay-page {position: absolute; width: 93%; height: 100%; top: 0%; margin-top:184px; left: 0; background: #fff; z-index: 100; }
.right-box {/*box-shadow: 0px 0 9px 0px rgba(0,0,0,0.7);*/}
.box-shadow-overlay{position:relative; box-shadow: 12px 0 20px -12px #676666; -webkit-box-shadow: 12px 0 20px -12px #676666; -moz-box-shadow: 12px 0 20px -12px #676666; background: url(../images/drop-shadow-right.png) repeat-y; }
#scroll-top {position:fixed; right:10px; bottom:10px; cursor:pointer; width:50px; height:50px; background-color:#f43b67; text-indent:-9999px; display:none; -webkit-border-radius:60px; -moz-border-radius:60px; border-radius:60px }
#scroll-top span {position:absolute; top:50%; left:50%; margin-left:-8px; margin-top:-12px; height:0; width:0; border:8px solid transparent; border-bottom-color:#ffffff; }
#scroll-top:hover {background-color:#b92448; opacity:1;filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; }
/* Overlay closing cross */
.overlay-page .overlay-close {width: 80px; height: 80px; position: absolute; right: 20px; top: 20px; overflow: hidden; border: none; background: url(../images/cross.png) no-repeat center center; text-indent: 200%; color: transparent; outline: none; z-index: 100; display: none; }
.overlay {height:0px; overflow:visible; pointer-events:none; background:none !important; }
.overlay-page ul {list-style: none; padding: 0; margin: 0 auto; display: inline-block; height: 100%; position: relative; }
.overlay-page ul li {display: block; height: 20%; height: calc(100% / 5); min-height: 54px; }
.overlay-page ul li a {font-size: 54px; font-weight: 300; display: block; color: #fff; -webkit-transition: color 0.2s; transition: color 0.2s; }
.overlay-page ul li a:hover,
.overlay-page ul li a:focus {color: #f0f0f0; }
.container-page {background: #fff; -webkit-transition: -webkit-transform 0.8s; transition: transform 0.8s; }
.container-page.overlay-open {-webkit-transform: scale(0.8); transform: scale(0.8); }
.overlay-contentscale {visibility: hidden; -webkit-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: -webkit-transform 0.8s, visibility 0s 0.8s; transition: transform 0.8s, visibility 0s 0.8s; }
.overlay-contentscale.open {visibility: visible; -webkit-transform: translateX(0%); transform: translateX(0%); -webkit-transition: -webkit-transform 0.8s; transition: transform 0.8s; }
@media screen and (max-height: 30.5em) {
  .overlay-page nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay-page ul li {
    min-height: 34px;
  }
}


/* catalogue-page */

.categorySec .breadcrumb{padding:25px 15px !important;}
.catalogue-leftsidebar{border-right:1px solid #e9e9e9;}
.filter-block{padding:15px 15px;border-bottom:1px solid #e9e9e9;}
.filter-block.filter-by-brand{padding:0px;}
.filter-block.filter-by-brand .filter-block-inner{}
.filter-block .title{font-family: 'Oswald', sans-serif;color:#1a1a1a;font-size:13px;font-weight:500;text-transform:uppercase;margin:0px 0px 15px;}
.btn.clearBtn{border:1px solid #dddddd;color:#1a1a1a;font-family: 'Oxygen', sans-serif;font-weight:400;font-size:11px;border-radius:0px;background:none;}
.clearBtn img{margin-right:5px;}
.filter-added{
	border: 1px solid #dddddd;
	color: #f43b67;
	font-family: 'Oxygen', sans-serif;
	font-size: 11px;
	font-weight: 400;
	padding: 6px 12px 6px 12px;
	width: 70%;
	position:relative;
	margin-top:5px;
}
.filter-added:after{
	content: url('../images/filter-close.png');
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	border-left: 1px solid #ddd;
	padding: 0px 10px;
	line-height: 30px;
	cursor:pointer;
}
.foundationSec label{font-family: 'Oxygen', sans-serif; color:#f43b67;font-weight:400;font-size:11px;margin:0px 0px 10px;display:block;}
.foundationSec a{font-family: 'Oswald', sans-serif;color:#1a1a1a !important;font-size:13px;font-weight:500;border-bottom:1px solid #a7a7a7;text-transform:uppercase;text-decoration:none !important;}

/* collapse */

.filter-block .panel-title > a {
        display: block;
        text-decoration: none;
		font-family: 'Oswald', sans-serif;
		color:#1a1a1a;
		font-size:13px;
		font-weight:500;
		text-transform:uppercase;
		outline:none;
    }
.filter-block .more-less {
        float: right;
        color: #212121;
    }
.filter-block .panel{
	border: none;
	background: none;
	border-radius: 0px;
	border-bottom:1px solid #ddd;
}
.filter-block .panel .panel-heading{padding:15px 15px;}
.filter-block .panel-group{width:100%;}
.filter-block .more-less:before{content:"";}
.filter-block .more-less.glyphicon-plus:before{content: url('../images/collapse-plus.png');}
.filter-block .more-less.glyphicon-minus:before{content: url('../images/collapse-minus.png');}

/* custom search */
.searchSec .input-group{border:none;width:auto;padding:0px;}
.searchSec .input-group input{border-radius: 0px;background:#fff8f0;}
.searchSec .input-group input:focus{border:1px solid #ccc;}
.searchSec .input-group-addon{background: #a7a7a7;border-radius: 0px;}

.brand-list{list-style-type:none;margin:10px 0px 0px;height:92px;}
.brand-list li a{padding:2px;position:relative;font-family: 'Oxygen', sans-serif; color:#1a1a1a;font-weight:400;font-size:11px;display:block;text-decoration:none;cursor:pointer;text-transform:capitalize;}
.brand-list li a:hover{color:#f43d69 !important;}
.brand-list li a .checkbox{margin:0px;outline:none;}
/*.brand-list li a input{position:absolute;top:2px;left:0px;}*/

/* placeholder */

.searchSec .input-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:9px;
}
.searchSec .input-group input::-moz-placeholder { /* Firefox 19+ */
  font-size:9px;
}
.searchSec .input-group input:-ms-input-placeholder { /* IE 10+ */
  font-size:9px;
}
.searchSec .input-group input:-moz-placeholder { /* Firefox 18- */
  font-size:9px;
}




