<div class="col-md-3">
    <div class="news-title-static">                  
    	<span class="news-title-inside">Category Landing</span>    
    </div>
    <div id="1" class="leftnav">
        Fashion
    </div>
    <div id="2" class="leftnav">
        Beauty
    </div>
    <div id="3" class="leftnav">
        Fragrance
    </div>
    <div id="4" class="leftnav">
        Fitness
    </div>
    <div id="5" class="leftnav">
        Health
    </div>
    <div id="6" class="leftnav">
        Accessories
    </div>
    <div id="myajaxcontainer">
        
    </div>
</div>