<div class="col-md-3">
    <div class="news-title-static">                  
    	<span class="news-title-inside"><img src="../img/flower5.png" alt="flowers"> related Articles</span>    
    </div>      
    {foreach from=$myarticles item=article}   
        <div class="news-section">
            <div class="product-content nonebdr">    
                <span class="tagline">{$article.meta_keywords}</span>                
                <h5><a href="{$article.url}">{$article.id_module}</a></h5>                            
                <h5><a href="{$article.url}">{$article.name}</a></h5>                                                
            </div>
        </div>
        <hr>
    {/foreach}
</div>