


    <!-- search autcomplete result UI-->
             <!-- <div class="search-autocomplete"> -->
               <div class="container-fluid autosearch_fluid">
                 <div class="row">
                   <div class="col-md-12 col-sm-12">
                     <div class="col-md-3 col-sm-6">
                     <div class="auto-result">
                      {foreach from=$mydata[0] item=data}   
                          <div><a href="{$link->getProductLink($data.id_product)|escape:'html':'UTF-8'}">{$data.name}</a></div>
                       {/foreach}
                       {foreach from=$mydata[1] item=data}  
                          <div><a href="{$basepath}content/{$data.id_cms}-{$data.link_rewrite}">{$data.meta_title}</a></div>
                       {/foreach}
                       {foreach from=$mydata[3] item=data}  
                          <div><a href="{$basepath}{$data.id_category}-{$data.link_rewrite}">{$data.name}</div>
                       {/foreach}
                        {foreach from=$mydata[4] item=data}  
                          <div><a href="{$basepath}{$data.id_manufacturer}_{$data.link}">{$data.name}</div>
                       {/foreach}
                      </div>
                     </div>
                    <div class="col-md-9 col-sm-9 autosearch_product_view">
                     <div class="right-search-box">                        
                       <div class="col-md-8 col-sm-8">
                       
                       {if empty(count($mydata[0]))}
                        <div class="row">
                          <div class="search-box-title">products</div>
                        </div>
                        <div class="col-md-12 col-sm-12" style="height:30px;" >
                      
                            <div class="img-card"  style="text-align:left;" >No Products found</div>
                            
                            
                       </div>
                       {else}
                         <div class="row">
                          <div class="search-box-title">Products</div>
                        </div>
                        <div class="row">                        
                        {foreach from=$mydata[0] item=data}
                       <div class="col-md-3 col-sm-3" >
                       <a href="{$link->getProductLink($data.id_product)|escape:'html':'UTF-8'}">
                          <div class="box-col-search" style="background-color: #fff;">
                            <div class="img-card"><img src="{$basepath}{$data.id_image}-medium_default/{$data.id_product}.jpg"></div>
                            <div class="search-content">{$data.name}</div>
                            <div class="search-result-price">{$data.price} AED</div>
                          </div>
                        </a>
                       </div>
                       {/foreach}
                      
                       </div>   
                       {/if}                                           
                       {if empty(count($mydata[1]))}
                       <div class="row">

                        
                              <div class="col-md-12">
                                <div class="search-box-title" style="padding-left:0px;">Articles</div> <!--/search-box-title-->
                              </div> <!--/col-md-12-->
                          
                       <div class="col-md-3 col-sm-3" >
                       
                            <div class="search-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Articles found</div>
                       
                       </div>
                       {else}                          
                            <div class="row">
                              <div class="col-md-12">
                                <div class="search-box-title" style="padding-left:0px;">Articles</div> <!--/search-box-title-->
                              </div> <!--/col-md-12-->
                          </div> <!--/row-->

                          <div class="row">

                          {foreach from=$mydata[1] key=i item=data}                          
                         <div class="col-md-6 col-sm-6">
                         <a href="{$basepath}content/{$data.id_cms}-{$data.link_rewrite}">
                         <div class="outer-article-box">
                          {if empty($data.thumb_image)}

                          {else}
                          
                            <div class="article_img_sec">
                              <img class="article_img" src="{$basepath}img/cms/{$data.thumb_image}" alt="{$data.metatitle}">
                            </div>
                          
                          {/if}
                            <div class="article_content_sec">
                            <div class="article-box">
                              <div class="article-title-tips">{$data.name}</div>
                              <div class="article-content" style="height: 38px;overflow: hidden;">
                                {$data.metatitle}
                              </div>
                              <div class="article-byname">by {$data.author_name}</div>
                            </div>
                            </div>
                            <div class="clearfix"></div>
                            </div> <!--/outer-article-box-->
                            </a>
                             </div>                            
                            {/foreach}
                            </div> <!--/row-->
                       </div>                       
                            {/if}
                        
                    </div>
                       <!-- <div class="col-md-4 col-sm-4">
                        <div class="row">
                          <div class="search-box-title">Services</div>
                        </div>
                         <ul class="services-search">
                           <li>
                             <img src="images/search-picimg1.jpg" alt="img">
                           </li>
                           <li>
                             <img src="images/search-picimg2.jpg" alt="img">
                           </li>
                           <li>
                             <img src="images/search-picimg3.jpg" alt="img">
                           </li>
                         </ul>
                       </div> -->
                     </div>
                    </div>
                   </div>
                 </div>
               </div>


