.glyphicon.glyphicon-minus-sign{display: none;}
.rating-container .rating-stars {position: relative; cursor: pointer; vertical-align: middle; display: inline-block; overflow: hidden; white-space: nowrap; margin: 5px 0px 0px;}
.rating-container .rating-input {position: absolute; cursor: pointer; width: 100%; height: 0px; bottom: 0; left: 0; font-size: 1px; border: none; background: none; padding: 0; margin: 0; }
.rating-disabled .rating-input, .rating-disabled .rating-stars {cursor: not-allowed; }
.glyphicon.glyphicon-star:before{content: url(../../img/star-on-big.png); }
.glyphicon.glyphicon-star-empty:before {content: url(../../img/star-off-big.png); }
.rating-container .star-review {display: inline-block; margin: 0 3px; text-align: center; }
.rating-container .empty-stars {color: #aaa; }
.rating-container .filled-stars {position: absolute; left: 0; top: 0; margin: auto; color: #fde16d; white-space: nowrap; overflow: hidden; /*-webkit-text-stroke: 1px #777; text-shadow: 1px 1px #999; */}
.rating-rtl {float: right; }
.rating-animate .filled-stars {transition: width 0.25s ease; -o-transition: width 0.25s ease; -moz-transition: width 0.25s ease; -webkit-transition: width 0.25s ease; }
.rating-rtl .filled-stars {left: auto; right: 0; -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0); -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0); -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0); transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0); }
.rating-rtl.is-star .filled-stars {right: 0.06em; }
.rating-rtl.is-heart .empty-stars {margin-right: 0.07em; }
.rating-md {/*font-size: 3.13em;*/ }
.rating-sm {font-size: 2.5em; }
.rating-xs {font-size: 2em; }
.rating-xl {font-size: 4.89em; }
.rating-container .clear-rating {color: #aaa; cursor: not-allowed; display: inline-block; vertical-align: middle; font-size: 60%; }
.clear-rating-active {cursor: pointer !important; }
.clear-rating-active:hover {color: #843534; }
.rating-container .clear-rating {padding-right: 5px; }
.rating-container .caption {color: #999; /* display: inline-block;*/ vertical-align: middle; font-size: 60%; margin-top: -0.6em; display: none; }
.rating-container .caption {margin-left: 5px; margin-right: 0; }
.rating-rtl .caption {margin-right: 5px; margin-left: 0; }
@media print {
    .rating-container .clear-rating {display: none; }
}

.star {
        /*width: 30px!important;
        height: 50px;*/
}

/* Review Comment Section */

.review_cmt_sec{}
.review_form{background-color: #fff8ee;border: 1px solid #f4e7d4; margin: 0px 0px 15px;}
.review_form .review_title{color: #1a1a1a;font-family: 'Oswald', sans-serif;font-size: 24px;font-weight: 300;text-align: center;position: relative;
border-bottom: 1px solid #f4e7d4;height: 50px;line-height: 50px;}
.review_form .review_title .review_close{position: absolute;top:0px;right: 15px;cursor: pointer;}
.review_form_sec{padding: 30px;}
.review_form_title{color: #666666;font-family: 'Oxygen', sans-serif;font-size: 14px;font-weight: 400;text-align: left !important;}
.review_form_ip input, .review_form_ip textarea{border-color: #f4e7d4;}
.review_form_btn .btn.black{margin: 0px;width: 100%;border-radius: 4px;font-family: 'Oswald', sans-serif;font-size: 14px;font-weight: 400;letter-spacing: 1px;}
.review_form_sec .form-group:last-child{margin-bottom: 0px;}

.rating-container .empty-stars span{margin-right:5px;}
.rating-container .empty-stars span:last-child{margin-right:0px;}
.rating-container .filled-stars span{margin-right:5px;}
.rating-container .filled-stars span:last-child{margin-right:0px;}

.rating-container .empty-stars span i, .rating-container .filled-stars span i{font-size:28px;}

.error_msg{margin:5px 0px 0px;color: #f43b67;font-family: 'Oxygen', sans-serif; font-size: 11px; font-weight: 700;}
.rating-container{display: inline-block;}
.rating_error_msg{display: inline-block;margin: 13px 0px 0px; float: right;}
.exiting_cmt{margin: 10px 0px 0px;}
.exiting_cmt ul{margin: 0px;padding: 0px;}

.success_msg{margin:10px 0px 0px;color: #48b151;font-family: 'Oxygen', sans-serif; font-size: 11px; font-weight: 700;}

.no_reviews{
	/* font-family: 'Oswald', sans-serif!important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 5px 0px;
    float: left;
    border: 1px solid #f4e7d4;
    margin: -3px 0px 0px;
    border-radius: 4px;
	width: 100%;
    text-align: center; */
	font-family: 'Oswald', sans-serif!important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 5px 0px;
    border: 1px solid #f4e7d4;
    margin: 0px 0px 0px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    display: block
}

.user_cmt_indi_msg .error_msg, .user_cmt_indi_msg .success_msg {text-align: left;}

.cust_reviews{padding-top:5px;}

@media (max-width: 767px){
.review_form .review_title{font-size:20px;height: 40px;line-height: 40px;}
.review_form_sec {
    padding: 10px;
}
}



