#search_block_top {
  padding-top: 20px; }
  #search_block_top #searchbox {
    float: left;
    width: 100%; }
  #search_block_top .btn.button-search {
    /*background: #333;*/
    display: block;
    position: absolute;
    top: 0;
	right: 0;
    border: none;
    color: #fff;
    width: 40px;
    text-align: center;
    /*padding: 10px 0 11px 0;*/
	padding: 10px 0 0px 0;
	background-color:transparent;
	}
  #search_block_top .btn.button-search:focus{background-color:transparent;outline:none;box-shadow:none;}
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      /*content: "\f002";
	  font-family: "FontAwesome";*/
	  content: url('search.png');
      display: block;
      font-size: 17px;
      width: 100%;
      text-align: center;
	  color:#000;
	  }
    #search_block_top .btn.button-search:hover {
      /*color: #6f6f6f;*/background:none; }
  #search_block_top #search_query_top_new {
    display: inline;
	padding:10px 35px 11px 15px;
    height: 40px;
    margin-right: 1px; 
	border: transparent;
	font-weight:300;
	font-family: 'Oswald', sans-serif;
	color:#aaa;
	font-size: 18px;
	background: #efefef;
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	box-shadow: none;
	}
  #search_block_top #search_query_top_new:focus{box-shadow:none;}

.ac_results {
  background: #fff;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: #fff; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }
	  
@media (max-width: 991px){
#search_block_top #search_query_top_new{font-size:13px;}
.mobile_search_sec #search_block_top {
   padding:0px;
}
#search_block_top #search_query_top::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	font-size:13px;
}
#search_block_top #search_query_top:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size:13px;
}
#search_block_top #search_query_top::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size:13px;
}
#search_block_top #search_query_top:-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-size:13px;
}
#search_block_top {
    padding-top: 0px;
}
}




/*# sourceMappingURL=blocksearch.css.map */
