.article-name{
    margin-bottom: 10px;
    float: left;
    width: 100%;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
	color: #98055e;
    display: block;
    font-family: 'Oxygen', sans-serif;
}

.article-title{
    font-size: 55px!important;
    color: #1a1a1a!important;
    text-transform: uppercase;
    margin: 0!important;
    line-height: 60px;
    text-align: left;
    font-weight: 400!important;
    padding: 0 0 20px;
    font-family: 'Oswald', sans-serif!important;
}

#cms #center_column .short-desp {
    font-size: 32px;
    color: #868686!important;
    text-transform: uppercase;
    margin: 0!important;
    line-height: 45px;
    text-align: left;
    font-weight: 400;
    padding: 0 0 30px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.social-icons-wrap {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 12px 0px;
    display: inline-block;
    width: 100%;
	margin: 0px 0px 35px;
}

.small-title {
    color: #1a1a1a;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
	margin-top: 5px;
}

.date-title {
    color: #818181;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}
#cms #center_column .social-links p{margin:0px 0px -4px;}

#cms #center_column .social-links p.socialsharing_product a{margin-right:5px;}
#cms #center_column .social-links p.socialsharing_product a:last-child{margin-right:0px;}

#cms #center_column .normal-content {
    margin-bottom: 30px;
    color: #1a1a1a;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
}

.fancy-title {
    color: #b3b587;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    text-transform: none;
    font-size: 27px;
    border-left: 2px solid #dbdf82;
    padding: 0px 10px;
    margin: 0px 25px 40px;
    font-style: italic;
    line-height: 35px;
    display: block;
}

/* Article Bottom Section CSS */

/*.article-btm-content .row{margin:0px 0px 80px;}
.article-btm-content .row:first-child{margin-top:80px;}
.article-btm-content .row:last-child{margin-bottom:0px;}*/
.group-container{padding:80px 0px 0;}
.group-container h2{font-family: 'Oswald', sans-serif;color: #868686!important;font-size: 55px; font-weight: 300;padding: 0; margin-bottom: 30px;text-transform: uppercase;}
.group-container h3{font-family: 'Oswald', sans-serif;color: #1a1a1a!important;font-size: 22px; font-weight: 600;text-transform: uppercase;line-height: 22px;}
.group-container h4{font-family: 'Oxygen', sans-serif;color: #1a1a1a!important;font-size: 18px; font-weight: 400; text-transform: uppercase;line-height: 22px;}
.group-container p{font-family: 'Oxygen', sans-serif;color: #868686!important;font-size: 12px; font-weight: 400; width: 75%;line-height: 20px}
.group-container .btn.black{ margin-left: 0; }

.group-container2{
	padding: 35px 0px 35px;
    border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
    margin-top: 50px;
}

}
.bottom-comments{display: none; margin-top: 30px;}
.margin-top0{margin-top: 0;}

/* For Comment Section */

.enter_cmt-sec{padding: 25px 0px;}
.enter-cmt-txt{display: inline-block;position: relative;padding:0px 0px 0px 20px;line-height: 48px;font-family: 'Oswald', sans-serif;font-size: 14px;font-weight: 400;color: #252525;text-transform: uppercase;
background-color: #fff5f3;padding:5px 20px;cursor: pointer;
}
/*.enter-cmt-txt img{position: absolute;top: 5px;left:0px;}*/
#cms #center_column .enter-cmt-txt img{margin:0px 8px 0px 0px;}
.enter-cmt-txt span{margin: 0px 0px 0px 0px;display: inline-block;}
.socialwidcmt p{margin:0px;}
.socialwidcmt p a{width:48px;height: 48px;background-size: auto 58px;margin-right: 3px;}
.socialwidcmt p a:last-child{margin-right: 0px;}
.socialwidcmt p a:nth-child(2){background-position: -75px -5px;}
.socialwidcmt p a:nth-child(3){background-position: -149px -5px;}
.socialwidcmt p a:nth-child(4){background-position: -369px -5px;}

.commentsSec{
    font-family: 'Oswald', 
    sans-serif;font-size: 24px;
    font-weight: 400;
    color: #2d2d2d;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 0px 65px;
    margin: 30px 0px 50px 0px;
    }
.commentsSec span{margin: 0px 0px 0px 0px; display: inline-block;}
#cms #center_column img.cmt-flower{margin: 0px;}
.cmt-flower{position: absolute;bottom: -5px;}
.cmt-flower-left{left:0px;}
.cmt-flower-right{right: 0px;}

.user_input_comment_sec{width:70%;margin: 0 auto 30px;}
.user_cmt_box{width:78%;float: left;}
.user_input_comment_sec input{border:1px solid #8c8c8c;padding: 8px 15px;width: 100%;height: 44px;}

.user_input_comment_sec input:-moz-placeholder {
  font-family: 'Oxygen', sans-serif;font-size: 12px;font-weight: 300; color: #b4b4b4; }
.user_input_comment_sec input::-moz-placeholder {
  font-family: 'Oxygen', sans-serif;font-size: 12px;font-weight: 300; color: #b4b4b4;}
.user_input_comment_sec input:-ms-input-placeholder {
  font-family: 'Oxygen', sans-serif;font-size: 12px;font-weight: 300; color: #b4b4b4;}
.user_input_comment_sec input::-webkit-input-placeholder {
  font-family: 'Oxygen', sans-serif;font-size: 12px;font-weight: 300; color: #b4b4b4;}

.user_input_comment_sec button.btn.black{width:20%;height:44px;margin: 0px; font-size:13px; font-weight:300; float: right;letter-spacing: 1px;}

.user_comments_sec{width:70%;margin: 0 auto;}
.user_comments_sec ul{list-style-type: none;padding:0px;}
.user_comments_sec ul li{margin-bottom: 25px;}
.user_comments_sec ul li:last-child{margin-bottom: 0px;}
.user_comments_sec ul li .row .user_img_sec{}
#cms #center_column .user_img_sec img{margin: 0px;}
.user_comments_sec ul li .row .user_cmt_sec{text-align: left;}

.user_name{}
.user_name{color: #1a1a1a;font-size: 12px;font-family: 'Oxygen', sans-serif;font-weight: 700;text-transform: uppercase;margin:0px 0px 8px;}
.user_name span{color: #d8d8d8;margin-left: 5px;}
.user_cmt_date{}
.user_cmt_time{}
.user_cmt{font-family: 'Oxygen', sans-serif;color: #868686;font-size: 13px;font-weight: 400;margin: 0px 0px 5px;}
.user_cmt_more{display:none;}
.user_cmt_more a{color: #6f4c3d;font-family: 'Oxygen', sans-serif;font-weight: 700;font-size: 11px;text-transform: uppercase;}

#new_comment_form_error ul{list-style-type: none;}








