{if isset($article_cat_result)}
	{foreach from=$article_cat_result key=k item=results}
		<ul id="test">
			<li><b>{$k}</b></li>
			{foreach from=$results key=k1 item=result}
				<li><a href="content/{$result.id_cms}-{$result.link_url}">{$result.title}</a> </li>
			{/foreach}
		</ul>
{/foreach}
{/if}