.mypresta_scrollup{
	right:40px !important;
    width:40px;
    height:40px;
    position:fixed;
    display:none;
    text-indent:-9999px;
	z-index: 99;
	-webkit-transition:300ms ease;
	-moz-transition:300ms ease;
	transition:300ms ease;
	-webkit-animation:bounce 2s infinite;
	-moz-animation:bounce 2s infinite;
	animation:bounce 2s infinite;
}

.mypresta_scrollup:hover{opacity:1 !important;}

@-webkit-keyframes bounce {
  0%       {bottom:30px;}
  50%      {bottom:50px;}
  100%     {bottom:30px;}
}

@keyframes bounce {
  0%       {bottom:30px;}
  50%      {bottom:50px;}
  100%     {bottom:30px;}
}
