/*.col-lg-9{border:thin solid red;}*/
.hide-first-load{display: none !important;}
.chosen-choices{width: 450px;}
.chosen-drop{width: 450px;}
.bootstrap .table thead>tr.filter>th:nth-child(1){
    display: none;
}
.banner-row-img{width: 100% !important;}
button.disabled{cursor: pointer;}
.banner-img-wrap{width: 300px; height: 100px;}
.banner-img-wrap img{width:65%;}

