.group-container{padding:80px 0px 0; float: left;clear: both;}
.group-container h2{font-family: 'Oswald', sans-serif;color: #868686!important;font-size: 55px; font-weight: 300;padding: 0; margin-bottom: 30px;text-transform: uppercase;}
.group-container h3{font-family: 'Oswald', sans-serif;color: #1a1a1a!important;font-size: 22px; font-weight: 600;text-transform: uppercase;}
.group-container h4{font-family: 'Oxygen', sans-serif;color: #1a1a1a!important;font-size: 18px; font-weight: 400; text-transform: uppercase;}
.group-container p{font-family: 'Oxygen', sans-serif;color: #868686!important;font-size: 12px; font-weight: 400; width: 75%;line-height: 20px}
.group-container .btn.black{ margin-left: 0; }
.btn.black{ background: #1a1a1a; color: #fff!important;padding:8px 35px;font-family: 'Oswald', sans-serif;font-weight: 400; border-radius: 0px; margin:20px;text-transform: uppercase;-webkit-transition:300ms ease;-moz-transition:300ms ease;transition:300ms ease;}
.btn.black:hover{background:#98055e;}
.row{float: left; clear: both;}
.col-md-6{width: 50% !important;float: left !important;}
#productModal > .modal-error{color:red;}