<!-- Block mymodule -->
<div id="mymodule_block_home" class="block">
  <h4>Welcome!</h4>

<!-- <input type="button" class="button" value="Add Slide Category"> -->
<ul>
<li>
<a id="page-header-desc-category-new_category" class="toolbar_btn  pointer" href="index.php?controller=AdminCategories&amp;addcategory&amp;token=c6163f8368a8f8d231a9e2c510450087" title="Add new category">
							<i class="process-icon-new"></i>
							<div>Add new category</div>
						</a>
						</li>
						<li>
<!-- <input type="button" class="button" value="Add Slide"> -->
<a id="page-header-desc-category-new_category" class="toolbar_btn  pointer" href="index.php?controller=AdminCategories&amp;addcategory&amp;token=c6163f8368a8f8d231a9e2c510450087" title="Add new category">
							<i class="process-icon-new"></i>
							<div>Add Slide</div>
						</a>
						</li>
						</ul>
</div>
<!-- /Block mymodule -->