<!-- Block user information module NAV  -->

<div class="header_user_info">
		<!-- <a class="" href="{$link->getPageLink(4, true)|escape:'html'}" >About Us</a> -->
		<a href="{$link->getCMSLink('4', 'cms')|escape:'html'}" title="{l s='About us'}">{l s='About us'}</a>
</div>
<!-- /Block user information module NAV -->
