.row.outer-article-box{padding-bottom: 20px;display: block;}
.article-box{ padding:0px 8px;display: block; }
.article-title-tips{font-weight: 400 !important;color: #632c80 !important;font-size: 12px !important;padding-bottom: 8px !important; text-transform: uppercase !important;font-family: 'Oswald', sans-serif;letter-spacing: 1px;}
.article-content{font-weight: 400;color: #000;font-size: 13px;padding-bottom: 12px;font-family: 'Oswald', sans-serif;letter-spacing: 1px;}
.article-byname{font-weight: 400;color: #717171;font-size: 12px;padding-bottom: 10px;}
.box-col-search{display: block;border:1px solid #ebebeb;padding: 10px;margin-bottom: 30px; }
.search-result-price{ font-weight: 600;color: #000;font-size: 13px;font-family: 'Oxygen', sans-serif;}
.search-content{ font-weight: 400;color: #7e7e7e;font-size: 13px;padding-bottom: 10px;font-family: 'Oxygen', sans-serif;height: 45px;overflow: hidden;}
.img-card{height: 120px;padding-bottom:20px;text-align: center;display: table;width: 100%;}
.img-card img{max-width: 100%;display: table-cell;;vertical-align: middle;text-align: center;margin:0 auto;}
.auto-result{color: #707071; font-size: 16px; line-height: 40px; font-weight: 400; padding-top:10px; }
.auto-result b{color: #000;font-weight: 600;}
.search-autocomplete{display: block; width: 100%; position: absolute; /* margin-top:4.8%; */ top: 60px; left:0px; background: #fff; z-index: 99999999; } 
.services-search{display: block; margin: 0; padding: 0; }
.services-search li{display: block; width: 100%; margin-bottom: 15px; }
.search-box-title{font-size: 13px;color: #626262;text-transform: uppercase;padding:0px 0px 10px 15px;font-family: 'Oswald', sans-serif;letter-spacing: 1px;}
.right-search-box{display: block; padding-top:45px; }

.autosearch_fluid{padding-right:0px;}
.autosearch_product_view{background-color: #f6f6f6;padding-left:0px;}
.auto-result{text-transform:lowercase;}
.auto-result div{line-height:normal;margin: 0px 0px 10px;}
.auto-result div a{font-family: 'Oxygen', sans-serif;color:#1a1a1a;text-decoration:none;font-weight: normal;color: #777;-webkit-transition:300ms ease;-moz-transition:300ms ease;transition:300ms ease;}
.auto-result div a:hover{color: #1a1a1a;}
.article_img_sec{padding-right:0px;}

.outer-article-box{width:100%;}
.article_img_sec{
	display: table-cell;
	vertical-align: top;
	padding-right: 10px;
	width: 100px;
	height: 80px;
}
.article_img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.article_content_sec{
	display: table-cell;
	vertical-align: top;
}

#divclose{
	position: absolute;
    right: 1px;
    top: 1px;
    font-size: 16px;
    font-weight: bold;
    color: grey;
    cursor: pointer;
    z-index: 1;
    background: #EFEFEF;
    height: 38px;
    line-height: 38px;
    width: 35px;
    text-align: center;
	display:none;
}

/* Responsive */

@media (max-width: 991px){
.header_middle_sec_inner{position:relative;}
.search-autocomplete{top:40px;}
.autosearch_product_view{display:none;}
}


