.shop-phone {
  color:#000;
  font-family: 'Oxygen', sans-serif;
  font-weight:400;
  font-size:11px;
  }
.shop-phone img{margin-right:8px;}
  @media (max-width: 767px) {
    .shop-phone {
      display: none; } }
  .shop-phone i {
    font-size: 21px;
    line-height: 21px;
    color: #fff;
    padding-right: 7px; }
  .shop-phone strong {
    color: #fff; }
  @media (max-width: 991px) {
    .shop-phone.is_logged {
      display: none; } }

.trackOrder{margin-left:15px;color:#000;font-family: 'Oxygen', sans-serif;font-weight:700;font-size:10px;text-transform:uppercase;}
.trackOrder img{margin-right:8px;}

.contact_sec_list span {
    text-transform: capitalize;
    color: #1a1a1a;
    font-family: 'Oxygen', sans-serif !important;
    font-weight: 700;
    font-size: 13px;
}

#contact-link {
  float: right;
  /*border-left: 1px solid #515151;*/ }
  @media (max-width: 479px) {
    #contact-link {
      text-align: center; } }
  #contact-link a {
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 8px 10px 11px 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 18px; }
    @media (max-width: 479px) {
      #contact-link a {
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px; } }
    #contact-link a:hover, #contact-link a.active {
      background: #2b2b2b; }
  @media (max-width: 767px) {
    #contact-link.is_logged {
      display: none; } }

@media (max-width: 767px) {
  #contact_block {
    margin-bottom: 20px; } }
#contact_block .label {
  display: none; }
#contact_block .block_content {
  color: #888888; }
#contact_block p {
  margin-bottom: 4px; }
#contact_block p.tel {
  font: 400 17px/21px Arial, Helvetica, sans-serif;
  color: #333;
  margin-bottom: 6px; }
  #contact_block p.tel i {
    font-size: 25px;
    vertical-align: -2px;
    padding-right: 10px; }

/*# sourceMappingURL=blockcontact.css.map */
