
::selection {
    background-color: #999999;
    color: #ffffff
}
::-moz-selection {
    background-color: #999999;
    color: #ffffff
}
html {
    margin: 0 !important;
    padding: 0 !important
}

body{
  font-family: 'Oswald', sans-serif;
}
a{-webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}


a:hover{color: #6f4c3d!important}

.navbar-default .navbar-nav>li>a:hover{color:#9d857b }
.navbar-default .navbar-nav>li>a:before{position:absolute;bottom:-2px;left:0;visibility:hidden;
  width:100%;height:2px;content:'';-webkit-transition:all .3s ease-in-out 0s;
  transition:all .3s ease-in-out 0s;
  -webkit-transform:scaleX(0);transform:scaleX(0);
  background-color:#9d857b}
.navbar-default .navbar-nav>li>a:hover:before{
  visibility:visible;-webkit-transform:scaleX(1);transform:scaleX(1)
}


.overlay-box{
  position: absolute;
  right: 5%;
  bottom: 0%;
  z-index: 10;
  width: 295px;
}
.slidebox-1{height: 100%;margin-bottom: 2px;}

/* Left Sidebar */

.leftSidebarSec{position:absolute;top:0px;left:0px;z-index:9999;}
.leftSidebarSec ul{list-style-type:none;margin:0px;padding: 0;}
.leftSidebarSec ul li .categoryImg{background: #828282;}
.leftSidebarSec ul li .categoryImg a{padding:17px 12px;border-bottom:1px solid #636363;transition:300ms ease;display:inline-block;}
.leftSidebarSec ul li .categoryImg a:hover{border-color:#FE7A4E;}
.leftSidebarSec ul li .categoryImg a img{width:48px;}
.leftSidebarSec ul li a{color:#fff;}
.leftSidebarSec ul li:last-child a.hvr-underline-from-left:before{bottom: 3px;height: 3px;}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  /*background: #c8232c;*/
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background:#FE7A4E/*#38aa38*/;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,.hvr-underline-from-left:focus:before,.hvr-underline-from-left:active:before {
  right: 0;
}

.top-header{
  padding: 20px 0 10px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #f1f1f1
}
.top-header .form-control{border: 1px solid #fff;
outline: none;box-shadow: none;
 font-size: 11px; color: #555555;font-family: 'Oxygen', sans-serif; font-weight: 400;}
.top-header .btn-default{border: 1px solid #fff;}
.pull-right li{ display: inline-block; text-transform:uppercase;color: #9d857b;font-family: 'Oxygen', sans-serif; font-weight: 400;font-size: 11px;
 padding-right: 30px }

 .pull-right.topmargin{ margin: 15px 0px }
.pull-right li img{ padding-right: 5px;}
.pull-right li span{font-size: 11px;color: #2d2d2d;font-family: 'Oxygen', sans-serif; font-weight: 400;}
.pull-right li.track-o{font-size: 11px;color: #2d2d2d;font-family: 'Oxygen', sans-serif; font-weight: 400;}

ul.mega-menu{float:left;display: inline-block;padding: 0;margin: 0; width: 13.88%;font-family: 'Oxygen', sans-serif; font-weight: 600;
 text-align: left;}

ul.mega-menu .nav-header{
  font-size: 10px;color: #9d857b;font-family: 'Oxygen', sans-serif; font-weight: 600;
  border-bottom: 1px solid #cccccc;text-transform: uppercase;
  padding-bottom: 0px;margin-bottom: 10px; letter-spacing: normal;
}
.mega-menu li {
    margin-right: 20px;letter-spacing: normal;line-height: 28px;text-transform: none; display: inline-block; text-align: left;
    width: 80%;list-style: none;font-family: 'Oxygen', sans-serif; font-weight: 400;color: #1a1a1a; font-size: 10px;
}
 .mega-menu li a{color: #1a1a1a;}
.mega-menu a.btn.btn-primary{font-family: 'Oswald', sans-serif;padding:5px 20px;
background: #fff;border: 1px solid #000;border-radius: 0px;margin: 10px;font-size: 12px;font-weight: 400;color: #000000;
 text-transform: uppercase;text-align: center;}
 .carousel-caption{
  right: 50%;
    left: 20%;
    padding-bottom:0px;
    top: 30%;
    width: 400px; height: 200px;
  }
.carousel-caption span{ text-shadow: none;color: #1a1a1a;font-family: 'Oxygen', sans-serif;
font-size: 13px;font-weight: 300;text-transform: uppercase; }
.carousel-caption span img{padding-left: 5px;}
.carousel-caption span a{color: #1a1a1a;text-decoration:none;}

.carousel-caption p{ text-shadow: none;color: #1a1a1a;padding: 0;margin: 0;
  font-family: 'Oxygen', sans-serif;font-size: 18px;font-weight:300;text-transform: uppercase; }

.carousel-caption h3{margin: 0; padding-bottom: 20px;
font-family: 'Oswald', sans-serif;font-size: 60px!important;font-weight: 300;color: #000000;
text-transform: uppercase; text-shadow: none;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-caption {
    text-shadow: 0 1px 4px rgba(0,0,0,.9);
  font-size:17px
}
.carousel-caption h3 {
  font-size: 30px;
  
}
    html,
    body,
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
      height: 500px;
    } 
    .item:nth-child(1) {
      background: url('../images/banner1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(2) {
      background: url('../images/banner2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(3) {
      background: url('../images/banner3.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

.container, .jumbotron .container { width: auto; max-width: 1170px; }

.jumbotron {
  margin:0!important;
  padding:0!important;
  background: none!important
}
  .jumbotron.intro {
    margin-top: 0;
  }

  .jumbotron .navbar {
    font-size: 13px;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
.nav>li>a{padding: 10px!important;}
.navbar {
    position: relative;
    min-height: 50px;
   
    margin:0 auto;
    margin-bottom: 0px!important;
    border: 0px solid transparent!important;
}

/* menu styes */
.list-unstyled,
.list-unstyled ul { min-width: 120px }


@media (min-width: 768px){
   .navbar-nav {
      float: none!important; text-align: center!important;
      margin: 0 auto!important;
      max-width:700px;  font-weight: 600;
      color: #2d2d2d;
  }
  .navbar-nav>li{padding-right: 15px;}
}

@media ( min-width: 767px ) {
  .panel-group { width: 400px; }
  .thumbnail { margin: 0; }
}

/* Grid demo styles */
.grid-demo {
  padding: 10px 30px;
}

  .grid-demo [class*="col-"] {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    text-align: center;
    line-height: 2;
    background-color: #e5e1ea;
    border: 1px solid #d1d1d1;
  }
  .yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;transition: opacity 1s ease;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;-webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s; z-index: 10000!important;

}
.yamm .yamm-content {
 /* padding: 20px 30px;*/
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;border: 0px solid #fff;
  padding: 30px 0px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: #fff!important;
  color: #9d857b!important;
  border-bottom: 2px solid #9d857b;
}
.navbar-default .navbar-nav>li>a{color: #1a1a1a!important;}
#navbar-collapse-grid{ background: #fff }
.box-wrapper {margin: 0px auto; overflow: hidden; border-top: 1px solid #f1f1f1; position: relative; padding:70px 0px 0px; }
.product-content {background-color: #ffeee6; border: 1px solid #dddddd; font-family: 'Oswald', sans-serif; }
.white{background: #fff!important;}
.nonebdr{border: 0px solid!important;}
.product-item-2 .product-content.nonepad{padding: 0;}
.btn.black:hover{color: #fff;background: #393939}
p.tagline{ text-align: center;color: #9d857b; line-height: 20px; font-family: 'Oxygen', sans-serif; font-weight: 400;}
.btn.black{ background: #1a1a1a; color: #fff;padding:11px 40px;font-family: 'Oswald', sans-serif;font-weight: 300; border-radius: 0px; margin:20px;text-transform: uppercase; }
.btn.black.margin0{ margin: 0; }
.margin-btm0{ margin-bottom: 0!important; }
.product-content h2 {font-size:60px; color: #1a1a1a!important; text-transform: uppercase; margin: 0; line-height:70px; text-align: center; font-weight: 300; padding:0 0 30px; }
.product-content h5 {
  font-size:18px;
  text-transform: uppercase;
  margin: 0;
  line-height: 24px;
  font-weight: 300;
 }
.product-content h5 a {
  color: #000;
}
.product-content h5 a:hover {
  color: #e84c3d;
}
.product-content span {
  color: #8d6f61;
  display: block;
}
.product-content span.tagline {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
.product-thumb img {
  width: 100%;
  height: 100%;
}
.product-item-1 {
  margin-bottom: 25px;
}
.product-item-1 .product-content {
  border-top: 0;
  padding: 20px 20px 15px 20px;
}
.product-item-1 .product-thumb {
  overflow: hidden;
}
.product-item-2 {
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
}
.product-item-2 .product-thumb {
  float: left;
  width: 100%;
}
.product-item-2 .product-thumb img {
  width: 100%;
  height: 100%;
}
.product-item-2 .product-content {
  float: right;
  border-left: 0;
  padding: 20px;
  overflow: hidden;
}
.product-item-2 .product-content.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 245, 243, 0.9);
  color: white;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.product-item-2 .product-content.overlay a {
  color: #e84c3d;
}
.product-item-2:hover .product-content.overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.product-item-3 {
  margin-bottom: 18px;
}
.product-item-3 .product-thumb {
  overflow: hidden;
}
.product-item-3 .product-thumb img {
  width: 100%;
}
.product-item-3 .product-content {
  border-top: 0;
  padding: 20px 20px 0 20px;
}
.product-item-3 .button-holder {
  width: 70%;
  height: 26px;
  text-align: center;
  background-color: #e84c3d;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
.product-item-3 .button-holder a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 26px;
  font-size: 24px;
}
.product-item-3 label {
  width: 60px;
  font-weight: normal;
}
.product-item-3 select, .product-item-3 option {
  color: #a3a7aa;
  border: 1px solid #c4c4c4;
}
.product-item-3 select:focus, .product-item-3 option:focus {
  outline: 0;
}
.product-item-4 {
  overflow: hidden;
  position: relative;
}
.product-item-4 .product-thumb {
  float: left;
  width: 100%;
}
.product-item-4 .product-content {
  float: right;
  border-left: 0;
  padding: 20px;
  overflow: hidden;
}
.product-item-4 .product-content.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.product-item-4 .product-content.overlay a {
  color: #e84c3d;
}
.product-item-4:hover .product-content.overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.product-item {
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  margin-bottom: 25px;
}
.product-item .product-content {
  border: 0;
  margin-top: 20px;
}
.product-item-vote {
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  margin-bottom: 18px;
}
.product-item-vote .product-content {
  border: 0;
  padding: 20px;
}
.news-title{
   border-bottom: 1px solid #e0e0e0;
   text-align: left;
   text-transform: uppercase; 
   font-weight: 500;
   font-family: 'Oswald', sans-serif; 
   color: #6f4c3d;
   font-size: 16px;
   padding:0 0px 10px;
   margin-bottom: 20px;
}
.news-section .product-content {
  background: #fff;
  padding: 0 0px;
}
.news-section .product-content h5{
  font-size:20px;
}
.news-section hr {
    margin-top: 18px;
    margin-bottom: 17.5px;
    border: 0;
    border-top: 1px solid #e0e0e0;
}
.content-section {
    margin: 60px 0;
    border-bottom: 0px solid #dddddd;
    padding-bottom: 0px;
}
.content-section.video-section{
    margin: 60px 0 0;
    padding-top: 40px;
    display: block;
    border-top: 1px solid #eee;
}
.overlay-icon{ position: absolute;z-index: 10;right: 10px;top: 10px; }
.play-vid{ display:table;position: absolute;width: 100%;height: 100%;left: 0;right: 0;background: url(../images/play-icon.png) no-repeat;}
.show-icon1{
  text-align: right;
   margin:0px;
   width: 100%;
   float: right;
}
.show-icon1 a{height: 17px;display: block; background: url(../images/icon1.png) no-repeat;}
.show-icon1 a:hover{height: 17px;display: block;background: url(../images/icon9_over.png) no-repeat;}
.show-icon2{
  text-align: right;
  margin:0px;
  width: 100%;
  float: right;
}
.demo .item-carousel{
            margin-bottom: 0px;
        }
    .content-slider li{
        width: 100%;
        text-align: center;
        color: #FFF;
    }
    .content-slider h3 {
        margin: 0;
        padding: 0px 0;
    }

/* slider Carousel */
.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    /*display: inline-block;*/
    padding: 0 5px;
    display: none;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('../images/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

.subscribe-container{
  background: #ffeee6;
  padding: 0px;
}

.card-content{
  background: #fafafa;
  padding:5px 20px 10px;
}
.card-content h4{
  color: #252525; font-size: 15px;
  text-transform: uppercase; font-weight: 500;font-family: 'Oswald', sans-serif; 
}
.card-content h5{
  color: #9d857b;font-size: 12px;
  font-family: 'Oxygen', sans-serif; font-weight: 400;
}
.card-content p{
  font-family: 'Oxygen', sans-serif; font-weight: 400;
  color: #000;font-size: 13px
}

.sectionbg1{
  background: url(../images/curveline.png) repeat-x top;
  width: 100%;
  padding-top: 20px;margin-top: 30px;
}

.section-title h2{margin: 0;
  font-size: 30px; line-height: 40px; 
  padding-bottom: 50px; color: #3c393e; text-align: center;
   text-transform: uppercase; font-weight: 500;font-family: 'Oswald', sans-serif; 
}
.section-title h2 span{
  color: #6c6c6c; font-weight: 300;
}

.main-footer {
    background-color: #fff;
    padding: 50px 0 0 0;
}

.footer-widget {
    margin-bottom: 40px;
}
h3.widget-title {
    font-weight: 300;
    color: #9d857b;
    margin: 0 0 20px 0;
    font-size: 14px;text-transform: uppercase;
    font-family: 'Oswald', sans-serif; 
    letter-spacing: 2px;
}

.main-footer ul {
    padding: 0;
    margin: 0;
    list-style: none;

}
.main-footer li{font-family: 'Oxygen', sans-serif; font-weight: 400; font-size: 11px; color: #1a1a1a;line-height: 25px; }
.main-footer li a{color: #1a1a1a; text-decoration: none;}
.main-footer ul.col-three{ display: inline-block;width: 31.5%;}

.bottom-footer {
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    padding: 20px 0;
    font-size: 12px;
}
.copyright{ font-size: 11px; color: #868686;font-family: 'Oxygen', sans-serif; font-weight: 300; line-height: 40px; }
.phone{ width: 16px; height: 16px; display: inline-block; vertical-align: top; padding:0 0px; }
.contact-details{ display: inline-block; padding-left: 10px; text-transform: uppercase;color: #9d857b }
.black{color: #000;}
.mail{ text-transform: none;} .mail a{color: #9d857b }
.h3-title{ font-size: 16px; color: #6f4c3d; text-align: center; text-transform: uppercase; font-weight: 500;font-family: 'Oswald', sans-serif; }
.content-section .small{ color: #9d857b; font-weight: 400; font-weight: 12px; padding-top: 20px;}

.slider-title{ text-align: center;text-transform: uppercase;font-family: 'Oswald', sans-serif;color: #2d2d2d; font-size: 24px; margin-top:50px;}
.slider-title .h5{font-family: 'Oswald', sans-serif;color: #2d2d2d; font-size: 23px;text-align: right; padding-bottom: 50px; font-weight: 300}
.slider-title h5 span{font-family: 'Oswald', sans-serif;color: #2d2d2d; font-size: 24px;font-weight: 500}
.slider-title h5{list-style: none; display: inline-block; float: right; margin: 0; padding:0; font-weight: 300; font-size: 24px;font-family: 'Oswald', sans-serif;}
.slider-title li.deactive{display: none;list-style: none;}
.slider-title ul{list-style: none;margin: 0; padding:0;}
.slider-title li{list-style: none;display: inline-block; line-height: normal;padding: 0;margin: 0;float:left;
text-transform: uppercase; font-weight: 600; font-size: 24px;font-family: 'Oswald', sans-serif; position: relative;top: 3px;left: -25px;}

.accounts-details{ position: absolute;right: 3.3%;margin-top: 10px}
.accounts-details ul{ list-style: none;display: block; }
.accounts-details li{float: right; vertical-align: middle; display: table;}
.accounts-details li a{vertical-align: top; display: inline-block;}
.accounts-details li img{margin-right: 15px; vertical-align: top; display: inline-block;}


.input-group{ border-bottom: 1px solid #eeeeee; width: 240px;}

.input-group-btn .btn.btn-default{ padding: 0;margin: 0;}
 .input-group-btn .btn.btn-default:hover{border: 1px solid #fff;background: none;padding: 0;margin: 0!important;}

.navbar-form .input-group>.form-control{padding: 0;color: #555555!important}

/*popup*/
#pop-quick-view-wrapper{position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /*opacity: 0.7;*/
    top: 0;
    left: 0; 
    right: 0;
    margin: 0 auto;
    z-index:111111
  }
#pop-quick-view{
    position:fixed; 
    height: auto;
    margin: 0 auto;
    top: 10%;
    left: 0%;
    right: 0%;
    width:700px;
    background: #000;
    opacity: 1;z-index:1111111}

#pop-close {
    height: 20px;
    width: 20px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
    position: absolute;right:20px;
    top: 20px;
    color: #fff;
    font-family: cursive;
    float: right;cursor:pointer;
}
#pop-content{width:100%;padding:5px;margin:0 auto;}

.icon-wrapper {
    position: absolute;
    right: 6%;
    top: 1.6%;
    width: 20px;
    z-index: 1;
}


@font-face {
  font-family: 'flexslider-icon';
  src:url('../fonts/flexslider-icon.eot');
  src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/flexslider-icon.woff') format('woff'),
    url('../fonts/flexslider-icon.ttf') format('truetype'),
    url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* zoom effect***/
.parent {
    width: 100%;
   /* margin: 20px;*/
    height: 100%;
   
    overflow: hidden;
    position: relative;
   /* float: left;
    display: inline-block;*/
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* Several different images */
.bg-one {background-image: url(https://media.timeout.com/images/101602611/image.jpg);}
.bg-two {background-image: url(http://s1.it.atcdn.net/wp-content/uploads/2015/08/2-London.jpg);}
.bg-three {background-image: url(https://media.timeout.com/images/101484105/image.jpg);}
.bg-four {background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Hollywood_Sign.jpg/1280px-Hollywood_Sign.jpg);}
.bg-five {background-image: url(http://www.travelandleisure.com/sites/default/files/styles/tnl_redesign_article_landing_page/public/1453920892/DUBAI-554088081-ABOVE0116.jpg?itok=dcoZnCrc);}
.bg-six {background-image: url(http://blog.whitepages.com/wp-content/uploads/2015/04/san-franc.jpg);}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
   /* background-color: rgba(255,238,230,0.75);*/
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%;}
        
}


/************ article styles*************/
.tagline{margin-bottom:10px;font-size: 13px;font-weight: 300;text-transform: uppercase;color: #8d6f61; display: block; font-family: 'Oxygen', sans-serif; }
 h2 {
  font-size:60px;
  color: #1a1a1a!important;
  text-transform: uppercase;
  margin: 0!important;
  line-height:normal;
  text-align: left;
  font-weight: 300;
  padding:0 0 20px;
   font-family: 'Oswald', sans-serif; 
}
 .mid-grey{
  font-size:30px;
  color: #868686!important;
  text-transform: uppercase;
  margin: 0!important;
  line-height:40px;
  text-align: left;
  font-weight: 300;
  padding:0 0 30px;
   font-family: 'Oswald', sans-serif; 
}
.social-icons-wrap{
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px 0px;
  display: inline-block;
  width: 100%;
}
.small-title{ color: #1a1a1a;font-family: 'Oxygen', sans-serif; font-weight: 600;text-transform: uppercase;font-size:13px; }
.date-title{color: #818181;font-family: 'Oxygen', sans-serif; font-weight: 600;text-transform: uppercase;font-size:13px;}
.normal-content{margin-bottom:30px;color: #1a1a1a;font-family: 'Oxygen', sans-serif; font-weight: 400;text-transform: none;font-size:14px;list-style: 25px; }
.img-margin{ margin: 35px 0px }
.fancy-title{color: #b3b587; font-family: 'Oxygen', sans-serif; font-weight: 300; text-transform: none; font-size: 27px; border-left: 2px solid #dbdf82; padding: 0px 10px; margin: 0px 25px 40px; font-style: italic; line-height: 35px; display: block; }
.news-title-static {border-bottom: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0; text-align: center; text-transform: uppercase; font-weight: 400; font-family: 'Oswald', sans-serif; color: #745d5d; font-size: 18px; padding: 10px 0px 10px; margin: 20px 0; }
a.btn.btn-primary {font-family: 'Oswald', sans-serif; padding: 10px 20px; background: #fff; border: 1px solid #000; border-radius: 0px; margin: 0px; font-size: 12px; font-weight: 400; color: #252525; text-transform: uppercase; text-align: center; width: 100%; }
.thumbnail.right-caption > img {float: left; margin-right: 9px; }
.thumbnail.right-caption {float: left; }

.thumbnail.right-caption > .caption {
    padding: 4px;
}

/************ overlay page layout style***********************/

body{ overflow-x: hidden; }

/* Overlay style */
.overlay-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 21.5%;
  left: 0;
  background: rgb(250,250,250);
  z-index: 100;

}

/* Overlay closing cross */
.overlay-page .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  display: none;
}

/* Menu style */
/*.overlay-page nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
*/
.overlay-page ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay-page ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}

.overlay-page ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay-page ul li a:hover,
.overlay-page ul li a:focus {
  color: #f0f0f0;
}


.container-page {
  background: #fff;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
}

.container-page.overlay-open {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.8s, visibility 0s 0.8s;
  transition: transform 0.8s, visibility 0s 0.8s;
}

.overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
}

@media screen and (max-height: 30.5em) {
  .overlay-page nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay-page ul li {
    min-height: 34px;
  }
}