header{z-index: 111;}
.top-header{
  padding: 20px 0 10px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #f1f1f1
  z-index:111;
}
.top-header .form-control{border: 1px solid #fff;
outline: none;box-shadow: none;
 font-size: 11px; color: #555555;font-family: 'Oxygen', sans-serif; font-weight: 400;}
.top-header .btn-default{border: 1px solid #fff;}
.pull-right li{ display: inline-block; text-transform:uppercase;color: #9d857b;font-family: 'Oxygen', sans-serif; font-weight: 400;font-size: 11px;
 padding-right: 30px }

 .pull-right.topmargin{ margin: 15px 0px }
.pull-right li img{ padding-right: 5px;}
.pull-right li span{font-size: 11px;color: #2d2d2d;font-family: 'Oxygen', sans-serif; font-weight: 400;}
.pull-right li.track-o{font-size: 11px;color: #2d2d2d;font-family: 'Oxygen', sans-serif; font-weight: 400;}

ul.mega-menu{float:left;display: inline-block;padding: 0;margin: 0; width: 13.88%;font-family: 'Oxygen', sans-serif; font-weight: 600;
 text-align: left;}

ul.mega-menu .nav-header{
  font-size: 10px;color: #9d857b;font-family: 'Oxygen', sans-serif; font-weight: 600;
  border-bottom: 1px solid #cccccc;text-transform: uppercase;
  padding-bottom: 0px;margin-bottom: 10px; letter-spacing: normal;
}
.mega-menu li {
    margin-right: 20px;letter-spacing: normal;line-height: 28px;text-transform: none; display: inline-block; text-align: left;
    width: 80%;list-style: none;font-family: 'Oxygen', sans-serif; font-weight: 400;color: #1a1a1a; font-size: 10px;
}
 .mega-menu li a{color: #1a1a1a;}
.mega-menu a.btn.btn-primary{font-family: 'Oswald', sans-serif;padding:5px 20px;
background: #fff;border: 1px solid #000;border-radius: 0px;margin: 10px;font-size: 12px;font-weight: 400;color: #000000;
 text-transform: uppercase;text-align: center;}

 .container, .jumbotron .container { width: auto; max-width: 1170px; }

.jumbotron {
  margin:0!important;
  padding:0!important;
  background: none!important
}
  .jumbotron.intro {
    margin-top: 0;
  }

  .jumbotron .navbar {
    font-size: 13px;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1;
  }

.navbar-default .navbar-nav>li>a:hover{color:#9d857b }
.navbar-default .navbar-nav>li>a:before{position:absolute;bottom:-2px;left:0;visibility:hidden;
  width:100%;height:2px;content:'';-webkit-transition:all .3s ease-in-out 0s;
  transition:all .3s ease-in-out 0s;
  -webkit-transform:scaleX(0);transform:scaleX(0);
  background-color:#9d857b}
.navbar-default .navbar-nav>li>a:hover:before{
  visibility:visible;-webkit-transform:scaleX(1);transform:scaleX(1)
}


.nav>li>a{padding: 10px!important;}
.navbar {
    position: relative;
    min-height: 38px;
   
    margin:0 auto;
    margin-bottom: 0px!important;
    border: 0px solid transparent!important;
}

/* menu styes */
.list-unstyled,
.list-unstyled ul { min-width: 120px }


@media (min-width: 768px){
   .navbar-nav {
      float: none!important; text-align: center!important;
      margin: 0 auto!important;
      max-width:820px;  font-weight: 600;
      color: #2d2d2d;
  }
  .navbar-nav>li{padding-right: 15px;}
}

@media ( min-width: 767px ) {
  .panel-group { width: 400px; }
  .thumbnail { margin: 0; }
}

/* Grid demo styles */
.grid-demo {
  padding: 10px 30px;
}

  .grid-demo [class*="col-"] {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    text-align: center;
    line-height: 2;
    background-color: #e5e1ea;
    border: 1px solid #d1d1d1;
  }
  .yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;transition: opacity 1s ease;
  background: #fff;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;-webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s; z-index: 10000!important;

}
.yamm .yamm-content {
 /* padding: 20px 30px;*/
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;border: 0px solid #fff;
  padding: 30px 0px;
  background: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: #fff!important;
  color: #9d857b!important;
  border-bottom: 2px solid #9d857b;
}
.navbar-default .navbar-nav>li>a{color: #1a1a1a!important;}
#navbar-collapse-grid{ background: #fff }


.accounts-details{ position: absolute;right: 3.3%;margin-top: 10px}
.accounts-details ul{ list-style: none;display: block; }
.accounts-details li{float: right; vertical-align: middle; display: table;}
.accounts-details li a{vertical-align: top; display: inline-block;}
.accounts-details li img{margin-right: 15px; vertical-align: top; display: inline-block;}


.input-group{ border-bottom: 1px solid #eeeeee; width: 240px;}

.input-group-btn .btn.btn-default{ padding: 0;margin: 0;}
 .input-group-btn .btn.btn-default:hover{border: 1px solid #fff;background: none;padding: 0;margin: 0!important;}

.navbar-form .input-group>.form-control{padding: 0;color: #555555!important}


/* newsleeeter*/
.subscribe-container{
  background: #ffeee6;
  padding: 0px;
}

.container, .jumbotron .container {
    width: auto;
    max-width: 1170px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* footer */
.card-content{
  background: #fafafa;
  padding:5px 20px 10px;
}
.card-content h4{
  color: #252525; font-size: 15px;
  text-transform: uppercase; font-weight: 500;font-family: 'Oswald', sans-serif; 
}
.card-content h5{
  color: #9d857b;font-size: 12px;
  font-family: 'Oxygen', sans-serif; font-weight: 400;
}
.card-content p{
  font-family: 'Oxygen', sans-serif; font-weight: 400;
  color: #000;font-size: 13px
}

.sectionbg1{
  background: url(../images/curveline.png) repeat-x top;
  width: 100%;
  padding-top: 20px;margin-top: 30px;
}

.section-title h2{margin: 0;
  font-size: 30px; line-height: 40px; 
  padding-bottom: 50px; color: #3c393e; text-align: center;
   text-transform: uppercase; font-weight: 500;font-family: 'Oswald', sans-serif; 
}
.section-title h2 span{
  color: #6c6c6c; font-weight: 300;
}

.main-footer {
    background-color: #fff;
    padding: 50px 0 0 0;
}

.footer-widget {
    margin-bottom: 40px;
}
h3.widget-title {
    font-weight: 300;
    color: #9d857b;
    margin: 0 0 20px 0;
    font-size: 14px;text-transform: uppercase;
    font-family: 'Oswald', sans-serif; 
    letter-spacing: 2px;
}

.footer-container .container{padding-bottom:none !important;}

.main-footer ul {
    padding: 0;
    margin: 0;
    list-style: none;

}
.main-footer li{font-family: 'Oxygen', sans-serif; font-weight: 400; font-size: 11px; color: #1a1a1a;line-height: 25px; }
.main-footer li a{color: #1a1a1a; text-decoration: none;}
.main-footer ul.col-three{ display: inline-block;width: 31.5%;}

.bottom-footer {
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    padding: 20px 0;
    font-size: 12px;
}
.copyright{ font-size: 11px; color: #868686;font-family: 'Oxygen', sans-serif; font-weight: 300; line-height: 40px; }
.phone{ width: 16px; height: 16px; display: inline-block; vertical-align: top; padding:0 0px; }
.contact-details{ display: inline-block; padding-left: 10px; text-transform: uppercase;color: #9d857b }
.black{color: #000;}
.mail{ text-transform: none;} .mail a{color: #9d857b }
.h3-title{ font-size: 16px; color: #6f4c3d; text-align: center; text-transform: uppercase; font-weight: 500;font-family: 'Oswald', sans-serif; }
.content-section .small{ color: #9d857b; font-weight: 400; font-weight: 12px; padding-top: 20px;}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-search:before {
    content: "\e003";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}