::selection {
    background-color: #999999;
    color: #ffffff
}
::-moz-selection {
    background-color: #999999;
    color: #ffffff
}
html {
    margin: 0 !important;
    padding: 0 !important
}
.mainIndex #module-content {
    padding-top: 0
}
.mainIndex #module-content #col-main {
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 30px;
    background-color: #ffffff
}
.mainIndex #header {
    width: 100%;
    left: 0;
    top: 0 !important;
    background: transparent
}
.box_wrapper {
    margin: 0px auto;
    overflow: hidden;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    position: relative
}

#page {
    padding: 0 !important;
    background-color: #ffffff
}
#page.box {
    -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -ms-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    left: 0;
    position: relative;
    z-index: 15
}
.box-wrap {
    position: relative;
    overflow: hidden
}#phantom #header {
    -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -ms-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1)
}#header.on.sticky #top-bar {
    display: none
}#header #result-ajax a {
    text-transform: none;
    font-weight: normal;
    font-size: 13px;
    white-space: normal;
    color: #2d2d2d
}
#result-ajax .marked {
    color: #d26e4b;
    font-weight: bold
}

#header .pc_navbar .pc_nav .is-mega.style_2 {
    position: relative
}
#header .pc_navbar .pc_nav {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
    margin-right: -15px
}
#header .pc_navbar .pc_nav .is-mega {
    position: static
}
#header .pc_navbar .pc_nav .is-mega:hover .mega-menu {
    display: block !important
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 {
    display: none;
    width: 100%;
    padding: 20px 15px;
    left: 0;
    top: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    position: absolute;
    overflow: hidden;
    background-color: #ffffff
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner .child>li>a {
    padding: 8px 0;
    cursor: pointer;
    display: block;
    color: #767676;
    font-size: 13px;
    border-bottom: 1px solid #f1f1f1
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner .child>li>a:hover {
    color: #000000
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner .img-visual {
    line-height: 1;
    padding: 8px 0 0
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner .img-visual a {
    padding: 0;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0 !important
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner .img-visual a .img-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner .img-visual a .img-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #d26e4b;
    opacity: 0.1;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner .img-visual a .img-cpt {
    white-space: normal;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50% !important;
    top: auto !important;
    text-align: center;
    -webkit-transform: translateY(50%) !important;
    -ms-transform: translateY(50%) !important;
    transform: translateY(50%) !important;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 60%;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #ffffff
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner .img-visual a:hover .img-bg:before {
    opacity: 0.4
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner .img-visual a:hover img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px)
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner .img-visual a img {
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    max-height: 360px
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner>li {
    position: static;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 15px;
    width: 14%;
    display: inline-block;
    vertical-align: top
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner>li.hover>a i {
    display: block
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner>li>a {
    padding: 4px 0;
    line-height: 10px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: block;
    font-size: 14px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .inner>li>a i {
    font-style: normal;
    float: right;
    line-height: 20px;
    display: none
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 .hover .mega-menu-content {
    display: block
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_1 ul {
    padding: 0;
    font-size: 0
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 {
    display: none;
    width: 100%;
    padding: 20px 15px 0;
    left: 0;
    top: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    position: absolute;
    overflow: hidden;
    background-color: #ffffff;
    background-position: 100% 100%;
    background-repeat: no-repeat
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner .child>li>a {
    padding: 8px 0;
    cursor: pointer;
    display: block;
    color: #767676;
    font-size: 13px;
    border-bottom: 1px solid #f1f1f1
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner .child>li>a:hover {
    color: #000000
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner .img-visual {
    line-height: 1;
    padding: 5px 0
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner .img-visual a {
    padding: 0;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0 !important
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner .img-visual a .img-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner .img-visual a .img-bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #d26e4b;
    opacity: 0.1;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner .img-visual a .img-cpt {
    white-space: normal;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50% !important;
    top: auto !important;
    text-align: center;
    -webkit-transform: translateY(50%) !important;
    -ms-transform: translateY(50%) !important;
    transform: translateY(50%) !important;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 60%;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #ffffff
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner .img-visual a:hover .img-bg:before {
    opacity: 0.4
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner .img-visual a:hover img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px)
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner .img-visual a img {
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    max-height: 360px
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner>li {
    position: static;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner>li.hover>a i {
    display: block
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner>li>a {
    padding: 4px 0;
    line-height: 20px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: block;
    font-size: 14px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .inner>li>a i {
    font-style: normal;
    float: right;
    line-height: 20px;
    display: none
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 .hover .mega-menu-content {
    display: block
}
#header .pc_navbar .pc_nav .is-mega .mega-menu.style_2 ul {
    padding: 0;
    font-size: 0
}
#header .pc_navbar .pc_nav li {
    padding: 0;
    display: block;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}
#header .pc_navbar .pc_nav li:hover {
    z-index: 5
}
#header .pc_navbar .pc_nav li a {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}
#header .pc_navbar .pc_nav li .dropdown-menu {
    min-width: 210px;
    padding: 0;
    left: 15px;
    background: #ffffff
}
#header .pc_navbar .pc_nav li .dropdown-menu li {
    padding: 0;
    margin: 0;
    border-top: 1px solid #f1f1f1
}
#header .pc_navbar .pc_nav li .dropdown-menu li a {
    padding: 0 20px;
    line-height: 36px;
    cursor: pointer;
    display: block;
    color: #767676 !important;
    font-size: 13px
}
#header .pc_navbar .pc_nav li .dropdown-menu li:hover>a {
    color: #000 !important
}
#header .pc_navbar .pc_nav li .dropdown-menu li:first-child {
    border-top: 0
}
#header .pc_navbar .pc_nav li .dropdown-menu>li:hover>a i {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg)
}
#header .pc_navbar .pc_nav li .dropdown-menu>li>a {
    position: relative
}
#header .pc_navbar .pc_nav li .dropdown-menu>li>a span {
    display: table-cell;
    width: 100%
}
#header .pc_navbar .pc_nav li .dropdown-menu>li>a i {
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 36px;
    display: table-cell;
    font-size: 80%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}
#header .pc_navbar .pc_nav>li {
    margin: 0 1px 0;
    padding: 0;
    float: left;
    height: 92px;
    line-height: 92px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none
}
#header .pc_navbar .pc_nav>li:hover>a,
#header .pc_navbar .pc_nav>li.active>a {
    color: #627f9a
}
#header .pc_navbar .pc_nav>li:hover>a>span,
#header .pc_navbar .pc_nav>li.active>a>span {
    border-bottom: 1px solid #627f9a
}
#header .pc_navbar .pc_nav>li>a {
    font-family: "Lato", sans-serif;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding: 0 15px;
    display: inline-block;
    font-size: 14px
}
#header .pc_navbar .pc_nav>li>a i {
    font-size: 80%;
    padding-left: 5px
}
#header .pc_navbar .pc_nav>li>a>span {
    display: inline-block;
    height: 50px;border: 1px solid red;
    line-height: 40px
}
#header .pc_navbar .pc_nav>li>a>span>span {
    display: inline-block
}
#header .pc_navbar .pc_nav>li>a>span>span .icon-bar {
    background: #000000;
    width: 18px;
    height: 2px;
    display: block;
    margin-top: 3px
}
#header .pc_navbar .customer-menu-icon .dropdown-menu {
    left: auto !important;
    right: 15px !important
}#header .main-logo a {
    font-size: 30px;
    font-weight: 300;
    color: #627f9a;
    display: inline-block;
    opacity: 1;
    filter: alpha(opacity=100);
    max-width: 100%;
    text-transform: none;
    line-height: 1;
    font-family: "Lato", sans-serif;
    vertical-align: middle
}
#header .main-logo a:hover {
    color: #ffffff
}
#header .top_links {
    padding-top: 10px;
    display: inline-block
}
#header .top_links>ul {
    margin-bottom: 5px
}#header {
    position: relative;
    top: 0 !important;
    z-index: 10;
    background: transparent
}
#header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #ffffff
}
#header.sticky #site-navigation-wrap {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}
#header.on {
    position: fixed !important;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(30, 30, 30, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(30, 30, 30, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(30, 30, 30, 0.2)
}
#header.on:before {
    opacity: 0.77 !important;
    filter: alpha(opacity=77) !important
}
#header.on:hover:before {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important
}
#header.on.sticky .pc_navbar .pc_nav>li>a>span,
#header.on.sticky #site-logo,
#header.on.sticky #site-navigation-wrap,
#header.on.sticky .pc_navbar .pc_nav>li {
    height: 52px;
    line-height: 52px
}
#header .navigation_wrapper {
    position: relative;
    display: table;
    width: 100%
}
#header #site-logo {
    display: table-cell;
    vertical-align: middle;
    height: 92px;
    line-height: 92px
}
#header #site-navigation-wrap {
    height: 92px;
    line-height: 92px;
    display: table-cell;
    vertical-align: middle
}

#header .customer-menu-icon .dropdown-menu {
    display: none;
    margin: 0;
    right: 0;
    left: auto;
    text-align: right
}
#header .customer-menu-icon:hover .dropdown-menu {
    display: block
}
#header.on.sticky .cart-menu-icon em {
    top: 11px
}
#top-bar {
    background-color: #fff;
    color: #ffffff;
    z-index: 11;
    position: relative;
    line-height: 1;
    font-family: "Lato", sans-serif;
    font-size: 16px
}
#top-bar .left-text {
    opacity: 1;
    font-size: 80%;
    padding: 10px 0
}
#top-bar .html,
#top-bar .top-bar-nav {
    display: inline-block
}
#top-bar .html>* {
    display: inline-block
}
#top-bar .right-text {
    font-size: 80%;
    padding: 10px 0
}
#top-bar ul.top-bar-nav {
    margin: 0;
    line-height: 100%
}
#top-bar ul.top-bar-nav li {
    line-height: 12px;
    list-style: none;
    position: relative;
    display: inline-block;
    border-left: 1px solid #dfdfdf;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px
}
#top-bar ul.top-bar-nav li:first-child {
    border: 0
}
#top-bar ul.top-bar-nav li>a {
    color: #ffffff
}
#top-bar ul.top-bar-nav li>a:hover {
    text-decoration: underline
}
.product_item.border .product .wrap>a {
    visibility: hidden;
    display: block
}
html[xmlns] .slides {
    display: block
}
* html .slides {
    height: 1%
}
.no-js .slides>li:first-child {
    display: block
}
.flexslider {
    position: relative;
    z-index: 5
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}
.loading .flex-viewport {
    max-height: 300px
}
.flexslider .slides {
    zoom: 1
}
.carousel li {
    margin-right: 5px
}
.flexslider .slides .slider-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.05;
    filter: alpha(opacity=5)
}
.flex-direction-nav {
    height: 0
}
.flex-direction-nav a {
    font-size: 0;
    text-decoration: none;
    display: block;
    width: 46px;
    height: 46px;
    margin: -23px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    color: #fff !important;
    border: 2px solid #ffffff;
    background-color: transparent;
    text-align: center;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    border-radius: 50% !important
}
.flex-direction-nav a:hover {
    color: #000 !important;
    background-color: #ffffff
}
.flex-direction-nav .flex-prev {
    left: 20px
}
.flex-direction-nav .flex-next {
    right: 20px
}
.flexslider:hover .flex-direction-nav a,
.flexslider:hover .flex-control-paging li a {
    opacity: 1;
    filter: alpha(opacity=100)
}
.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
    cursor: default
}
.flex-direction-nav a:before {
    display: block;
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    position: absolute;
    left: 0;
    top: 0;
    height: 42px;
    line-height: 42px;
    width: 42px;
    text-align: center;
    font-size: 24px;
    content: "\e600"
}
.flex-direction-nav a.flex-next:before {
    content: "\e601"
}
.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000
}
.flex-pauseplay a:before {
    font-family: "FontAwesome";
    font-size: 20px;
    display: inline-block;
    content: '\f004'
}
.flex-pauseplay a:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}
.flex-pauseplay a.flex-play:before {
    content: '\f003'
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
    z-index: 10
}
.flex-control-nav li {
    margin: 0 3px;
    display: inline-block;
    zoom: 1;
    *display: inline
}
.flex-control-paging li a {
    height: 12px;
    width: 12px;
    border: 2px solid #fff;
    display: block;
    float: left;
    border-radius: 50% !important;
    margin-left: 5px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    text-indent: -9999em;
    font-size: 0;
    opacity: 0;
    filter: alpha(opacity=0)
}
.flex-control-paging li:first-child a {
    margin-left: 0
}
.flex-control-paging li a:hover {
    background: #fff
}
.flex-control-paging li a.flex-active {
    cursor: default;
    background: #fff
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0
}
.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    filter: alpha(opacity=70);
    cursor: pointer
}
.flex-control-thumbs img:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: default
}
@media screen and (max-width: 860px) {
    .touch #home-slider .flex-direction-nav {
        display: none !important
    }
}
.flexslider .caption {
    position: absolute
}
.flexslider .caption.header {
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 25%;
    left: auto;
    text-align: center;
    max-width: 100%;
    width: 100%;
    line-height: 1
}
.flexslider .caption.header h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    line-height: 1;
    padding: 0 0 30px;
    display: block;
    position: relative;
    margin: 0
}
.flexslider .caption.sub {
    left: 0;
    position: relative;
    white-space: normal;
    padding: 0;
    position: relative
}
.flexslider .caption.header .caption-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}
.flexslider .caption.header .caption-content {
    position: relative;
    z-index: 2;
    line-height: 1;
    white-space: normal
}
.flexslider .caption.header .caption-link {
    line-height: normal
}
#scroll-top {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-backface-visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    position: fixed;
    bottom: -50px;
    z-index: 1000;
    display: block;
    right: 20px;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 38px;
    height: 38px;
    line-height: 36px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important
}#scroll-top.on {
    bottom: 20px;
    opacity: 0.5;
    filter: alpha(opacity=50)
}
#scroll-top:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}
#scroll-top i {
    font-size: 18px;
    line-height: 0;
    font-style: normal;
    line-height: 36px
}#special-offers .owl-item [class*="col-"] {
    width: 100%
}
#special-offers .owl-controls {
    position: static
}
#special-offers .owl-controls .owl-buttons {
    height: 0
}
#special-offers .owl-controls .owl-buttons>div {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    line-height: 40px
}
#special-offers .owl-controls .owl-buttons>div.owl-next {
    right: 10px
}
#special-offers .owl-controls .owl-buttons>div.owl-prev {
    left: 10px
}
#special-offers .owl-controls .owl-buttons>div i {
    font-size: 40px;
    color: #ffffff
}
#special-offers .offer .offer-wrap {
    text-align: center
}
#special-offers .offer .offer-img {
    position: relative;
    display: inline-block;
    max-width: 100%
}
#special-offers .offer .offer-img:hover .offer-cpt:before {
    opacity: 1;
    filter: alpha(opacity=100)
}
#special-offers .offer .offer-img .offer-cpt {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    z-index: 5
}
#special-offers .offer .offer-img .offer-cpt:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #d26e4b;
    opacity: 0.66;
    filter: alpha(opacity=66);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out
}
#module-content {
    max-height: 100%;
    width: 100%;
    background: #ffffff
}

#module-content #sidebar>.widget-wrapper:last-child {
    margin-bottom: 30px
}
#module-content #sidebar .blog-page .blog-tag-data li:last-child {
    padding-bottom: 0;
    margin-bottom: 5px
}
#module-content #sidebar .blog-page .blog-tag-data li:first-child {
    margin-top: 0
}#home-slider {
    margin-top: 5px;
    overflow: hidden;
    min-height: 100px;
    max-height: 640px
}
#home-slider .countdown-section {
    line-height: normal
}
#home-slider .count_holder_small {
    z-index: 10
}
#home-slider.within-container {
    margin-top: 20px
}
#home-slider h2 {
    font-weight: lighter !important
}
#home-slider.is_loading .icon_spinner {
    display: block !important;
    position: absolute
}
#home-slider .slide-caption-wrapper {
    display: inline-block;
    padding: 30px 30px 5px
}
#home-slider .slide-badge-wrapper {
    display: inline-block
}.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none
}
.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none
}
.flexslider {
    margin: 0;
    padding: 0
}
.flexslider .slides>li {
    padding: 0;
    display: none;
    -webkit-backface-visibility: hidden
}
.flexslider .slides img {
    width: 100%;
    display: block
}
.flex-pauseplay span {
    text-transform: capitalize
}
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

