{if isset($videogallery_home) && !empty($videogallery_home)}
<div class="video btm_video_sec">
<iframe width="683" height="410" frameborder="0" src="{$videogallery_home.video_url}"></iframe>
</div>
{/if}