{if isset($videogallery_category) && !empty($videogallery_category)}
<ul>   
    <li>
        <div>
           {$videogallery_category.title}                       
        </div> 
    </li>
     <li>
        <div>           
           <li><iframe width="550" height="350" src="{$videogallery_category.video_url}"></iframe></li>             
        </div>
    </li>
  
</ul>
{/if}