/* Events & News */

.event-sec{}
.event-sec-title{
	border-bottom: 1px solid #e0e0e0;
	text-align: left;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	color: #323232;
	font-size: 16px;
	padding: 0 0px 10px;
	margin-bottom: 20px;
}
.event-sec-title img{
	vertical-align: bottom;
	display: inline;
	margin-right: 5px
}

.event-block li{margin:0px 0px 15px;padding:0px 0px 15px;border-bottom:1px solid #e0e0e0;}

.event-block li p:not(:first-child){
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	color:#000;
	line-height: 20px;
	font-weight: 300;
	padding:0px 0px 8px 15px;
	margin:0px 0px 8px;
	position:relative;
	/* border-bottom:1px dotted #e0e0e0; */
}
.event-block li p a{-webkit-transition:300ms ease;-moz-transition:300ms ease;transition:300ms ease;line-height: 24px;}
.event-block li p:not(:first-child):before{position:absolute;top:0px;left:0px;content:">";color:#737373;}
.event-block li p:last-child{margin:0px;padding:0px 0px 0px 15px;border:none;}
.event-block li p:not(:first-child) a{color:#000;}
.event-block li p:not(:first-child) a:hover, .event-block li p:not(:first-child) a:focus {text-decoration:underline;color:#98055e;}

.event-block li p.category_name{
	margin-bottom: 5px;
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: left;
	color:#6f4c3d;
}
.event-block li:last-child{border:none;margin:0px;padding:0px;}
.event-block{max-height:415px;}

@media (max-width: 768px){
.event-block li p.category_name{font-size:12px;}
.event-block li p:not(:first-child){font-size:16px;}
}

